<!-- Modal -->
<div class="modal fade" id="createAccount" tabindex="-1" role="dialog" aria-labelledby="createAccount" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="txtStaffName form-label">Staff Name</label>
              <input type="text" class="form-control" id="txtStaffName" data-ng-model="staff.name" />
          </div>
          
          <div class="form-group">
              <label for="sltStaffPosition form-label">Staff Position</label>
              <select id="sltStaffPosition" class="form-control" data-ng-model="staff.position"
                data-ng-options="position as position.name for position in positionList">
              </select>
          </div>
          
          <div class="form-group">
              <label for="sltTransporter form-label">Transporter ID</label>
              <select id="sltTransporter" class="form-control" data-ng-model="staff.transporter">
                  <option value="0" selected>N/A</option>
                  <option value="1">TS</option>
                  <option value="2">TAK</option>
                  <option value="3">MP</option>
              </select>
          </div>
          
          <div class="form-group">
              <label for="sltType form-label">Type</label>
              <select id="sltType" class="form-control" data-ng-model="staff.type">
                  <option value="0" selected>N/A</option>
                  <option value="1">Compactor</option>
                  <option value="2">Hooklift</option>
                  <option value="3">Prime Mover</option>
                  <option value="4">Service Truck</option>
                  <option value="5">Box Van</option>
              </select>
          </div>         
          
          <div class="form-group" data-ng-hide="staff.position.name == 'Driver'">
              <label for="txtLoginUsername form-label">Login Username</label>
              <input type="text" class="form-control" id="txtLoginUsername" data-ng-model="staff.username" />
          </div>
          
          <div class="form-group" data-ng-hide="staff.position.name == 'Driver'">
              <label for="txtLoginPassword form-label">Login Password</label>
              <input type="password" class="form-control" id="txtLoginPassword" data-ng-model="staff.password" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button data-ng-show="showCreateBtn" type="button" class="btn btn-primary" data-ng-click="addUser();">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Account Management</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" placeholder="&#XF002; Search here..." data-ng-model="searchStaffFilter" />
    </div>
</div>
<br />
<div class="row" data-ng-show="show.create == 'A'">
    <div class="col-md-1">
        <button class="btn btn-success" data-toggle="modal" data-target="#createAccount"><i class="fa fa-plus"></i> New</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" data-ng-click="exportFile('exportAccount')">Export</button>
    </div>    
    <div class="col-md-1 offset-md-9" style="padding-top: 10px">
        <label style="cursor: pointer;"><input type="checkbox" data-ng-model="statusList" data-ng-click="updateStatusList()"> Active</label>
    </div>
</div>
<br />
<div class="row" data-ng-show="show.view == 'A'">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-clickable">
                <thead>
                    <tr>
                        <th width="20%" data-ng-click="orderBy('id');">Staff Code <i class="fas fa-sort-down"></i></th>
                        <th width="35%" data-ng-click="orderBy('name');">Name <i class="fas fa-sort-down"></i></th>
                        <th width="15%" data-ng-click="orderBy('username');">Username <i class="fas fa-sort-down"></i></th>
                        <th width="20%" data-ng-click="orderBy('position');">Position <i class="fas fa-sort-down"></i></th>
                        <th width="10%" data-ng-click="orderBy('status');">Status <i class="fas fa-sort-down"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="s in staffList | filter: searchStaff | offset: (pagination.currentPage - 1) * pagination.itemsPerPage | limitTo: pagination.itemsPerPage" class="clickable-row" data-ng-click="loadDetails('account', s.id)">
                        <td data-ng-bind="s.id"></td>
                        <td data-ng-bind="s.name"></td>
                        <td data-ng-bind="s.username"></td>
                        <td data-ng-bind="s.position"></td>
                        <td data-ng-bind="s.status"></td>
                    </tr>
                </tbody>
            </table>
        </div>
            </div>
        </div>
        <div class="row" style="position: fixed;bottom: 0; margin-bottom: 56px;">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="pagination.currentPage" data-max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
        <div data-ng-hide=true>
            <table id="exportAccount">
                <thead>
                    <tr>
                        <th width="20%">Staff Code <i class="fas fa-sort-down"></i></th>
                        <th width="35%">Name <i class="fas fa-sort-down"></i></th>
                        <th width="15%">Username <i class="fas fa-sort-down"></i></th>
                        <th width="20%">Position <i class="fas fa-sort-down"></i></th>
                        <td width="15%">Transporter ID</td>
                        <td width="15%">Type</td>
                        <th width="10%">Status <i class="fas fa-sort-down"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="s in staffList | filter: searchStaff" >
                        <td data-ng-bind="s.id"></td>
                        <td data-ng-bind="s.name"></td>
                        <td data-ng-bind="s.username"></td>
                        <td data-ng-bind="s.position"></td>
                        <td>
                            <span data-ng-if="s.transporter == '0'">N/A</span>
                            <span data-ng-if="s.transporter == '1'">TS</span>
                            <span data-ng-if="s.transporter == '2'">TAK</span>
                            <span data-ng-if="s.transporter == '3'">MP</span>                      
                        </td>
                        <td>
                            <span data-ng-if="s.type == '0'">N/A</span>
                            <span data-ng-if="s.type == '1'">Compactor</span>
                            <span data-ng-if="s.type == '2'">Hooklift</span>
                            <span data-ng-if="s.type == '3'">Prime Mover</span>
                            <span data-ng-if="s.type == '4'">Service Truck</span>
                            <span data-ng-if="s.type == '5'">Box Van</span>                            
                        </td>
                        <td data-ng-bind="s.status"></td>
                    </tr>
                </tbody>
            </table>              
        </div>      
    </div>
</div>