<!-- ACR Modal -->
<div class="modal fade" id="createDCS" tabindex="-1" role="dialog" aria-labelledby="createDCS" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a DCS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="txtDcsPeriodFrom form-label">Period From</label>
              <input type="date" class="form-control" id="txtDcsPeriodFrom" data-ng-model="dcs.periodFrom" />
          </div>
          
          <div class="form-group">
              <label for="txtDcsPeriodTo form-label">Period To</label>
              <input type="date" class="form-control" id="txtDcsPeriodTo" data-ng-model="dcs.periodTo" />
          </div>
          <div class="form-group">
            <label for="txtDcsDriver form-label">Driver</label>
            <select type="text" class="form-control" id="txtCustomer" data-ng-model="dcs.driverID">
                <option data-ng-repeat="d in driverList" value={{d.staffID}}>{{d.staffID}}: {{d.staffName}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="txtDcsReplacementPeriodFrom form-label">Replacement Period From</label>
            <input type="date" class="form-control" id="txtDcsReplacementPeriodFrom" data-ng-model="dcs.replacementPeriodFrom" />
          </div>
      
          <div class="form-group">
              <label for="txtDcsReplacementPeriodTo form-label">Replacement Period To</label>
              <input type="date" class="form-control" id="txtDcsReplacementPeriodTo" data-ng-model="dcs.replacementPeriodTo" />
          </div>
          <div class="form-group">
            <label for="txtDcsReplacementDriver form-label">Replacement Driver</label>
            <select type="text" class="form-control" id="txtCustomer" data-ng-model="dcs.replacementDriverID">
                <option data-ng-repeat="d in driverList" value={{d.staffID}}>{{d.staffID}}: {{d.staffName}}</option>
            </select>
          </div>
   
          
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="addDcs();">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>ACR Management</h5>
    </div>
</div>

<br />
<div class="row" data-ng-show="show.create == 'A'">
    <div class="col-md-11">
        <button class="btn btn-success" data-toggle="modal" data-target="#createDCS"><i class="fa fa-plus"></i> New</button>
    </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
      <div class="table-responsive">
          <table class="table table-hover table-striped table-clickable">
              <thead>
                  <tr>
                      <th width="20%" data-ick="orderBy('dcsID');">DCS ID <i class="fas fa-sort-down"></i></th>
                      <th width="15%" data-ng-click="orderBy('periodFrom');">Period From <i class="fas fa-sort-down"></i></th>
                      <th width="20%" data-ng-click="orderBy('periodTo');">Period To <i class="fas fa-sort-down"></i></th>
                      <th width="20%" data-ng-click="orderBy('periodTo');">Driver <i class="fas fa-sort-down"></i></th>
                      <th width="10%" data-ng-click="orderBy('status');">Status <i class="fas fa-sort-down"></i></th>
                  </tr>
              </thead>
              <tbody>               
                  <tr data-ng-repeat="d in dcsList | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage" class="clickable-row" data-ng-click="viewdcs(d.id);">
                      <td ng-class="{'red': f.status === 'CORRECTION REQUIRED', 'green': f.status == 'APPROVED', 'orange': f.status == 'PENDING'}" data-ng-bind="d.id"></td>
                      <td ng-class="{'red': f.status === 'CORRECTION REQUIRED', 'green': f.status == 'APPROVED', 'orange': f.status == 'PENDING'}" data-ng-bind="d.periodFrom | date: dd/MM/yyyy"></td>
                      <td ng-class="{'red': f.status === 'CORRECTION REQUIRED', 'green': f.status == 'APPROVED', 'orange': f.status == 'PENDING'}" data-ng-bind="d.periodTo | date: dd/MM/yyyy"></td>
                      <td ng-class="{'red': f.status === 'CORRECTION REQUIRED', 'green': f.status == 'APPROVED', 'orange': f.status == 'PENDING'}" data-ng-bind="d.driverID"></td>
                      <td ng-class="{'red': f.status === 'CORRECTION REQUIRED', 'green': f.status == 'APPROVED', 'orange': f.status == 'PENDING'}" data-ng-bind="d.status"></td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<!-- <script>
$(".table-clickable").on('click', '.clickable-row', function (e, row, $element) {
    window.location.href = $(this).data('href');
});
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
</script> -->