<div class="modal fade" id="createAcrdbCust" tabindex="-1" role="dialog" aria-labelledby="createAcrdbCust" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create ACR Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="acrCompany form-label">Company</label>
                    <input type="text" class="form-control" id="acrCompany" data-ng-model="addCustDetail.company" />
                </div>
                <div class="form-group">
                    <label for="acrName form-label">Name</label>
                    <input type="text" class="form-control" id="acrName" data-ng-model="addCustDetail.name" />
                </div>
                <div class="form-group">
                    <label for="acrIC form-label">IC</label>
                    <input type="text" class="form-control" id="acrIC" data-ng-model="addCustDetail.ic" />
                </div>
                <div class="form-group">
                    <label for="acrContact form-label">Contact</label>
                    <input type="text" class="form-control" id="acrContact" data-ng-model="addCustDetail.contact" />
                </div>
                <div class="form-group">
                    <label for="acrCouncil form-label">Council</label>
                    <select id="acrCouncil" class="form-control" data-ng-model="addCustDetail.council">
                        <option value="DBKU" selected>DBKU</option>
                        <option value="MBKS">MBKS</option>
                        <option value="MPP">MPP</option>
                        <option value="MDS">MDS</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  data-ng-show="show.create == 'A'" data-ng-click="addAcrdbCust();">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>ACR Billing Matching</h5>
    </div>
</div>
<br/>

<br/>
<div class="row">
    <div class="col-md-3">
        <input class="form-control" type="file" id="excelInput"  file-model="billingExcel" accept=".xls,.xlsx"  > <!--accept excel-->
    </div>
    <div class="col-md-2" >
        <button class="btn btn-primary"  data-ng-click="importBillingAcrExcel()">Upload</button>
    </div>
</div>
<br/>
<div class="row">
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered" >
            <thead>
                <tr><th colspan="2">
                    <div class="row">
                        <div class="col-md-5">
                            ACR Active List Not In Billing List
                        </div>
                        <div class="col-md-5" data-ng-show="council != '' ">
                            <button class="btn btn-primary btn-sm" data-ng-show="showUpdateBtnAcrList" data-ng-click="showUpdateBtnAcrList = false;">Edit</button>
                            <button class="btn btn-danger btn-sm" data-ng-show="!showUpdateBtnAcrList" data-ng-click="showUpdateBtnAcrList = true; refreshAcrdbMatch()">Close</button>
                        </div>
                    </div>
                </th></tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="a in listNotAppearInBill" >
                    <td>
                        <span data-ng-show="showUpdateBtnAcrList">{{a.company}}</span>
                        <span data-ng-show="!showUpdateBtnAcrList">
                            <input ng-attr-id="{{ 'inputCompanyName-' + a.acrCustID }}" type="text" class="form-control mx-sm-2" value="{{a.company}}"/>
                            <select class="form-control mx-sm-2" ng-attr-id="{{ 'inputCompanyStatus-' + a.acrCustID }}" data-ng-model="a.custStatus">
                                <option value="0">Active</option>
                                <option value="1">Postponed</option>
                                <option value="2">Terminated</option>
                            </select>
                            <button class="btn btn-success btn-sm mx-sm-2" data-ng-show="!showUpdateBtnAcrList" data-ng-click="editACRCustCompanyNameStatus(a.acrCustID);">Update</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th colspan="2">
                        <div class="row">
                            <div class="col-md-5">
                                Billing List Not Appear In ACR Active List
                            </div>
                            <div class="col-md-5" data-ng-show="council != '' ">
                                <button class="btn btn-primary btn-sm" data-ng-show="showUpdateBtnBillList" data-ng-click="showUpdateBtnBillList = false;">Edit</button>
                                <button class="btn btn-danger btn-sm" data-ng-show="!showUpdateBtnBillList" data-ng-click="showUpdateBtnBillList = true; refreshAcrdbMatch()">Close</button>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="b in billNotAppearInList">
                    <td>
                        <span>{{b.company}}</span>
                        <span data-ng-show="!showUpdateBtnBillList && b.type == '1'">
                            <select class="form-control mx-sm-2" ng-attr-id="{{ 'inputBillingStatus-' + b.acrCustID }}" data-ng-model="b.custStatus">
                                <option value="0">Active</option>
                                <option value="1">Postponed</option>
                                <option value="2">Terminated</option>
                            </select>
                            <button class="btn btn-success btn-sm mx-sm-2" data-ng-show="!showUpdateBtnBillList" data-ng-click="editBillingCustCompanyNameStatus(b.acrCustID);">Update</button>
                        </span>
                        <span data-ng-show="!showUpdateBtnBillList && b.type == '0'">
                            <button class="btn btn-success" data-ng-show="show.create == 'A'" data-toggle="modal" data-target="#createAcrdbCust" data-ng-click="addCustDetail.company = b.company; addCustDetail.council = council"><i class="fa fa-plus"></i> New</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <h5>Match ACR List</h5>
        <div class="row">
            <div class="col-md-10">
                <p>Count of Active ACR: {{matchList.length}}</p>
            </div>
            <div class="col-md-2" >
                <button class="btn btn-primary"  data-ng-show="council != '' " data-ng-click="updateAcrBilling()">Update Payment</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="40%">Company</th>
                    <th width="10%">Bin</th>
                    <th width="10%">Cost</th>
                    <th width="10%">Entitlement</th>
                    <th width="10%">Total</th>
                    <th width="10%">Last Payment</th>
                    <th width="10%">Payment</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="c in matchList" >
                    <td>{{c.company}}</td>
                    <td>{{c.bin}}</td>
                    <td>{{c.cost}}</td>
                    <td>{{c.entitlement}}</td>
                    <td>{{c.total}}</td>
                    <td>{{c.histPayment}}<br/>{{c.histPaymentDate}}</td>
                    <td>{{c.payment}} <span class="badge badge-danger" data-ng-if="c.total != c.payment">!!!</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>