<tr>
    <th width="20%" data-ng-click="orderBy('acrID');">ACR ID <i class="fas fa-sort-down"></i></th>
    <th width="15%" data-ng-click="orderBy('acrfNo');">ACRF No. <i class="fas fa-sort-down"></i></th>
    <th width="20%" data-ng-click="orderBy('company');">Company Name <i class="fas fa-sort-down"></i></th>
    <th width="10%" data-ng-click="orderBy('address');">Address <i class="fas fa-sort-down"></i></th>
    
    <th width="35%" data-ng-click="orderBy('beBins');">BE Bins/Units <i class="fas fa-sort-down"></i></th>
    <th width="35%" data-ng-click="orderBy('acrBins');">ACR Bins/Units <i class="fas fa-sort-down"></i></th>
    <th width="35%" data-ng-click="orderBy('areaCode');">Area Code <i class="fas fa-sort-down"></i></th>
    <th width="35%" data-ng-click="orderBy('mon');">Mon <i class="fas fa-sort-down"></i></th>
    <th width="35%" data-ng-click="orderBy('tue');">Tue <i class="fas fa-sort-down"></i></th>
    <th width="35%" data-ng-click="orderBy('wed');">Wed <i class="fas fa-sort-down"></i></th>
    <th width="35%" data-ng-click="orderBy('thu');">THU <i class="fas fa-sort-down"></i></th>
    <th width="35%" data-ng-click="orderBy('fri');">FRI <i class="fas fa-sort-down"></i></th>
    <th width="35%" data-ng-click="orderBy('sat');">SAT <i class="fas fa-sort-down"></i></th>
    <th width="35%" data-ng-click="orderBy('remarks');">Remarks <i class="fas fa-sort-down"></i></th>
</tr>