<div class="row">
    <div class="col-md-12">
        <h5>ACR Database - customer List</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" data-ng-model="searchAcrdbCustListFilter" placeholder="&#XF002; Search company here..." />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-clickable">
                <thead>
                    <tr>
                        <th>Company</th>
                        <!-- <th>Acr Bin</th>
                        <th>BE Bin</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="a in filterAcrdbCustList | filter: searchAcrdbCustList" data-ng-click="acrdbCustDetails(a.company)">
                        <td>{{a.company}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>