<div class="modal fade" id="createAcrdb" tabindex="-1" role="dialog" aria-labelledby="createAcrdb" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create ACR Database</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="addSerialNo form-label">Serial No</label>
                    <input type="text" class="form-control" id="addSerialNo" data-ng-model="acrdb.serialNo" />
                </div>
                <div class="form-group">
                    <label for="addBrand form-label">Brand</label>
                    <select id="addBrand" class="form-control" data-ng-model="acrdb.brand">
                        <option value="SULO" selected>SULO</option>
                        <option value="SCHAFER">SCHAFER</option>
                        <option value="CONTENUR">CONTENUR</option>
                        <option value="N/A">N/A</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="addBinSize form-label">Bin Size</label>
                    <select id="addBinSize" class="form-control" data-ng-model="acrdb.binSize">
                        <option value="120L" selected>120L</option>
                        <option value="240L">240L</option>
                        <option value="660L">660L</option>
                        <option value="1000L">1000L</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="addDateOfApplication form-label">Date of Application</label>
                    <input type="date" class="form-control" id="addDateOfApplication " data-ng-model="dateOfApplication" />
                </div>
                <div class="form-group">
                    <label for="addName form-label">Name</label>
                    <input type="text" class="form-control" id="addName" data-ng-model="acrdb.name" />
                </div>
                <div>
                    <lable for="addContact form-label">Contact</lable>
                    <input type="text" class="form-control" id="addContact" data-ng-model="acrdb.contact" />
                </div>
                <div>
                    <lable for="addIC form-label">IC</lable>
                    <input type="text" class="form-control" id="addIC" data-ng-model="acrdb.ic" />
                </div>
                <div>
                    <lable for="addCompany form-label">Company Name</lable>
                    <input type="text" class="form-control" id="addCompany" data-ng-model="acrdb.company" />
                </div>
                <div>
                    <lable for="addBillAddress form-label">Billing Address</lable>
                    <input type="text" class="form-control" id="addBillAddress" data-ng-model="acrdb.billAddress" />
                </div>
                <div>
                    <lable for="addServiceAddress form-label">Service Address</lable>
                    <input type="text" class="form-control" id="addServiceAddress" data-ng-model="acrdb.serviceAddress" />
                </div>
                <div>
                    <lable for="addFrequency form-label">Frequency</lable>
                    <input type="text" class="form-control" id="addFrequency" data-ng-model="acrdb.frequency" />
                </div>
                <div class="form-group">
                    <label for="addTypeOfPremise form-label">Type of Premise</label>
                    <select id="addTypeOfPremise" class="form-control" data-ng-model="acrdb.typeOfPremise">
                        <option value="Shophouse" selected>Shophouse</option>
                        <option value="Private Comm">Private Comm</option>
                        <option value="Hospital,Clinic">Hospital, Clinic</option>
                        <option value="Workshop,Petrol Station">Workshop, Petrol Station</option>
                        <option value="Household">Household</option>
                        <option value="Construction Site">Construction Site</option>
                        <option value="Uni,School,Kindergarden">Uni,School,Kindergarden</option>
                        <option value="Utility">Utility</option>
                        <option value="Condo,Apart,Flat">Condo,Apart,Flat</option>
                        <option value="Hotel,Resort">Hotel,Resort</option>
                        <option value="DBKU">DBKU</option>
                        <option value="Gov Entity">Gov Entity</option>
                        <option value="Market Hawker">Market Hawker</option>
                        <option value="Placeofworship">Placeofworship</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="addAcrSerialNo form-label">ACR Serial No</label>
                    <input type="text" class="form-control" id="addAcrSerialNo" data-ng-model="acrdb.acrSerialNo" />
                </div>
                <div class="form-group">
                    <label for="addCouncil form-label">Council</label>
                    <select id="addCouncil" class="form-control" data-ng-model="acrdb.council">
                        <option value="DBKU">DBKU</option>
                        <option value="MPP">MPP</option>
                        <option value="MBKS">MBKS</option>
                        <option value="MDS">MDS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="addCouncilSerialNo form-label">Council Serial No</label>
                    <input type="text" class="form-control" id="addCouncilSerialNo" data-ng-model="acrdb.councilSerialNo" />
                </div>
                <div class="form-group">
                    <label for="addRemarks form-label">Remarks</label>
                    <textarea id="addRemarks" class="form-control" data-ng-model="acrdb.remarks"></textarea>
                </div>
                <div class="form-group">
                    Collection Frequency
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="monCheck" data-ng-model="cf.mon">
                        <label class="form-check-label" for="monCheck">
                            Mon
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="tueCheck" data-ng-model="cf.tue">
                        <label class="form-check-label" for="monCheck">
                            Tue
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="wedCheck" data-ng-model="cf.wed">
                        <label class="form-check-label" for="wedCheck">
                            Wed
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="thuCheck" data-ng-model="cf.thu">
                        <label class="form-check-label" for="thuCheck">
                            Thu
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="friCheck" data-ng-model="cf.fri">
                        <label class="form-check-label" for="friCheck">
                            Fri
                        </label>
                    </div>                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="satCheck" data-ng-model="cf.sat">
                        <label class="form-check-label" for="satCheck">
                            Sat
                        </label>
                    </div>                    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="sunCheck" data-ng-model="cf.sun">
                        <label class="form-check-label" for="sunCheck">
                            Sun
                        </label>
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  data-ng-show="show.create == 'A'" data-ng-click="addAcrdb();">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>ACR Database</h5>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-3">
        <select class="form-control" id="inputCouncil" data-ng-model="getAcrdbListParam.council" data-live-search="true" data-width="100%" >
            <option value="">All</option>        
            <option value="DBKU">DBKU</option>            
            <option value="MBKS">MBKS</option>
            <option value="MPP">MPP</option>
            <option value="MDS">MDS</option>
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-control" id="inputCouncil" data-ng-model="getAcrdbListParam.status" data-live-search="true" data-width="100%" >
            <option value="">All</option>        
            <option value="0">Active</option>        
            <option value="1">Postponed</option>            
            <option value="2">Terminated</option>
        </select>
    </div>
    <div class="col-md-2" >
        <button class="btn btn-primary" data-ng-click="getAcrdbList()">Submit</button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-success" data-ng-show="show.create == 'A'" data-toggle="modal" data-target="#createAcrdb"><i class="fa fa-plus"></i> New</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" data-ng-show="show.export == 'A'" data-ng-click="exportAcrDatabase('acrDBTable')">Export</button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary" data-ng-click="acrCustomerList();">Customer List</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" data-ng-click="acrBillingMatchingPage();">Billing Matching</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" data-ng-click="acrCollectionList();">Collection List</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" data-ng-click="acrAddCollectionList();">Add Collection List</button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" data-ng-model="searchAcrdbListFilter" placeholder="&#XF002; Search here..." />
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-clickable" id="acrDBTable">
                <thead>
                    <tr>
                        <th>Serial No</th>
                        <th>Brand</th>
                        <th>Bin Size</th>
                        <th>Date of Application</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Contact</th>
                        <th>IC</th>
                        <th>Company Name</th>
                        <th>Billing Address</th>
                        <th>Service Address</th>
                        <th>Frequency</th>
                        <th>Type of Premise</th>
                        <th>ACR Serial No</th>
                        <th>Council</th>
                        <th>Council Serial No</th>
                        <th>Remarks</th>
                        <th>CF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="a in acrdbList | filter: searchAcrdb" data-ng-click="editAcrdbPage(a.id)">
                        <td>{{a.serialNo}}</td>
                        <td>{{a.brand}}</td>
                        <td>{{a.binSize}}</td>
                        <td>{{a.dateOfApplication}}</td>
                        <td>{{a.name}}</td>
                        <td>{{a.status}}</td>
                        <td>{{a.contact}}</td>
                        <td>{{a.ic}}</td>
                        <td>{{a.company}}</td>
                        <td>{{a.billAddress}}</td>
                        <td>{{a.serviceAddress}}</td>
                        <td>{{a.frequencyNum}}</td>
                        <td>{{a.typeOfPremise}}</td>
                        <td>{{a.acrSerialNo}}</td>
                        <td>{{a.council}}</td>
                        <td>{{a.councilSerialNo}}</td>
                        <td>{{a.remarks}}</td>
                        <td>{{a.cf}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>