<div class="container" data-ng-controller="custServiceCtrl" data-ng-init="getPendingBinRequest()">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <h1>Pending Bin Requests</h1><br/><br/>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Address</th>
                        <th>Contact Number</th>
                        <th>Bin Type</th>
                        <th>Reason</th>
                        <th>Remarks</th>
                        <th>Request Date</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="pReq in pendingBinRequests track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{pReq.address}}</td>
                        <td>{{pReq.contactNumber}}</td>
                        <td>{{pReq.binType}}</td>
                        <td>{{pReq.reason}}</td>
                        <td>{{pReq.remarks}}</td>
                        <td>{{pReq.requestDate}}</td>
                        <td><button class="btn btn-success" data-ng-click="updateBinRequest(pReq.reqID, 'Approved')">Approve</button></td>
                        <td><button class="btn btn-danger" data-ng-click="updateBinRequest(pReq.reqID, 'Declined')">Decline</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>