<div class="container" data-ng-controller="custServiceCtrl" data-ng-init="getPendingBinRequest()">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <h1>Bin Requests</h1><br/><br/>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Address</th>
                        <th>Contact Number</th>
                        <th>Bin Type</th>
                        <th>Reason</th>
                        <th>Remarks</th>
                        <th>Request Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="pReq in pendingBinRequests track by $index">
                        <td>{{$index+1}}</td>
                        <td>{{pReq.address}}</td>
                        <td>{{pReq.contactNumber}}</td>
                        <td>{{pReq.binType}}</td>
                        <td>{{pReq.reason}}</td>
                        <td>{{pReq.remarks}}</td>
                        <td>{{pReq.requestDate}}</td>
                        <td>
                            <div editable>
                                <select name="binReqStatus" data-ng-model="pReq.status" class="form-control" data-ng-show="!showBinRequest">
                                    <option value="PENDING">Pending</option>
                                    <option value="Settled">Settled</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="No Response">No Response</option>
                                </select>
                                <span data-ng-show="showBinRequest">{{pReq.status}}</span>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-ng-show="showBinRequest && pReq.status != 'Settled' && pReq.status != 'Cancelled'" data-ng-click="editBinRequestStatus();"><i class="fa fa-pencil-alt"></i></button>
                            <button class="btn btn-sm btn-warning" data-ng-show="!showBinRequest" data-ng-click="saveBinRequestStatus(pReq.status, pReq.reqID);"><i class="fa fa-save"></i></button>
                            <button class="btn btn-sm btn-default" data-ng-show="!showBinRequest" data-ng-click="cancelBinRequestStatus();"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>