<!--
TODO list:
- Add new page
- Collection frequency in add new and edit form
- figure out how to allow user add address
- Inactive can’t be show
- Select specific area to edit
- View information
-->
<!-- Area Modal -->
<div class="modal fade" id="createArea" tabindex="-1" role="dialog" aria-labelledby="createArea" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Area</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="txtAreaName form-label">Area Name</label>
              <input type="text" class="form-control" id="txtAreaName" data-ng-model="area.name" />
          </div>
          
          <!--new added-->
          <!--<div class="form-group">
              <label for="sltColFreq form-label">Collection Frequency</label>
              <input type="checkbox" name="cf1" value="monday" data-ng-model="area.collectionFrequency"> Monday<br>
              <input type="checkbox" name="cf2" value="tuesday" data-ng-model="area.collectionFrequency"> Tuesday<br>
              <input type="checkbox" name="cf3" value="wednesday" data-ng-model="area.collectionFrequency"> Wednesday<br>
              <input type="checkbox" name="cf4" value="thursday" data-ng-model="area.collectionFrequency"> Thursday<br>
              <input type="checkbox" name="cf5" value="friday" data-ng-model="area.collectionFrequency"> Friday<br>
              <input type="checkbox" name="cf6" value="saturday" data-ng-model="area.collectionFrequency"> Saturday<br>
              <input type="checkbox" name="cf7" value="sunday" data-ng-model="area.collectionFrequency"> Sunday<br>
          </div>-->
          
          <div class="form-group">
              <label for="sltZoneName form-label">Zone Name</label>
              <select id="sltZoneName" class="form-control" data-ng-model="area.zone" data-ng-options="zone as zone.zoneidname for zone in zoneList"></select>
          </div>
          
          <div class="form-group">
              <label for="sltStaffName form-label">Staff Name</label>
              <select id="sltStaffName" class="form-control" data-ng-model="area.staff" data-ng-options="staff as staff.staffidname for staff in staffList"></select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="addArea();">Create</button>
      </div>
    </div>
  </div>
</div>

<!--15/5 sing hong-->
<!--have to been changed to page-->
<!-- edit modal-->



<div class="row">
    <div class="col-md-12">
        <h5>Area Management</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" placeholder="&#XF002; Search here..." data-ng-model="searchAreaFilter" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" data-toggle="modal" data-target="#createArea"><i class="fa fa-plus"></i> New</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Area Code</th>
                                <th>Area Name</th>
                                <!--<th>Including Address</th>-->
                                <th>Belong Zone</th>
                                <th>Staff</th>
                                <!--<th>Collection Frequency</th>-->
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="a in areaList | filter: searchArea | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage">
                                <td data-ng-bind="a.id"></td>
                                <td data-ng-bind="a.name"></td>
                                <!--<td data-ng-bind="a.address"></td><!-- this shud be repeat-->
                                <td data-ng-bind="a.zoneidname"></td>
                                <td data-ng-bind="a.staffidname"></td>
                                <!--<td data-ng-bind="a.collectionFrequency"></td>-->
                                <td data-ng-bind="a.status"></td>
                                <td>
<!--                                    <button class="btn btn-sm btn-primary" onclick = "window.location.href='#/area-management-edit'">Edit</button>-->
                                    <button class="btn btn-sm btn-primary" data-ng-click="editAreaPage();">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.clickable').click(function() {
            $(this).children().find('i').toggleClass("fa-chevron-circle-right fa-chevron-circle-down");
            $('html, body').animate({
                scrollTop: $(this).offset().top - 20
            }, 'slow');
        });
    });
</script>