<style>
    .bottom-margin {
        margin-bottom: 50px;
    }
</style>
<div class="row">
    <div class="col-md-10">
        <div class="form-group">
              <label for="editAreaId form-label">Area ID</label>
              <input type="text" class="form-control" id="editAreaId" data-ng-model="area.id" readonly />
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" data-ng-click="areaEditBoundaries()">Edit Boundaries</button>
    </div>
</div>
<!--

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaTaman" class="form-label">Taman Name</label>
            <input type="text" class="form-control" id="editAreaTaman" data-ng-model="taman" />
        </div>
    </div>
</div>  
-->

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaZoneName" class="form-label">Zone Name</label>
            <select id="editAreaZoneName" class="form-control" data-ng-model="area.zone" data-ng-options="zone.name as zone.name for zone in zoneList"></select>
        </div>
    </div>
</div>  

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
              <label for="editAreaCode form-label">Area Code</label>
              <input type="text" class="form-control" id="editAreaCode" data-ng-model="area.code" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="editAreaName" class="form-label">Area Name</label>
          <input type="text" class="form-control" id="editAreaName" data-ng-model="area.name" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="sltColFreq" class="form-label">Collection Frequency</label><br />
            <label>
                <input type="checkbox" data-ng-true-value="'A'" data-ng-false-value="'I'" data-ng-model="days.mon"> Monday
            </label><br />
            <label>
                <input type="checkbox" data-ng-true-value="'A'" data-ng-false-value="'I'" data-ng-model="days.tue"> Tuesday
            </label><br />
            <label>
              <input type="checkbox" data-ng-true-value="'A'" data-ng-false-value="'I'" data-ng-model="days.wed"> Wednesday
            </label><br />
            <label>
              <input type="checkbox" data-ng-true-value="'A'" data-ng-false-value="'I'" data-ng-model="days.thu"> Thursday
            </label><br />
            <label>
              <input type="checkbox" data-ng-true-value="'A'" data-ng-false-value="'I'" data-ng-model="days.fri"> Friday
            </label><br />
            <label>
              <input type="checkbox" data-ng-true-value="'A'" data-ng-false-value="'I'" data-ng-model="days.sat"> Saturday
            </label><br />
            <label>
              <input type="checkbox" data-ng-true-value="'A'" data-ng-false-value="'I'" data-ng-model="days.sun"> Sunday
            </label>
        </div>
    </div>
</div>
        
  
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaStaffName" class="form-label">Staff Name</label>
            <select id="editAreaStaffName" class="form-control" data-ng-model="area.staff" data-ng-options="staff.name as staff.name for staff in staffList"></select>
        </div>
    </div>
</div> 

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaDriverName" class="form-label">Driver Name</label>
            <select id="editAreaDriverName" class="form-control" data-ng-model="area.driver" data-ng-options="driver.id as driver.name for driver in driverList"></select>
        </div>
    </div>
</div>  

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaTransporter" class="form-label">Transporter</label>
            <select id="editAreaTransporter" class="form-control" data-ng-model="area.transporter">
                <option value="0" selected>N/A</option>
                <option value="1">TS</option>
                <option value="2">TAK</option>
                <option value="3">MP</option>                                        
            </select>            
        </div>
    </div>
</div>
  
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaStatus" class="form-label">Status</label>
            <select class="form-control" id="editAreaStatus" data-ng-model="area.status">
                <option>Active</option>
                <option>Inactive</option>
          </select>
        </div>
    </div>
</div>          

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="form-label">Area Collection</label>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="10%">NO.</th>
                        <th width="75%">Address</th>
                        <th data-ng-show="show.collection.edit == 'A'" width="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="show.collection.add == 'A'">
                        <td></td>
                        <td>
                            <input type="text" class="form-control" data-ng-model="collection.address" />
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" data-ng-click="addCollection();"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <tr data-ng-repeat="c in collectionList" data-ng-show="deleteCollection">
                        <td data-ng-bind="($index + 1)"></td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="c.address" data-ng-show="!showCollection" />
                                <p data-ng-show="showCollection" data-ng-bind="c.address"></p>
                            </div>
                        </td>
                        <td data-ng-show="show.collection.edit == 'A'">
                            <div data-ng-show="showCollection">
                                <button class="btn btn-primary btn-sm" data-ng-click="editCollection(c.id, c.address);"><i class="fa fa-pencil-alt"></i></button>
                                <button class="btn btn-danger btn-sm" data-ng-click="deleteCollection(c.id);"><i class="fa fa-trash"></i></button>
                                <!--<button class="btn btn-warning btn-sm"><i class="fa fa-arrow-right"></i></button>-->
                            </div>
                            <div data-ng-show="!showCollection">
                                <button class="btn btn-warning btn-sm" data-ng-click="saveCollection();"><i class="fa fa-save"></i></button>
                                <button class="btn btn-default btn-sm" data-ng-click="cancelCollection();"><i class="fa fa-times"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row text-center bottom-margin">
    <div class="col-md-12">
        <button type="button" class="btn btn-secondary" onclick="window.location.href = '#/area-management';">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="updateArea();">Edit</button>
    </div>
</div>