<!-- Area Modal -->
<div class="modal fade" id="createArea" tabindex="-1" role="dialog" aria-labelledby="createArea" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Area</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="txtAreaCode form-label">Area Code</label>
              <input type="text" class="form-control" id="txtAreaCode" data-ng-model="area.code" />
          </div>
          
          <div class="form-group">
              <label for="txtAreaName form-label">Area Name</label>
              <input type="text" class="form-control" id="txtAreaName" data-ng-model="area.name" />
          </div>
          
          <div class="form-group">
              <label for="sltZoneName form-label">Zone Name</label>
              <select id="sltZoneName" class="form-control" data-ng-model="area.zone" data-ng-options="zone as zone.zoneidname for zone in zoneList"></select>
          </div>
          
          <div class="form-group">
              <label for="sltStaffName form-label">Reporting Officer</label>
              <select id="sltStaffName" class="form-control" data-ng-model="area.staff" data-ng-options="staff as staff.staffidname for staff in staffList"></select>
          </div>
          <div class="form-group">
              <label for="sltDriverName form-label">Driver</label>
              <select id="sltDriverName" class="form-control" data-ng-model="area.driver" data-ng-options="driver as driver.driveridname for driver in driverList"></select>
          </div>
          <div class="form-group">
              <label for="sltTransporter form-label">Transporter ID</label>
              <select id="sltTransporter" class="form-control" data-ng-model="area.transporter">
                  <option value="0" selected>N/A</option>
                  <option value="1">TS</option>
                  <option value="2">TAK</option>
                  <option value="3">MP</option>
              </select>
          </div>    
          <div class="form-group">
              <label for="sltBranch form-label">Branch</label>
              <select id="sltBranch" class="form-control" data-ng-model="area.branch">
                  <option value="KCH">KCH</option>
                  <option value="BTU">BTU</option>
              </select>
          </div>      
<!--
          <div class="form-group">
              <label for="sltBoundaries form-label">Boundaries</label>
              <select id="sltBoundaries" class="form-control" ></select>
          </div>
-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="addArea();" data-ng-show="showCreateBtn">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Area Management</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" placeholder="&#XF002; Search here..." data-ng-model="searchAreaFilter" />
    </div>
</div>
<br />
<div class="row" data-ng-show="show.create == 'A'">
    <div class="col-md-1">
        <button class="btn btn-success" data-toggle="modal" data-target="#createArea"><i class="fa fa-plus"></i> New</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" data-ng-click="exportFile('exportArea')">Export</button>
    </div>    
    <div class="col-md-1 offset-md-10" style="padding-top: 10px" >
        <label style="cursor: pointer;"><input type="checkbox" data-ng-model="statusList" data-ng-click="updateStatusList()"> Active</label>
    </div>
</div>
<br />
<div class="row" data-ng-show="show.view == 'A'">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th width="10%" data-ng-click="orderBy('zoneCode', 'code');">Area Code <i class="fas fa-sort-down"></i></th>
                                <th width="25%" data-ng-click="orderBy('name', '');">Area Name <i class="fas fa-sort-down"></i></th>
                                <th width = "15%">Transporter</th>
                                <th width="20%" data-ng-click="orderBy('staffName', '');">Staff <i class="fas fa-sort-down"></i></th>
                                <th width="10%" data-ng-click="orderBy('id', '');">Status <i class="fas fa-sort-down"></i></th>
                                <th data-ng-show="show.edit == 'A'" width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="a in areaList | filter: searchArea | offset: (pagination.currentPage - 1) * pagination.itemsPerPage | limitTo: pagination.itemsPerPage">
                                <td data-ng-bind="(a.code)"></td>
                                <td data-ng-bind="a.name"></td>
                                <td>
                                    <span data-ng-if="a.transporter == '0'">N/A</span>
                                    <span data-ng-if="a.transporter == '1'">TS</span>
                                    <span data-ng-if="a.transporter == '2'">TAK</span>
                                    <span data-ng-if="a.transporter == '3'">MP</span>                                    
                                </td>
                                <td data-ng-bind="a.staffName"></td>
                                <td data-ng-bind="a.status"></td>
                                <td data-ng-show="show.edit == 'A'">
                                    <button class="btn btn-sm btn-primary" data-ng-click="loadDetails('area', a.id);"><i class="fa fa-pencil-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="pagination.currentPage" data-max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>
<div data-ng-hide=true>
    <table id="exportArea">
        <thead>
            <tr>
                <th width="10%">Area Code <i class="fas fa-sort-down"></i></th>
                <th width="25%">Area Name <i class="fas fa-sort-down"></i></th>
                <th width = "15%">Transporter</th>
                <th width="20%">Staff <i class="fas fa-sort-down"></i></th>
                <th width="10%">Status <i class="fas fa-sort-down"></i></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="a in areaList | filter: searchArea">
                <td data-ng-bind="(a.code)"></td>
                <td data-ng-bind="a.name"></td>
                <td>
                    <span data-ng-if="a.transporter == '0'">N/A</span>
                    <span data-ng-if="a.transporter == '1'">TS</span>
                    <span data-ng-if="a.transporter == '2'">TAK</span>
                    <span data-ng-if="a.transporter == '3'">MP</span>                                    
                </td>                
                <td data-ng-bind="a.staffName"></td>
                <td data-ng-bind="a.status"></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('.clickable').click(function() {
            $(this).children().find('i').toggleClass("fa-chevron-circle-right fa-chevron-circle-down");
            $('html, body').animate({
                scrollTop: $(this).offset().top - 20
            }, 'slow');
        });
    });
</script>