<div class="row">
    <div class="col-md-12">
        <div class="form-group">
              <label for="editAreaId form-label">Area ID</label>
              <input type="text" class="form-control" id="editAreaId" data-ng-model="area.id" readonly />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="editAreaName" class="form-label">Area Name</label>
          <input type="text" class="form-control" id="editAreaName" data-ng-model="area.name" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="sltColFreq" class="form-label">Collection Frequency</label><br />
            <input type="checkbox" name="cf1" value="monday" data-ng-model="area.collectionFrequency"> Monday<br>
              <input type="checkbox" name="cf2" value="tuesday" data-ng-model="area.collectionFrequency"> Tuesday<br>
              <input type="checkbox" name="cf3" value="wednesday" data-ng-model="area.collectionFrequency"> Wednesday<br>
              <input type="checkbox" name="cf4" value="thursday" data-ng-model="area.collectionFrequency"> Thursday<br>
              <input type="checkbox" name="cf5" value="friday" data-ng-model="area.collectionFrequency"> Friday<br>
              <input type="checkbox" name="cf6" value="saturday" data-ng-model="area.collectionFrequency"> Saturday<br>
              <input type="checkbox" name="cf7" value="sunday" data-ng-model="area.collectionFrequency"> Sunday<br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaZoneName" class="form-label">Zone Name</label>
            <select id="editAreaZoneName" class="form-control" data-ng-model="area.zone" data-ng-options="zone.name as zone.name for zone in zoneList"></select>
        </div>
    </div>
</div>          
  
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaStaffName" class="form-label">Staff Name</label>
            <select id="editAreaStaffName" class="form-control" data-ng-model="area.staff" data-ng-options="staff.name as staff.name for staff in staffList"></select>
        </div>
    </div>
</div>          
  
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaStatus" class="form-label">Status</label>
            <select class="form-control" id="editAreaStatus" data-ng-model="area.status">
                <option>Active</option>
                <option>Inactive</option>
          </select>
        </div>
    </div>
</div>          

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="form-label">Area Collection</label>
            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">NO.</th>
                        <th width="75%">Address</th>
                        <th width="15%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <input type="text" class="form-control" data-ng-model="collection.address" />
                        </td>
                        <td>
                            <button class="btn btn-success btn-sm" data-ng-click="addCollection();"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <tr data-ng-repeat="c in collectionList">
                        <td data-ng-bind="($index + 1)"></td>
                        <td data-ng-bind="c.address"></td>
                        <td>
                            <button class="btn btn-primary btn-sm"><i class="fa fa-pencil-alt"></i></button>
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                            <button class="btn btn-warning btn-sm"><i class="fa fa-arrow-right"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row text-right">
    <div class="col-md-12">
        <button type="button" class="btn btn-secondary" onclick="window.location.href = '#/area-management';">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="editArea();">Edit</button>
    </div>
</div>
        
        
