<div class="row">
    <div class="col-md-12">
        <div class="form-group">
              <!--<div class="col-md-4"><text>Area ID:</text></div>
              <div class="col-md-8"><text>id here</text></div>-->
              <label for="editAreaId form-label">Area ID:</label>
              <input type="text" class="form-control" id="editAreaId" data-ng-model="area.id" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
          <label for="editAreaName form-label">Area Name</label>
          <input type="text" class="form-control" id="editAreaName" data-ng-model="area.editAreaName" />
        </div>
    </div>
</div>
  
          
          <!--have to been modified-->
          <!--<div class="form-group">
              <label for="sltColFreq form-label">Collection Frequency</label>
              <input type="checkbox" name="cf1" value="monday" data-ng-model="area.collectionFrequency"> Monday<br>
              <input type="checkbox" name="cf2" value="tuesday" data-ng-model="area.collectionFrequency"> Tuesday<br>
              <input type="checkbox" name="cf3" value="wednesday" data-ng-model="area.collectionFrequency"> Wednesday<br>
              <input type="checkbox" name="cf4" value="thursday" data-ng-model="area.collectionFrequency"> Thursday<br>
              <input type="checkbox" name="cf5" value="friday" data-ng-model="area.collectionFrequency"> Friday<br>
              <input type="checkbox" name="cf6" value="saturday" data-ng-model="area.collectionFrequency"> Saturday<br>
              <input type="checkbox" name="cf7" value="sunday" data-ng-model="area.collectionFrequency"> Sunday<br>
          </div>-->
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaZoneName form-label">Zone Name</label>
            <select id="editAreaZoneName" class="form-control" data-ng-model="area.editAreaZone" data-ng-options="zone as zone.name for zone in zoneList"></select>
        </div>
    </div>
</div>          
  
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaStaffName form-label">Staff Name</label>
            <select id="editAreaStaffName" class="form-control" data-ng-model="area.editAreaStaff" data-ng-options="staff as staff.name for staff in staffList"></select>
        </div>
    </div>
</div>          
  
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="editAreaStatus form-label">Status</label>
            <select class="form-control" id="editAreaStatus" data-ng-model="area.editAreaStatus">
                <option value="A">Activate</option>
                <option value="I">Inactivate</option>
          </select>
        </div>
    </div>
</div>          
  

<div class="row text-right">
    <div class="col-md-12">
        <button type="button" class="btn btn-secondary" onclick="window.location.href = '#/area-management';">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="editArea();">Edit</button>
    </div>
</div>
        
        
