<div class="row">
    <div class="col-md-12">
        <h5>Bin Database</h5>
    </div>
</div>
<br/>
<div class="row" data-ng-show="show.create == 'A' || show.batch == 'A'">
    <div class="col-md-1">
        <button class="btn btn-success" data-toggle="modal" data-target="#createBin"><i class="fa fa-plus"></i> New</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label for="searchSerialNo form-label" class="col-md-1">Serial No</label>
            <input type="text" class="form-control col-md-5" id="searchSerialNo" data-ng-model="searchSerialNo"/>
            <button type="button" class="btn btn-primary" data-ng-click="searchFunction('serialNo')">Search</button>
        </div>
        <div class="form-group row">
            <label for="searchName form-label" class="col-md-1">Bin Status</label>
            <select class="form-control col-md-5" id="searchUse" data-ng-model="searchUse">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
            </select>
            <button type="button" class="btn btn-primary" data-ng-click="searchFunction('binInUse')">Search</button>
        </div>
        <div class="form-group row">
            <label for="searchName form-label" class="col-md-1">Name</label>
            <input type="text" class="form-control col-md-5" id="searchName" data-ng-model="searchName"/>
            <button type="button" class="btn btn-primary" data-ng-click="searchFunction('name')">Search</button>
        </div>
        <div class="form-group row">
            <label for="searchIC form-label" class="col-md-1">IC</label>
            <input type="text" class="form-control col-md-5" id="searchIC"  data-ng-model="searchIC"/>
            <button type="button" class="btn btn-primary"data-ng-click="searchFunction('ic')">Search</button>
        </div>
        <div class="form-group row">
            <label for="searchAddress form-label" class="col-md-1">Address</label>
            <input type="text" class="form-control col-md-5" id="searchAddress"  data-ng-model="searchAddress"/>
            <button type="button" class="btn btn-primary"data-ng-click="searchFunction('address')">Search</button>
        </div>
        <div class="form-group row">
            <label for="searchDate form-label" class="col-md-1">Date</label>
            <input type="date" class="form-control col-md-5" id="searchDate " data-ng-model="searchDate" />
            <button type="button" class="btn btn-primary"data-ng-click="searchFunction('date')">Search</button>
        </div>
        <div class="form-group row">
            <label for="searchKeyDate form-label" class="col-md-1">Key in Date</label>
            <input type="date" class="form-control col-md-5" id="searchKeyDate " data-ng-model="searchKeyDate" />
            <button type="button" class="btn btn-primary"data-ng-click="searchFunction('keyInDate')">Search</button>
        </div>
    </div>
</div>
<br />
<div data-ng-show="showData">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control fas" data-ng-model="searchBindatabaseFilter" placeholder="&#XF002; Search here..." />
        </div>
    </div>
    <br />
    <div class="row" data-ng-show="show.export">
        <div class="col-md-1">
            <button class="btn btn-primary" data-ng-click="exportBinDatabase('binDatabaseTable')">Export</button>
        </div>
    </div>
    <br/>
    <div class="row" data-ng-show="show.view">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-clickable" id="binDatabaseTable">
                            <thead>
                                <tr>
                                    <th>Serial No</th>
                                    <th>Brand</th>
                                    <th>Bin Size</th>
                                    <th>Bin in Use</th>
                                    <th>Date</th>
                                    <th>Full Name</th>
                                    <th>Contact Number</th>
                                    <th>IC</th>
                                    <th>Property No</th>
                                    <th>Tmn/Kpg</th>
                                    <th>Address</th>
                                    <th>Company Name</th>
                                    <th>Type of Pro</th>
                                    <th>Picture: Sesco/ KWB/ Cukai Rumah</th>
                                    <th>Communal</th>
                                    <th>Council</th>
                                    <th>Bin Status</th>
                                    <th>Comment</th>
                                    <th>Written Off</th>
                                    <th>Key in Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="b in binList | filter: searchBin " data-ng-click="binEditModal(b.id)">
                                    <td>{{b.serialNo}}</td>
                                    <td>{{b.brand}}</td>
                                    <td>{{b.size}}</td>
                                    <td>{{b.binInUse}}</td>
                                    <td>{{b.date}}</td>
                                    <td>{{b.name}}</td>
                                    <td>{{b.contact}}</td>
                                    <td>{{b.ic}}</td>
                                    <td>{{b.propertyNo}}</td>
                                    <td>{{b.tmnkpg}}</td>
                                    <td>{{b.address}}</td>
                                    <td>{{b.company}}</td>
                                    <td>{{b.typeOfPro}}</td>
                                    <td><img src="{{b.pic}}" width="100" height="100" style="object-fit: contain;"/></td>
                                    <td>{{b.communal}}</td>
                                    <td>{{b.council}}</td>
                                    <td>{{b.binStatus}}</td>
                                    <td>{{b.comment}}</td>
                                    <td>{{b.writtenOff}}</td>
                                    <td>{{b.keyInDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editBin" tabindex="-1" role="dialog" aria-labelledby="editBin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Bin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editSerialNo form-label">Serial No</label>
                    <input type="text" class="form-control" id="editSerialNo" data-ng-model="editBin.serialNo" />
                </div>
                <div class="form-group">
                    <label for="editBrand form-label">Brand</label>
                    <input type="text" class="form-control" id="editBrand" data-ng-model="editBin.brand" />
                </div>
                <div class="form-group">
                    <label for="editBinSize form-label">Bin Size</label>
                    <select class="form-control" id="editBinSize" data-ng-model="editBin.size">
                        <option value="120L" >120L</option>
                        <option value="240L" >240L</option>
                        <option value="660L" >660L</option>
                        <option value="1000L" >1000L</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editBinUse form-label">Bin in Use</label>
                    <select class="form-control" id="editBinUse" data-ng-model="editBin.binInUse">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editBinDate form-label">Date</label>
                    <input type="date" class="form-control" id="editBinDate " data-ng-model="editBin.date" />
                </div>
                <div class="form-group">
                    <label for="editFullName form-label">Full Name</label>
                    <input type="text" class="form-control" id="editFullName" data-ng-model="editBin.name" />
                </div>
                <div class="form-group">
                    <label for="editContact form-label">Contact No</label>
                    <input type="text" class="form-control" id="editContact" data-ng-model="editBin.contact" />
                </div>
                <div class="form-group">
                    <label for="editIc form-label">IC</label>
                    <input type="text" class="form-control" id="editIc" data-ng-model="editBin.ic" />
                </div>
                <div class="form-group">
                    <label for="editProNo form-label">Property No</label>
                    <input type="text" class="form-control" id="editProNo" data-ng-model="editBin.propertyNo" />
                </div>
                <div class="form-group">
                    <label for="editTmnkpg form-label">Tmn/Kpg</label>
                    <input type="text" class="form-control" id="editTmnkpg" data-ng-model="editBin.tmnkpg" />
                </div>
                <div class="form-group">
                    <label for="editAddress form-label">Address</label>
                    <input type="text" class="form-control" id="editAddress" data-ng-model="editBin.address" />
                </div>
                <div class="form-group">
                    <label for="editCompany form-label">Company Name</label>
                    <input type="text" class="form-control" id="editCompany" data-ng-model="editBin.company" />
                </div>
                <div class="form-group">
                    <label for="editTypeOfPro form-label">Type of Pro</label>
                    <select class="form-control" id="editTypeOfPro" data-ng-model="editBin.typeOfPro">
                        <option value="Condo,Apart,Flat">Condo,Apart,Flat</option>
                        <option value="Construction Site">Construction Site</option>
                        <option value="DBKU">DBKU</option>
                        <option value="Gov Entity">Gov Entity</option>
                        <option value="Government Housing">Government Housing</option>
                        <option value="Hospital,Clinic">Hospital,Clinic</option>
                        <option value="Hotel,Resort">Hotel,Resort</option>
                        <option value="Household">Household</option>
                        <option value="Market,Hawker">Market,Hawker</option>
                        <option value="MBKS">MBKS</option>
                        <option value="MPP">MPP</option>
                        <option value="PlaceofWorship">PlaceofWorship</option>
                        <option value="Private Comm">Private Comm</option>
                        <option value="Purchased">Purchased</option>
                        <option value="Shophouse">Shophouse</option>
                        <option value="Stadium">Stadium</option>
                        <option value="Temporary">Temporary</option>
                        <option value="Uni,School,Kindergarden">Uni,School,Kindergarden</option>
                        <option value="Utility">Utility</option>
                        <option value="Workshop,Petrol Station">Workshop,Petrol Station</option>
                        <option value="Factory">Factory</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editPic form-label">Picture: Sesco/ KWB/ Cukai Rumah</label>
                    <input type="file" class="form-control" id="editPic" accept="image/*" data-ng-model="editBinNewPic" app-filereader/>
                    <a href="{{editBin.pic}}" target="_blank"><img src="{{editBin.pic}}" width="300" height="300" style="object-fit: contain;"/></a>
                </div>
                <div class="form-group">
                    <label for="editCommunal form-label">Communal</label>
                    <select class="form-control" id="editCommunal" data-ng-model="editBin.communal">
                        <option value="Commercial">Commercial</option>
                        <option value="Residential">Residential</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editCouncil form-label">Council</label>
                    <select class="form-control" id="editCouncil" data-ng-model="editBin.council">
                        <option value="MBKS">MBKS</option>
                        <option value="DBKU">DBKU</option>
                        <option value="MPP">MPP</option>
                        <option value="MDS">MDS</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editBinStatus form-label">Bin Status</label>
                    <select class="form-control" id="editBinStatus" data-ng-model="editBin.binStatus">
                        <option value="ACR">ACR</option>
                        <option value="BE">BE</option>
                        <option value="DAMAGED">Damaged</option>
                        <option value="LOST">Lost</option>
                        <option value="COMMUNAL:R">CommunalR</option>
                        <option value="COMMUNAL:C">CommunalC</option>
                        <option value="TEMPORARY">Temporary</option>
                        <option value="PURCHASED">Purchased</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editComment form-label">Comment</label>
                    <input type="text" class="form-control" id="editComment" data-ng-model="editBin.comment" />
                </div>
                <div class="form-group">
                    <label for="editWrittenOff form-label">Written Off</label>
                    <select class="form-control" id="editWrittenOff" data-ng-model="editBin.writtenOff">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="editKeyInDate form-label">Key In Date</label>
                    <input type="date" class="form-control" id="editKeyInDate " data-ng-model="editBin.keyInDate" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-ng-show="show.delete == 'A'" data-ng-click="deleteBinDatabase(editBin.id)">Delete</button>
                <button type="button" class="btn btn-primary" data-ng-show="show.edit == 'A'" data-ng-click="editBinDatabase();">Edit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createBin" tabindex="-1" role="dialog" aria-labelledby="createBin" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Bin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" data-ng-show="show.create == 'A'">
                    <a class="nav-link active" id="single-tab" data-toggle="tab" data-target="#singleAdd" role="tab" aria-controls="singleAdd" aria-selected="true" >Add Single</a>
                </li>
                <li class="nav-item" data-ng-show="show.batch == 'A'">
                    <a class="nav-link" id="batches-tab" data-toggle="tab" data-target="#batchesAdd" role="tab" aria-controls="batchesAdd" aria-selected="false" >Add Batches</a>
                </li>            
            </ul>   
            <div class="tab-content" id="myTab">
                <div class="tab-pane fade show active" id="singleAdd" role="tabpanel" aria-labelledby="single-tab">         
                    <div class="form-group">
                        <label for="serialNo form-label">Serial No</label>
                        <input type="text" class="form-control" id="serialNo" data-ng-model="createBin.serialNo" />
                    </div>
                    <div class="form-group">
                        <label for="brand form-label">Brand</label>
                        <input type="text" class="form-control" id="brand" data-ng-model="createBin.brand" />
                    </div>
                    <div class="form-group">
                        <label for="binSize form-label">Bin Size</label>
                        <select class="form-control" id="editBinSize" data-ng-model="createBin.binSize">
                            <option value="120L" >120L</option>
                            <option value="240L" >240L</option>
                            <option value="660L" >660L</option>
                            <option value="1000L" >1000L</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="binUse form-label">Bin in Use</label>
                        <select class="form-control" id="binUse" data-ng-model="createBin.binInUse">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="binDate form-label">Date</label>
                        <input type="date" class="form-control" id="binDate " data-ng-model="createBin.date" />
                    </div>
                    <div class="form-group">
                        <label for="fullName form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullName" data-ng-model="createBin.name" />
                    </div>
                    <div class="form-group">
                        <label for="contact form-label">Contact No</label>
                        <input type="text" class="form-control" id="contact" data-ng-model="createBin.contact" />
                    </div>
                    <div class="form-group">
                        <label for="ic form-label">IC</label>
                        <input type="text" class="form-control" id="ic" data-ng-model="createBin.ic" />
                    </div>
                    <div class="form-group">
                        <label for="proNo form-label">Property No</label>
                        <input type="text" class="form-control" id="proNo" data-ng-model="createBin.propertyNo" />
                    </div>
                    <div class="form-group">
                        <label for="tmnkpg form-label">Tmn/Kpg</label>
                        <input type="text" class="form-control" id="tmnkpg" data-ng-model="createBin.tmnkpg" />
                    </div>
                    <div class="form-group">
                        <label for="address form-label">Address</label>
                        <input type="text" class="form-control" id="address" data-ng-model="createBin.address" />
                    </div>
                    <div class="form-group">
                        <label for="company form-label">Company Name</label>
                        <input type="text" class="form-control" id="company" data-ng-model="createBin.company" />
                    </div>
                    <div class="form-group">
                        <label for="typeOfPro form-label">Type of Pro</label>
                        <select class="form-control" id="typeOfPro" data-ng-model="createBin.typeOfPro">
                            <option value="Condo,Apart,Flat">Condo,Apart,Flat</option>
                            <option value="Construction Site">Construction Site</option>
                            <option value="DBKU">DBKU</option>
                            <option value="Gov Entity">Gov Entity</option>
                            <option value="Government Housing">Government Housing</option>
                            <option value="Hospital,Clinic">Hospital,Clinic</option>
                            <option value="Hotel,Resort">Hotel,Resort</option>
                            <option value="Household">Household</option>
                            <option value="Market,Hawker">Market,Hawker</option>
                            <option value="MBKS">MBKS</option>
                            <option value="MPP">MPP</option>
                            <option value="PlaceofWorship">PlaceofWorship</option>
                            <option value="Private Comm">Private Comm</option>
                            <option value="Purchased">Purchased</option>
                            <option value="Shophouse">Shophouse</option>
                            <option value="Stadium">Stadium</option>
                            <option value="Temporary">Temporary</option>
                            <option value="Uni,School,Kindergarden">Uni,School,Kindergarden</option>
                            <option value="Utility">Utility</option>
                            <option value="Workshop,Petrol Station">Workshop,Petrol Station</option>
                            <option value="Factory">Factory</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pic form-label">Picture: Sesco/ KWB/ Cukai Rumah</label>
                        <input type="file" class="form-control" id="pic" data-ng-model="createBin.pic" accept="image/*" app-filereader/>
                    </div>
                    <div class="form-group">
                        <label for="communal form-label">Communal</label>
                        <select class="form-control" id="communal" data-ng-model="createBin.communal">
                            <option value="Commercial">Commercial</option>
                            <option value="Residential">Residential</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="council form-label">Council</label>
                        <select class="form-control" id="council" data-ng-model="createBin.council">
                            <option value="MBKS">MBKS</option>
                            <option value="DBKU">DBKU</option>
                            <option value="MPP">MPP</option>
                            <option value="MDS">MDS</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="binStatus form-label">Bin Status</label>
                        <select class="form-control" id="binStatus" data-ng-model="createBin.binStatus">
                            <option value="ACR">ACR</option>
                            <option value="BE">BE</option>
                            <option value="DAMAGED">Damaged</option>
                            <option value="LOST">Lost</option>
                            <option value="COMMUNAL:R">CommunalR</option>
                            <option value="COMMUNAL:C">CommunalC</option>
                            <option value="TEMPORARY">Temporary</option>
                            <option value="PURCHASED">Purchased</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="comment form-label">Comment</label>
                        <input type="text" class="form-control" id="comment" data-ng-model="createBin.comment" />
                    </div>
                    <div class="form-group">
                        <label for="writtenOff form-label">Written Off</label>
                        <input type="text" class="form-control" id="writtenOff" data-ng-model="createBin.writtenOff" />
                    </div>
                    <button type="button" class="btn btn-primary" data-ng-show="show.create == 'A'" data-ng-click="addBinDatabase();">Create</button>
                </div>
                <div class="tab-pane fade" id="batchesAdd" role="tabpanel" aria-labelledby="batches-tab">
                    <div class="form-group">
                        <label for="serialChar form-label">Serial- Char</label>
                        <input type="text" class="form-control" id="serialChar" data-ng-model="createBatches.serialChar" />
                    </div>
                    <div class="form-group">
                        <label for="serialNum form-label">Serial- Number</label>
                        <input type="text" class="form-control" id="serialNum" data-ng-model="createBatches.serialNum" />
                    </div>
                    <div class="form-group">
                        <label for="volume form-label">Volume</label>
                        <input type="number" class="form-control" id="volume" data-ng-model="createBatches.volume" />
                    </div>
                    <div class="form-group">
                        <label for="size form-label">Bin Size</label>
                        <input type="text" class="form-control" id="size" data-ng-model="createBatches.size" />
                    </div>
                    <div class="form-group">
                        <label for="binBrand form-label">Bin Brand</label>
                        <input type="text" class="form-control" id="binBrand" data-ng-model="createBatches.binBrand" />
                    </div>
                    <button type="button" class="btn btn-primary" data-ng-show="show.batch == 'A'" data-ng-click="addBinBatches();">Create</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

