<div class="row">
    <div class="col-md-12">
        <h5>Bin Inventory Management</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card" >
            <div class="card-header">
            <h5>Overall MGB Stock Balance</h5>
            </div>
            
            <div class="card-group">
                <div class="card dashboard-card">
                    <div class="card-body">
                    <h4 class="card-title">{{stock.overall120}}</h4>
                    <p class="card-text"><small>120L</small></p>
                    </div>
                </div>

                <div class="card dashboard-card">
                    <div class="card-body">
                    <h4 class="card-title">{{stock.overall240}}</h4>
                    <p class="card-text"><small>240L</small></p>
                    </div>
                </div>

                <div class="card dashboard-card">    
                    <div class="card-body">
                    <h4 class="card-title">{{stock.overall660}}</h4>
                    <p class="card-text"><small>660L</small></p>
                    </div>
                </div>

                <div class="card dashboard-card">
                    <div class="card-body">
                    <h4 class="card-title">{{stock.overall1000}}</h4>
                    <p class="card-text"><small>1000L</small></p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    
    <div class="col-md-4">
         <div class="card" >
            <div class="card-header">
            <h5>New MGB Stock Balance</h5>
            </div>
            
            <div class="card-group">
                <div class="card dashboard-card">
                    <div class="card-body">
                    <h4 class="card-title">{{stock.new120}}</h4>
                    <h4 class="card-title"></h4>
                    <p class="card-text"><small>120L</small></p>
                    </div>
                </div>

                <div class="card dashboard-card">
                    <div class="card-body">
                    <h4 class="card-title">{{stock.new240}}</h4>
                    <p class="card-text"><small>240L</small></p>
                    </div>
                </div>

                <div class="card dashboard-card">    
                    <div class="card-body">
                    <h4 class="card-title">{{stock.new660}}</h4>
                    <p class="card-text"><small>660L</small></p>
                    </div>
                </div>

                <div class="card dashboard-card">
                    <div class="card-body">
                    <h4 class="card-title">{{stock.new1000}}</h4>
                    <p class="card-text"><small>1000L</small></p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    
    <div class="col-md-4">
         <div class="card" >
            <div class="card-header">
            <h5>Reusable MGB Stock Balance</h5>
            </div>
            
            <div class="card-group">
                <div class="card dashboard-card">
                    <div class="card-body">
                    <h4 class="card-title">{{stock.reusable120}}</h4>
                    <p class="card-text"><small>120L</small></p>
                    </div>
                </div>

                <div class="card dashboard-card">
                    <div class="card-body">
                    <h4 class="card-title">{{stock.reusable240}}</h4>
                    <p class="card-text"><small>240L</small></p>
                    </div>
                </div>

                <div class="card dashboard-card">    
                    <div class="card-body">
                    <h4 class="card-title">{{stock.reusable660}}</h4>
                    <p class="card-text"><small>660L</small></p>
                    </div>
                </div>

                <div class="card dashboard-card">
                    <div class="card-body">
                    <h4 class="card-title">{{stock.reusable1000}}</h4>
                    <p class="card-text"><small>1000L</small></p>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="form-inline" style="float: right">
            <h6 style="margin-right: 20px;">Month: </h6>
            <select ng-change="" class="form-control month-select" ng-model="yearMonth" ng-options="(ym | date: 'yyyy - MMM') for ym in yearMonths">
                <option value="">Select Month</option>
            </select>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="acrTab" role=tablist>
            <li class="nav-item">
                <a class="nav-link active" id="schedule-tab" data-toggle="tab" data-target="#acrSchedule" role="tab" aria-controls="acrSchedule" aria-selected="true">New MGB</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="information-tab" data-toggle="tab" data-target="#acrInformation" role="tab" aria-controls="acrInformation" aria-selected="false">Reusable MGB</a>
            </li>
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="acrSchedule" role="tabpanel" aria-labelledby="acrSchedule-tab">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="20%">Date</th>
                                <th width="20%">DO No.</th>
                                <th width="10%">120L IN</th>
                                <th width="10%">240L IN</th>
                                <th width="10%">660L IN</th>
                                <th width="10%">1000L IN</th>
                                <th width="10%">120L OUT</th>
                                <th width="10%">240L OUT</th>
                                <th width="10%">660L OUT</th>
                                <th width="10%">1000L OUT</th>
                                <th width="10%">120L Balance</th>
                                <th width="10%">240L Balance</th>
                                <th width="10%">660L Balance</th>
                                <th width="10%">1000L Balance</th>
                                <th data-ng-show="show.edit == 'A'" width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody> <!--| yearMonthFilter:yearMonth-->
                            <tr data-ng-repeat="nb in inventoryRecordList | yearMonthFilter:yearMonth | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage">
                                <td>
                                    <span data-ng-show="showNewMgb" data-ng-bind="nb.date | date:'dd/MM/yyyy'"></span>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="nb.doNo" data-ng-show="!showNewMgb" />
                                        <span data-ng-show="showNewMgb" data-ng-bind="nb.doNo"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="nb.inNew120" data-ng-show="!showNewMgb" />
                                        <span data-ng-show="showNewMgb" data-ng-bind="nb.inNew120"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="nb.inNew240" data-ng-show="!showNewMgb" />
                                        <span data-ng-show="showNewMgb" data-ng-bind="nb.inNew240"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="nb.inNew660" data-ng-show="!showNewMgb" />
                                        <span data-ng-show="showNewMgb" data-ng-bind="nb.inNew660"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="nb.inNew1000" data-ng-show="!showNewMgb" />
                                        <span data-ng-show="showNewMgb" data-ng-bind="nb.inNew1000"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="nb.outNew120" data-ng-show="!showNewMgb" />
                                        <span data-ng-show="showNewMgb" data-ng-bind="nb.outNew120"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="nb.outNew240" data-ng-show="!showNewMgb" />
                                        <span data-ng-show="showNewMgb" data-ng-bind="nb.outNew240"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="nb.outNew660" data-ng-show="!showNewMgb" />
                                        <span data-ng-show="showNewMgb" data-ng-bind="nb.outNew660"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="nb.outNew1000" data-ng-show="!showNewMgb" />
                                        <span data-ng-show="showNewMgb" data-ng-bind="nb.outNew1000"></span>
                                    </div>
                                </td>
                                <td>
                                        <span data-ng-bind="nb.newBalance120"></span>
                                </td>
                                <td>
                                        <span data-ng-bind="nb.newBalance240"></span>
                                </td>
                                <td>
                                        <span data-ng-bind="nb.newBalance660"></span>
                                </td>
                                <td>
                                        <span data-ng-bind="nb.newBalance1000"></span>
                                </td>
                                <td data-ng-show="show.edit == 'A'">
                                    <button class="btn btn-sm btn-primary" data-ng-show="showNewMgb" data-ng-click="editNewMgb();"><i class="fa fa-pencil-alt"></i></button>
                                    <button class="btn btn-sm btn-warning" data-ng-show="!showNewMgb" data-ng-click="saveNewMgb(nb.date | date:'yyyy/MM/dd', nb.doNo,nb.inNew120, nb.inNew240, nb.inNew660, nb.inNew1000, nb.outNew120, nb.outNew240, nb.outNew660, nb.outNew1000);"><i class="fa fa-save"></i></button>
                                    <button class="btn btn-sm btn-default" data-ng-show="!showNewMgb" data-ng-click="cancelNewMgb();"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="acrInformation" role="tabpanel" aria-labelledby="acrInformation-tab" data-ng-show="show.view == 'A'">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="20%">Date</th>
                                <th width="10%">120L IN</th>
                                <th width="10%">240L IN</th>
                                <th width="10%">660L IN</th>
                                <th width="10%">1000L IN</th>
                                <th width="10%">120L OUT</th>
                                <th width="10%">240L OUT</th>
                                <th width="10%">660L OUT</th>
                                <th width="10%">1000L OUT</th>
                                <th width="10%">120L Balance</th>
                                <th width="10%">240L Balance</th>
                                <th width="10%">660L Balance</th>
                                <th width="10%">1000L Balance</th>
                                <th data-ng-show="show.edit == 'A'" width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody> <!-- | yearMonthFilter:yearMonth -->
                            <tr data-ng-repeat="rb in inventoryRecordList | yearMonthFilter:yearMonth | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage">
                                <td>
                                    <span data-ng-show="showReusableMgb" data-ng-bind="rb.date | date:'dd/MM/yyyy'"></span>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="rb.inReusable120" data-ng-show="!showReusableMgb" />
                                        <span data-ng-show="showReusableMgb" data-ng-bind="rb.inReusable120"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="rb.inReusable240" data-ng-show="!showReusableMgb" />
                                        <span data-ng-show="showReusableMgb" data-ng-bind="rb.inReusable240"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="rb.inReusable660" data-ng-show="!showReusableMgb" />
                                        <span data-ng-show="showReusableMgb" data-ng-bind="rb.inReusable660"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="rb.inReusable1000" data-ng-show="!showReusableMgb" />
                                        <span data-ng-show="showReusableMgb" data-ng-bind="rb.inReusable1000"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="rb.outReusable120" data-ng-show="!showReusableMgb" />
                                        <span data-ng-show="showReusableMgb" data-ng-bind="rb.outReusable120"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="rb.outReusable240" data-ng-show="!showReusableMgb" />
                                        <span data-ng-show="showReusableMgb" data-ng-bind="rb.outReusable240"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="rb.outReusable660" data-ng-show="!showReusableMgb" />
                                        <span data-ng-show="showReusableMgb" data-ng-bind="rb.outReusable660"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="rb.outReusable1000" data-ng-show="!showReusableMgb" />
                                        <span data-ng-show="showReusableMgb" data-ng-bind="rb.outReusable1000"></span>
                                    </div>
                                </td>
                                <td>
                                        <span data-ng-bind="rb.reusableBalance120"></span>
                                </td>
                                <td>
                                        <span data-ng-bind="rb.reusableBalance240"></span>
                                </td>
                                <td>
                                        <span data-ng-bind="rb.reusableBalance660"></span>
                                </td>
                                <td>
                                        <span data-ng-bind="rb.reusableBalance1000"></span>
                                </td>
                                <td data-ng-show="show.edit == 'A'">
                                    <button class="btn btn-sm btn-primary" data-ng-show="showReusableMgb" data-ng-click="editReusableMgb();"><i class="fa fa-pencil-alt"></i></button>
                                    <button class="btn btn-sm btn-warning" data-ng-show="!showReusableMgb" data-ng-click="saveReusableMgb(rb.date | date:'yyyy/MM/dd',rb.inReusable120, rb.inReusable240, rb.inReusable660, rb.inReusable1000, rb.outReusable120, rb.outReusable240, rb.outReusable660, rb.outReusable1000 );"><i class="fa fa-save"></i></button>
                                    <button class="btn btn-sm btn-default" data-ng-show="!showReusableMgb" data-ng-click="cancelReusableMgb();"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>