<!-- Modal for add new-->
<div class="modal fade" id="createBin" tabindex="-1" role="dialog" aria-labelledby="createBin" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Bin Centre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="txtBinName form-label">Bin Centre Name</label>
              <input type="text" class="form-control" id="txtBinName" data-ng-model="bin.name" />
          </div>
          
          <div class="form-group">
              <label for="txtBinLoc form-label">Bin Centre Location</label>
              <input type="text" class="form-control" id="txtBinLoc" data-ng-model="bin.location" />
          </div>
          
          <div class="form-group">
              <label for="txtBinArea form-label">Area</label>
              <select id="txtBinArea" data-ng-model="bin.area" class="selectpicker" data-live-search="true" data-width="100%">
                  <optgroup data-ng-repeat="w in areaList" label="{{w.zone.name}}">
                      <option value="{{a.id}}" data-ng-repeat="a in w.area">{{a.id}} - {{a.name}}</option>
                  </optgroup>
              </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="addBin();">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Bin Centre Management</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" placeholder="&#XF002; Search here..." data-ng-model="searchBinFilter" />
    </div>
</div>
<br />
<div class="row" data-ng-show="show.create == 'A'">
    <div class="col-md-12">
        <button class="btn btn-success" data-toggle="modal" data-target="#createBin"><i class="fa fa-plus"></i> New</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th width="10%">Bin Centre Code</th>
                                <th width="35%">Bin Centre Name</th>
                                <th width="15%">Location</th>
                                <th width="10%">Belong Area</th>
                                <th width="20%">Status</th>
                                <th data-ng-show="show.edit == 'A'" width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="b in binList | filter: searchBin | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage">
                                <td data-ng-bind="b.id"></td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.name" data-ng-show="!showBin" />
                                        <p data-ng-show="showBin" data-ng-bind="b.name"></p>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.location" data-ng-show="!showBin" />
                                        <p data-ng-show="showBin" data-ng-bind="b.location"></p>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <div data-ng-show="!showBin">
                                            <select data-ng-model="b.area" class="selectpicker" data-live-search="true" data-width="100%">
                                                <optgroup data-ng-repeat="w in areaList" label="{{w.zone.name}}">
                                                    <option value="{{a.id}}" data-ng-repeat="a in w.area">{{a.id}} - {{a.name}}</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                        <p data-ng-show="showBin" data-ng-bind="b.area"></p>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <select class="form-control" data-ng-model="b.status" data-ng-show="!showBin">
                                            <option>ACTIVE</option>
                                            <option>INACTIVE</option>
                                        </select>
                                        <p data-ng-show="showBin" data-ng-bind="b.status"></p>
                                    </div>
                                </td>
                                <td data-ng-show="show.edit == 'A'">
                                    <button class="btn btn-sm btn-primary" data-ng-click="editBin(b.id, b.name, b.location, b.area, b.status);" data-ng-show="showBin"><i class="fa fa-pencil-alt"></i></button>
                                    <button class="btn btn-sm btn-warning" data-ng-click="saveBin();" data-ng-show="!showBin"><i class="fa fa-save"></i></button>
                                    <button class="btn btn-sm btn-default" data-ng-click="cancelBin();" data-ng-show="!showBin"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.clickable').click(function() {
            $(this).children().find('i').toggleClass("fa-chevron-circle-right fa-chevron-circle-down");
            $('html, body').animate({
                scrollTop: $(this).offset().top - 20
            }, 'slow');
        });
    });
</script>