<div class="container" data-ng-controller="binReqDetailCtrl">
    <div class="row">
        <div class="col-md-6">
            <h1>Request Detail</h1><br/><br/>
            <p><strong>Status of Request: </strong>
                <select name="binReqStatus" data-ng-model="reqDetail.status" class="form-control" style="width: 150px;">
                    <option value="PENDING">Pending</option>
                    <option value="Settled">Settled</option>
                    <option value="In Progress">In Progress</option>
                    <option value="No Response">No Response</option>
                </select>
                <br/>
                <button class="btn btn-sm btn-primary" data-ng-click="saveBinRequestStatus(reqDetail.status, reqDetail.reqID)">Update</button>
            </p>
            <p><strong>Request Date: </strong>{{reqDetail.reqDate}}</p>
            <p><strong>Requested By: </strong>
                <span data-ng-show="reqDetail.type != 'Commercial'">{{reqDetail.name}}</span>
                <span data-ng-show="reqDetail.type == 'Commercial'">{{reqDetail.companyName}}</span>
            </p>
            <p><strong>Contact Number: </strong>{{reqDetail.contactNumber}}</p>
            <p><strong>Address: </strong>
                <span data-ng-show="reqDetail.type != 'Commercial'">{{reqDetail.address}}</span>
                <span data-ng-show="reqDetail.type == 'Commercial'">{{reqDetail.companyAddress}}</span>
            </p>
            <p><strong>Bin Type: </strong>{{reqDetail.type}}</p>
            <p><strong>Reason for Request: </strong>{{reqDetail.reason}}</p>
            <p><strong>Remarks: </strong>{{reqDetail.remarks}}</p>
        </div>
        <div class="col-md-6">
            <h3>Photo attached</h3>
            <img ng-src=../images/{{reqDetail.img}} data-ng-show="reqDetail.img != ''">
            <p data-ng-show="reqDetail.img == ''">No image attached</p>
        </div>
    </div>
</div>