<!-- Modal For new entry -->
<div class="modal fade" id="createDatabaseBin" tabindex="-1" role="dialog" aria-labelledby="createDatabaseBin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Bin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtDatabaseBinDate form-label">Date</label>
                    <input type="datetime-local" class="form-control" id="txtDatabaseBinDate" data-ng-model="databaseBin.date" />
                </div>

                <div class="form-group">
                    <label for="txtCustomer form-label">Customer</label>
                    <select type="text" class="form-control" id="txtCustomer" data-ng-model="databaseBin.customerID">
                        <option data-ng-repeat="c in customerList" value={{c.customerID}}>{{c.customerID}} - {{c.name}} - {{c.companyName}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="txtArea form-label">Area ID</label>
                    <select type="text" class="form-control" id="txtArea" data-ng-model="databaseBin.areaID">
                        <option data-ng-repeat="a in areaList" value={{a.id}}>{{a.id}} - {{a.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="txtBin form-label">Bin</label>
                    <select type="text" class="form-control" id="txtBin" data-ng-model="databaseBin.serialNo">
                        <option data-ng-repeat="b in binList" value={{b.serialNo}}>{{b.serialNo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtDatabaseBinRcDwell form-label">RC Dwell</label>
                    <select type="text" class="form-control" id="txtDatabaseBinRcDwell" data-ng-model="databaseBin.rcDwell">
                        <option value="residential">Residential</option>
                        <option value="commercial">Commercial</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtDatabaseBinStatus form-label">Active Status</label>
                    <select type="text" class="form-control" id="txtDatabaseBinStatus" data-ng-model="databaseBin.activeStatus">
                        <option value="a">Active</option>
                        <option value="i">Inactive</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtDatabaseBinComment form-label">Comment</label>
                    <input type="text" class="form-control" id="txtDatabaseBinComment" data-ng-model="databaseBin.comment" />
                </div>
                <div class="form-group">
                    <label for="txtAcr form-label">ACRF Serial No</label>
                    <select type="text" class="form-control" id="txtAcr" data-ng-model="databaseBin.acrID">
                        <option value='null'>N/A</option>
                        <option data-ng-repeat="a in acrList" value={{a.acrID}}>{{a.acrID}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-ng-click="addDatabaseBin()">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal For new customer -->
<div class="modal fade" id="createCustomer" tabindex="-1" role="dialog" aria-labelledby="createCustomer" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtCustomerUsername form-label">Username</label>
                    <input type="text" class="form-control" id="txtCustomerUsername" data-ng-model="customer.username" />
                </div>

                <div class="form-group">
                    <label for="txtCustomerPassword form-label">Password</label>
                    <input type="text" class="form-control" id="txtCustomerPassword" data-ng-model="customer.password" />
                    </select>
                </div>

                <div class="form-group">
                    <label for="txtCustomerContact form-label">Contact Number</label>
                    <input type="text" class="form-control" id="txtCustomerContact" data-ng-model="customer.contactNumber" />
                </div>

                <div class="form-group">
                    <label for="txtCustomerIcNo form-label">IC Number</label>
                    <input type="text" class="form-control" id="txtCustomerIcNo" data-ng-model="customer.ic" />
                </div>

                <div class="form-group">
                    <label for="txtCustomerTradingLicense form-label">Trading License</label>
                    <input type="text" class="form-control" id="txtCustomerTradingLicense" data-ng-model="customer.tradingLicense" />
                </div>
                <div class="form-group">
                    <label for="txtCustomerName form-label">Full Name</label>
                    <input type="text" class="form-control" id="txtCustomerName" data-ng-model="customer.name" />
                </div>
                <div class="form-group">
                    <label for="txtCompanyName form-label">Company Name</label>
                    <input type="text" class="form-control" id="txtCompanyName" data-ng-model="customer.companyName" />
                </div>
                <div class="form-group">
                    <label for="txtCustomerHouse form-label">House No.</label>
                    <input type="text" class="form-control" id="txtCustomerHouse" data-ng-model="customer.houseNo" />
                </div>
                <div class="form-group">
                    <label for="txtCustomerStreet form-label">Street No.</label>
                    <input type="text" class="form-control" id="txtCustomerStreet" data-ng-model="customer.streetNo" />
                </div>
                <div class="form-group">
                    <label for="txtCustomerPostCode form-label">Post Code</label>
                    <input type="text" class="form-control" id="txtCustomerPostCode" data-ng-model="customer.postCode" />
                </div>
                <div class="form-group">
                    <label for="txtTaman form-label">Taman / Kpg</label>
                    <select class="form-control" id="txtTaman" data-ng-model="customer.tamanID">
                        <option data-ng-repeat="t in tamanList" value={{t.tamanID}}>{{t.tamanName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="txtCustomerCity form-label">City</label>
                    <input type="text" class="form-control" id="txtCustomerCity" data-ng-model="customer.city" />
                </div>
                <div class="form-group">
                    <label for="txtCustomerStatus form-label">Status</label>
                    <select class="form-control" id="txtCustomerStatus" data-ng-model="customer.status">
                        <option value="a">Active</option>
                        <option value="i">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-ng-click="addCustomer();">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal For new Bin -->
<div class="modal fade" id="createBin" tabindex="-1" role="dialog" aria-labelledby="createBin" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Bin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtBinSerialNo form-label">Serial No.</label>
                    <input type="text" class="form-control" id="txtBinSerialNo" data-ng-model="bin.serialNo" />
                </div>

                <div class="form-group">
                    <label for="txtBinSize form-label">Size</label>
                    <select type="text" class="form-control" id="txtBinSize" data-ng-model="bin.size">
                        <option value="120">120L</option>
                        <option value="240">240L</option>
                        <option value="660">660L</option>
                        <option value="1000">1000L</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="txtBinStatus form-label">Status</label>
                    <select type="text" class="form-control" id="txtBinStatus" data-ng-model="bin.status">
                        <option value="a">Active</option>
                        <option value="i">Inactive</option>
                    </select>
                </div>

                <!-- <div class="form-group">
                    <label for="txtBinLongitude form-label">Longitude</label>
                   <input type="text" class="form-control" id="txtBinLongitude" data-ng-model="bin.longitude" />
                </div>

                <div class="form-group">
                    <label for="txtBinLatitude form-label">Latitude</label>
                    <input type="text" class="form-control" id="txtBinLatitude" data-ng-model="bin.latitude" />
                </div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-ng-click="addBin();">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal For new Taman -->
<div class="modal fade" id="createTaman" tabindex="-1" role="dialog" aria-labelledby="createTaman" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Taman</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtTamanArea form-label">Area ID</label>
                        <select type="text" class="form-control" id="txtTamanArea" data-ng-model="taman.areaID">
                            <option data-ng-repeat="a in areaList" value={{a.id}}>{{a.id}} - {{a.name}}</option>
                        </select>
                    </div>
    
                    <div class="form-group">
                        <label for="txtTamanName form-label">Taman Name</label>
                        <input type="text" class="form-control" id="txtTamanName" data-ng-model="taman.tamanName"/>
                    </div>
    
                    <div class="form-group">
                        <label for="txtTamanLongitude form-label">Longitude</label>
                        <input type="text" class="form-control" id="txtTamanLongitude" data-ng-model="taman.longitude"/>
                    </div>
    
                    <div class="form-group">
                        <label for="txtTamanLatitude form-label">Latitude</label>
                        <input type="text" class="form-control" id="txtTamanLatitude" data-ng-model="taman.latitude" />
                    </div>
    
                    <div class="form-group">
                        <label for="txtTamanStatus form-label">Area Collection Status</label>
                        <select type="text" class="form-control" id="txtTamanStatus" data-ng-model="taman.areaCollStatus">
                                <option value="a">Active</option>
                                <option value="i">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-ng-click="addTaman();">Create</button>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <h5>Wheel Bin Database</h5>
    </div>
</div>
<div class="row filter-div">
    <div class="col-md-3">
        <h6>Serial No :</h6>
        <input class="form-control" type="text" id="serialNum" ng-model="serialNoFilter.serialNo">

    </div>
    
    
    <div class="col-md-3">
        <h6>ACRF Serial No :</h6>
        <input class="form-control" type="text" id="acrfNo" ng-model="wbdFilter.acrfSerialNo">
    </div>
    <div class="col-md-2">
            <h6>Area Code :</h6>
            <input class="form-control" type="text" id="areaCode" ng-model="wbdFilter.areaCode">
        </div>
        <div class="col-md-4">
                <h6>Date Filter: </h6>
                <div id="databaserange" style="background: #F8F8F8; cursor: pointer; margin-top: 7px; padding: 8px 10px; border-radius: 3px; width: 100%" >
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-caret-down" style="float: right; padding: 5px;"></i>
                </div>
            </div>
</div>

<!--
    <div class="col-md-3">
        <button class="btn btn-success" data-toggle="modal" data-target="#createCustomer"><i class="fa fa-plus"></i> New Customer</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-success" data-toggle="modal" data-target="#createTaman"><i class="fa fa-plus"></i> New Taman</button>
    </div>
-->

<br />
<div class="row" data-ng-show="show.create == 'A'">
    <div class="col-md-3">
        <button class="btn btn-success" data-toggle="modal" data-target="#createDatabaseBin"><i class="fa fa-plus"></i> New Entry</button>
    </div>
    
    <div class="col-md-3">
        <button class="btn btn-success" data-toggle="modal" data-target="#createBin"><i class="fa fa-plus"></i> New Bin</button>
    </div>
    
</div>
<br />
<div class="row" data-ng-show="show.view == 'A'">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="20%" data-ng-click="orderBy('date');">Date <i class="fas fa-sort-down"></i></th>
                                <th width="35%" data-ng-click="orderBy('name');">Full Name <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('icNo');">IC No. <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('serialNo');">Serial No. <i class="fas fa-sort-down"></i></th>
                                <th width="10%" data-ng-click="orderBy('rcDwell');">RC Dwell <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('houseNo');">House No. <i class="fas fa-sort-down"></i></th>
                                <th width="35%" data-ng-click="orderBy('tmnKpg');">Tmn/Kpg <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('areaCode');">Area Code <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('status');">Status <i class="fas fa-sort-down"></i></th>
                                <th width="10%" data-ng-click="orderBy('comment');">Comment <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('binSize');">Bin Size <i class="fas fa-sort-down"></i></th>
                                <th width="35%" data-ng-click="orderBy('address');">Address <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('companyName');">Company Name <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('acrfSerialNo');">ACRF Serial No. <i class="fas fa-sort-down"></i></th>
                                <th data-ng-show="show.edit == 'A'" width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody> <!--dateFilter:date.from:date.to |filter: wbdFilter |-->
                            <tr data-ng-repeat="b in databaseBinList |   offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage" class="clickable-row" data-ng-click="wbdHistory(b.serialNo)">
                                <td>
                                    <div editable>
                                        <input type="date" class="form-control" data-ng-model="b.date" data-ng-show="!showDatabaseBin" />
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.date | date:'dd-MM-yyyy'"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <select type="text" class="form-control" data-ng-model="b.customerID" data-ng-show="!showDatabaseBin">
                                                <option data-ng-repeat="c in customerList" value={{c.customerID}}>{{c.ic}} - {{c.name}}</option>
                                        </select>
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <!--<input type="text" class="form-control" data-ng-model="b.icNo" data-ng-show="!showDatabaseBin" />-->
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.icNo"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <select type="text" class="form-control" data-ng-model="b.serialNo" data-ng-show="!showDatabaseBin">
                                            <option data-ng-repeat="b in binList" value={{b.serialNo}}>{{b.serialNo}}</option>
                                        </select>
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.serialNo"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <!--<input type="text" class="form-control" data-ng-model="b.rcDwell" data-ng-show="!showDatabaseBin" />-->
                                        <select type="text" class="form-control" data-ng-model="b.rcDwell" data-ng-show="!showDatabaseBin">
                                            <option value="residential">Residential</option>
                                            <option value="commercial">Commercial</option>
                                        </select>
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.rcDwell"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable> <!--Each customer can have multiple addresses, so where should addresses be stored?-->
                                        <input type="text" class="form-control" data-ng-model="b.houseNo" data-ng-show="!showDatabaseBin" />
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.houseNo"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.tmnKpg" data-ng-show="!showDatabaseBin" />
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.tmnKpg"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable> <!--Should be automatic based on address-->
                                        <select type="text" class="form-control" data-ng-model="b.areaCode" data-ng-show="!showDatabaseBin">
                                            <option data-ng-repeat="a in areaList" value={{a.id}}>{{a.id}}</option>
                                        </select>
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.areaCode"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <!--<input type="text" class="form-control" data-ng-model="b.status" data-ng-show="!showDatabaseBin" />-->
                                        <select type="text" class="form-control" data-ng-model="b.status" data-ng-show="!showDatabaseBin">
                                            <option value='a'>Active</option>
                                            <option value='i'>In-Active</option>
                                        </select>
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.status"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.comment" data-ng-show="!showDatabaseBin" />
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.comment"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <!--<input type="text" class="form-control" data-ng-model="b.binSize" data-ng-show="!showDatabaseBin" />-->
                                        <select type="text" class="form-control" data-ng-model="b.binSize" data-ng-show="!showDatabaseBin">
                                                <option value='120'>120 L</option>
                                                <option value='240'>240 L</option>
                                                <option value='660'>660 L</option>
                                                <option value='1000'>1000 L</option>
                                            </select>
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.binSize"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.address" data-ng-show="!showDatabaseBin" />
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.address"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.companyName" data-ng-show="!showDatabaseBin" />
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.companyName"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.acrfSerialNo" data-ng-show="!showDatabaseBin" />
                                        <span data-ng-show="showDatabaseBin" data-ng-bind="b.acrfSerialNo"></span>
                                    </div>
                                </td>
                                <td data-ng-show="show.edit == 'A'">
                                    <button class="btn btn-sm btn-primary" data-ng-show="showDatabaseBin" data-ng-click="editDatabaseBin();"><i class="fa fa-pencil-alt"></i></button>
                                    <button class="btn btn-sm btn-danger" data-ng-show="showDatabaseBin" data-ng-click="deleteDatabaseBin(b.serialNo)"><i class="fas fa-trash-alt"></i></button>
                                    <button class="btn btn-sm btn-warning" data-ng-show="!showDatabaseBin" data-ng-click="saveDatabaseBin(b.id, b.date, b.customerID, b.areaCode, b.serialNo, b.acrfSerialNo, b.status, b.rcDwell, b.comment, b.itemType, b.path);"><i class="fa fa-save"></i></button>
                                    <button class="btn btn-sm btn-default" data-ng-show="!showDatabaseBin" data-ng-click="cancelDatabaseBin();"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="position: fixed;bottom: 0; margin-bottom: 56px;">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>
