<div class="row">
    <div class="col-md-12">
        <h5>Complaint Module</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="googleMap" style="min-height: 450px"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" placeholder="&#XF002; Search here..." data-ng-model="searchComplaintFilter"/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="20%%" data-ng-click="orderBy('date');">Date <i class="fas fa-sort-down"></i></th>
                                <th width="30%" data-ng-click="orderBy('title');">Title <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('customer');">Customer <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('type');">Type <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('area');">Area <i class="fas fa-sort-down"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="c in complaintList | filter: searchComplaint | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage" data-ng-click="complaintDetail(c.complaintID)">
                                <td data-ng-bind="c.date"></td>
                                <td data-ng-bind="c.title"></td>
                                <td data-ng-bind="c.customer"></td>
                                <td data-ng-bind="c.type"></td>
                                <td data-ng-bind="c.area"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="position: fixed;bottom: 0; margin-bottom: 56px;">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.clickable').click(function() {
            $(this).children().find('i').toggleClass("fa-chevron-circle-right fa-chevron-circle-down");
            $('html, body').animate({
                scrollTop: $(this).offset().top - 20
            }, 'slow');
        });
    });
</script>