<div class="row">
    <div class="col-md-12">
        <h1>General CMS Statistics</h1>
    </div>
</div> 
<hr/>
<div class="form-group row">
    <label for="startDate" class="col-md-1 col-form-label form-label-width">Start Date</label>
    <div class="col-md-3">
        <input type="date" id="startDate" class="form-control mx-sm-2" data-ng-model="obj.startDate"/>
    </div>
</div>    

<div class="form-group row">
    <label for="endDate" class="col-md-1 col-form-label form-label-width">End Date</label>
    <div class="col-md-3">
        <input type="date" id="endDate" class="form-control mx-sm-2" data-ng-model="obj.endDate"/>
    </div>
</div>
<div class="form-group row">
    <label for="zon" class="col-md-1 col-form-label form-label-width">Branch</label>
    <div class="col-md-3">
        <select id="zon" class="form-control mx-sm-2" data-ng-model="obj.zon">
            <option value="KCH" selected>KCH</option>
            <option value="BTU">BTU</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" data-ng-click="objChange()" >Generate</button>
    </div>
</div>

<hr/>
<div class="row">
    <div class="col-md-12">
        <h2>Valid CMS Source</h2>
        <a href="javascript:exportTableToExcel('validCMSTbl', 'CMSData')" class="btn btn-md btn-primary clearfix">Export to Excel</a>
        <div class="table-responsive">
            <table class="table table-bordered" id="validCMSTbl">
                <thead>
                    <tr>
                        <th width="35%">Service Provider</th>
                        <th width="15%">Amount</th>
                        <th width="35%">Council</th>
                        <th width="15%">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TS</td>
                        <td>{{tsCount}}</td>
                        <td>DBKU</td>
                        <td>{{dbkuCount}}</td>
                    </tr>
                    <tr>
                        <td>MP</td>
                        <td>{{mpCount}}</td>
                        <td>MBKS</td>
                        <td>{{mbksCount}}</td>
                    </tr>
                    <tr>
                        <td>TAK</td>
                        <td>{{takCount}}</td>
                        <td>MPP</td>
                        <td>{{mppCount}}</td>
                    </tr>
                    <tr>
                        <td>RORO TS</td>
                        <td>{{roroTSCount}}</td>
                        <td>MDS</td>
                        <td>{{mdsCount}}</td>
                    </tr>
                    <tr>
                        <td>RORO MP</td>
                        <td>{{roroMPCount}}</td>
                        <td>RORO</td>
                        <td>{{totalROROCount}}</td>
                    </tr>
                    <tr>
                        <td>RORO TAK</td>
                        <td>{{roroTAKCount}}</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>{{tsCount + mpCount + takCount + roroTSCount + roroMPCount + roroTAKCount}}</th>
                        <th>Total</th>
                        <th>{{dbkuCount + mbksCount + mppCount + totalROROCount}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <h2>CMS Count</h2>
        <a href="javascript:exportTableToExcel('cmsCountTbl', 'CMSCount')" class="btn btn-md btn-primary clearfix">Export to Excel</a>
        <div class="table-responsive">
            <table class="table table-bordered" id="cmsCountTbl">
                <thead>
                    <tr>
                        <th colspan="2">Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3">Valid</td>
                        <td>MW CMS Recorded</td>
                        <td>{{validMWCount}}</td>
                    </tr>
                    <tr>
                        <td>RORO CMS Recorded</td>
                        <td>{{validROROCount}}</td>
                    </tr>
                    <tr>
                        <td>Scheduled Waste CMS Recorded</td>
                        <td>{{validScheduledCount}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Invalid</td>
                        <td>{{invalidCount}}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Total</th>
                        <th>{{validMWCount + validROROCount + validScheduledCount + invalidCount}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr/>
<dvi class="row">
    <div class="col-md-12">
        <h2>CMS Category</h2>
        <a href="javascript:exportTableToExcel('cmsCategoryTbl', 'CMSCategory')" class="btn btn-md btn-primary clearfix">Export to Excel</a>
        <div class="table-responsive">
            <table class="table table-bordered" id="cmsCategoryTbl">
                <thead>
                    <tr>
                        <th rowspan="2">Category</th>
                        <th rowspan="2">Amount</th>
                        <th colspan="3">Council</th>
                    </tr>
                    <tr>
                        <th>TS</th>
                        <th>MP</th>
                        <th>TAK</th>
                        <th>Other</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Truck breakdown</td>
                        <td>{{truckBDCountTS + truckBDCountMP + truckBDCountTAK + truckBDCountOther}}</td>
                        <td>{{truckBDCountTS}}</td>
                        <td>{{truckBDCountMP}}</td>
                        <td>{{truckBDCountTAK}}</td>
                        <td>{{truckBDCountOther}}</td>
                    </tr>
                    <tr>
                        <td>Truck full</td>
                        <td>{{truckFullCountTS + truckFullCountMP + truckFullCountTAK + truckFullCountOther}}</td>
                        <td>{{truckFullCountTS}}</td>
                        <td>{{truckFullCountMP}}</td>
                        <td>{{truckFullCountTAK}}</td>
                        <td>{{truckFullCountOther}}</td>
                    </tr>
                    <tr>
                        <td>Shortage manpower</td>
                        <td>{{shortageMPCountTS + shortageMPCountMP + shortageMPCountTAK + shortageMPCountOther}}</td>
                        <td>{{shortageMPCountTS}}</td>
                        <td>{{shortageMPCountMP}}</td>
                        <td>{{shortageMPCountTAK}}</td>
                        <td>{{shortageMPCountOther}}</td>
                    </tr>
                    <tr>
                        <td>Waste not collected</td>
                        <td>{{missColCountTS + missColCountMP + missColCountTAK + missColCountOther}}</td>
                        <td>{{missColCountTS}}</td>
                        <td>{{missColCountMP}}</td>
                        <td>{{missColCountTAK}}</td>
                        <td>{{missColCountOther}}</td>
                    </tr>
                    <tr>
                        <td>Bin not send back</td>
                        <td>{{binNSBCountTS + binNSBCountMP + binNSBCountTAK + binNSBCountOther}}</td>
                        <td>{{binNSBCountTS}}</td>
                        <td>{{binNSBCountMP}}</td>
                        <td>{{binNSBCountTAK}}</td>
                        <td>{{binNSBCountOther}}</td>
                    </tr>
                    <tr>
                        <td>Other</td>
                        <td>{{otherCountTS + otherCountMP + otherCountTAK + otherCountOther}}</td>
                        <td>{{otherCountTS}}</td>
                        <td>{{otherCountMP}}</td>
                        <td>{{otherCountTAK}}</td>
                        <td>{{otherCountOther}}</td>
                    </tr>
                    <tr>
                        <td>Leachate</td>
                        <td>{{lechateCountTS + lechateCountMP + lechateCountTAK + lechateCountOther}}</td>
                        <td>{{lechateCountTS}}</td>
                        <td>{{lechateCountMP}}</td>
                        <td>{{lechateCountTAK}}</td>
                        <td>{{lechateCountOther}}</td>
                    </tr>
                    <tr>
                        <td>RORO</td>
                        <td>{{roroReasonCountTS + roroReasonCountMP + roroReasonCountTAK + roroReasonCountOther}}</td>
                        <td>{{roroReasonCountTS}}</td>
                        <td>{{roroReasonCountMP}}</td>
                        <td>{{roroReasonCountTAK}}</td>
                        <td>{{roroReasonCountOther}}</td>
                    </tr>
                    <tr>
                        <td>Spillage of Waste</td>
                        <td>{{spillageCountTS + spillageCountMP + spillageCountTAK + spillageCountOther}}</td>
                        <td>{{spillageCountTS}}</td>
                        <td>{{spillageCountMP}}</td>
                        <td>{{spillageCountTAK}}</td>
                        <td>{{spillageCountOther}}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>{{truckBDCountTS + truckBDCountMP + truckBDCountTAK + truckBDCountOther + truckFullCountTS + truckFullCountMP + truckFullCountTAK + truckFullCountOther + shortageMPCountTS + shortageMPCountMP + shortageMPCountTAK + shortageMPCountOther + missColCountTS + missColCountMP + missColCountTAK + missColCountTAK + binNSBCountTS + binNSBCountMP + binNSBCountTAK + binNSBCountOther + otherCountTS + otherCountMP + otherCountTAK + otherCountOther + lechateCountTS + lechateCountMP + lechateCountTAK + lechateCountOther + roroReasonCountTS + roroReasonCountMP + roroReasonCountTAK + roroReasonCountOther}}</td>
                        <td>{{truckBDCountTS + truckFullCountTS + shortageMPCountTS + missColCountTS + binNSBCountTS + otherCountTS + lechateCountTS + roroReasonCountTS}}</td>
                        <td>{{truckBDCountMP + truckFullCountMP + shortageMPCountMP + missColCountMP + binNSBCountMP + otherCountMP + lechateCountMP + roroReasonCountMP}}</td>
                        <td>{{truckBDCountTAK + truckFullCountTAK + shortageMPCountTAK + missColCountTAK + binNSBCountTAK + otherCountTAK + lechateCountTAK + roroReasonCountTAK}}</td>
                        <td>{{truckBDCountOther + truckFullCountOther + shortageMPCountOther + missColCountOther + binNSBCountOther + otherCountOther + lechateCountOther + roroReasonCountOther}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    function exportTableToExcel(tableID, filename = ''){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        
        // Specify file name
        filename = filename?filename+'.xls':'data.xls';
        
        // Create download link element
        downloadLink = document.createElement("a");
        
        document.body.appendChild(downloadLink);
        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
        
            // Setting the file name
            downloadLink.download = filename;
            
            //triggering the function
            downloadLink.click();
        }
    }
    </script>  

