<div class="row">
    <div class="col-md-12">
        <h1>BD CMS Monthly Report</h1>
    </div>
</div> 

<div class="form-group row">
    <label for="startDate" class="col-md-1 col-form-label form-label-width">Start Date</label>
    <div class="col-md-3">
        <input type="date" id="startDate" class="form-control mx-sm-2" data-ng-model="obj.startDate"/>
    </div>
</div>    

<div class="form-group row">
    <label for="endDate" class="col-md-1 col-form-label form-label-width">End Date</label>
    <div class="col-md-3">
        <input type="date" id="endDate" class="form-control mx-sm-2" data-ng-model="obj.endDate"/>
    </div>
</div>
<div class="form-group row">
    <label for="zon" class="col-md-1 col-form-label form-label-width">Branch</label>
    <div class="col-md-3">
        <select id="zon" class="form-control mx-sm-2" data-ng-model="obj.zon">
            <option value="KCH" selected>KCH</option>
            <option value="BTU">BTU</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" data-ng-click="objChange()" >Generate</button>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-2 offset-md-10">
        <a href="javascript:exportTableToExcel('sourceTbl', 'ComplaintSource')" class="btn btn-md btn-primary clearfix">Export to Excel</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered" id="sourceTbl">
            <thead>
                <tr>
                    <th>Source</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Telephone</td>
                    <td>{{source.telephone}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{source.email}}</td>
                </tr>
                <tr>
                    <td>Fax</td>
                    <td>{{source.fax}}</td>
                </tr>
                <tr>
                    <td>MBKS</td>
                    <td>{{source.mbks}}</td>
                </tr>
                <tr>
                    <td>DBKU</td>
                    <td>{{source.dbku}}</td>
                </tr>
                <tr>
                    <td>MPP</td>
                    <td>{{source.mpp}}</td>
                </tr>
                <tr>
                    <td>MDS</td>
                    <td>{{source.mds}}</td>
                </tr>
                <tr>
                    <td>Talikhidmat</td>
                    <td>{{source.talikhidmat}}</td>
                </tr>
                <tr>
                    <td>Social Media</td>
                    <td>{{source.socialMedia}}</td>
                </tr>
                <tr>
                    <td>Mobile Apps</td>
                    <td>{{source.apps}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr/>
<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" data-toggle="tab" data-target="#mw">MW</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#roro">RORO</a></li>
    <li class="nav-item"><a class="nav-link" data-toggle="tab" data-target="#sw">SW</a></li>
</ul>
<br/>
<div class="tab-content">
    <div id="mw" class="tab-pane fade show active">
        <div class="row">
            <div class="col-md-10">
                <h5>Municipal Waste Services</h5>
            </div>
            <div class="col-md-2">
                <a href="javascript:exportTableToExcel('mwTable', 'BdMWData');javascript:exportTableToExcel('cmsCategoryMWTbl', 'BdMWReasonData');" class="btn btn-md btn-primary clearfix">Export to Excel</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="mwTable">
                        <tr>
                            <th width="70%">Overall total no. of complaints received</th>
                            <td colspan="2" width="30%">{{mwData.totalComp}}</td>
                        </tr>
                        <tr>
                            <th>Response time analysis for CMS</th>
                            <td colspan="2">{{mwData.achieveKPI / mwData.totalComp * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <th>Overall total no. of valid complaints</th>
                            <td colspan="2">{{mwData.tsValid + mwData.takValid + mwData.mpValid}}</td>
                        </tr>
                        <tr>
                            <td>TS</td>
                            <td width="15%">{{mwData.tsValid}}</td>
                            <td width="15%">{{ mwData.tsValid / (mwData.tsValid + mwData.takValid + mwData.mpValid) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Mega Power</td>
                            <td>{{mwData.mpValid}}</td>
                            <td>{{ mwData.mpValid / (mwData.tsValid + mwData.takValid + mwData.mpValid) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Toh Ah Kaw</td>
                            <td>{{mwData.takValid}}</td>
                            <td>{{ mwData.takValid / (mwData.tsValid + mwData.takValid + mwData.mpValid) * 100 | number:2}} %</td>
                        </tr>
                        <!-- <tr>
                            <th colspan="3">
                                Reason
                            </th>
                        </tr>
                        <tr>
                            <td>Truck Breakdown</td>
                            <td>{{mwData.truckBDCount}}</td>
                            <td>{{mwData.truckBDCount / (mwData.missColCount + mwData.shortageMPCount + mwData.truckBDCount + mwData.truckFullCount + mwData.spillageCount + mwData.lechateCount + mwData.notWearingPPECount + mwData.binNSBCount + mwData.otherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Truck Full</td>
                            <td>{{mwData.truckFullCount}}</td>
                            <td>{{mwData.truckFullCount / (mwData.missColCount + mwData.shortageMPCount + mwData.truckBDCount + mwData.truckFullCount + mwData.spillageCount + mwData.lechateCount + mwData.notWearingPPECount + mwData.binNSBCount + mwData.otherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Shortage Manpower</td>
                            <td>{{mwData.shortageMPCount}}</td>
                            <td>{{mwData.shortageMPCount / (mwData.missColCount + mwData.shortageMPCount + mwData.truckBDCount + mwData.truckFullCount + mwData.spillageCount + mwData.echateCount + mwData.notWearingPPECount + mwData.binNSBCount + mwData.otherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Waste Not Collected</td>
                            <td>{{mwData.missColCount}}</td>
                            <td>{{mwData.missColCount / (mwData.missColCount + mwData.shortageMPCount + mwData.truckBDCount + mwData.truckFullCount + mwData.spillageCount + mwData.lechateCount + mwData.notWearingPPECount + mwData.binNSBCount + mwData.otherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Bin Not Sent Back</td>
                            <td>{{mwData.binNSBCount}}</td>
                            <td>{{mwData.binNSBCount / (mwData.missColCount + mwData.shortageMPCount + mwData.truckBDCount + mwData.truckFullCount + mwData.spillageCount + mwData.lechateCount + mwData.notWearingPPECount + mwData.binNSBCount + mwData.otherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>{{mwData.otherCount}}</td>
                            <td>{{mwData.otherCount / (mwData.missColCount + mwData.shortageMPCount + mwData.truckBDCount + mwData.truckFullCount + mwData.spillageCount + mwData.lechateCount + mwData.notWearingPPECount + mwData.binNSBCount + mwData.otherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Spillage of Leachate</td>
                            <td>{{mwData.lechateCount}}</td>
                            <td>{{mwData.lechateCount / (mwData.missColCount + mwData.shortageMPCount + mwData.truckBDCount + mwData.truckFullCount + mwData.spillageCount + mwData.lechateCount + mwData.notWearingPPECount + mwData.binNSBCount + mwData.otherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Spillage of Waste</td>
                            <td>{{mwData.spillageCount}}</td>
                            <td>{{mwData.spillageCount / (mwData.missColCount + mwData.shortageMPCount + mwData.truckBDCount + mwData.truckFullCount + mwData.spillageCount + mwData.lechateCount + mwData.notWearingPPECount + mwData.binNSBCount + mwData.otherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Not Wearing PPE / Uniform</td>
                            <td>{{mwData.notWearingPPECount}}</td>
                            <td>{{mwData.notWearingPPECount / (mwData.missColCount + mwData.shortageMPCount + mwData.truckBDCount + mwData.truckFullCount + mwData.spillageCount + mwData.lechateCount + mwData.notWearingPPECount + mwData.binNSBCount + mwData.otherCount) * 100 | number:2}} %</td>
                        </tr> -->
                        <tr>
                            <th colspan="3">Complaints By Council</th>
                        </tr>
                        <tr>
                            <td>1. DBKU</td>
                            <td>{{mwData.dbku}}</td>
                            <td>{{mwData.dbku / (mwData.dbku + mwData.mbks + mwData.mpp + mwData.others) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>2. MBKS</td>
                            <td>{{mwData.mbks}}</td>
                            <td>{{mwData.mbks / (mwData.dbku + mwData.mbks + mwData.mpp + mwData.others) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>3. MPP</td>
                            <td>{{mwData.mpp}}</td>
                            <td>{{mwData.mpp / (mwData.dbku + mwData.mbks + mwData.mpp + mwData.others) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>{{mwData.others}}</td>
                            <td>{{mwData.others / (mwData.dbku + mwData.mbks + mwData.mpp + mwData.others) * 100 | number:2}} %</td>
                        </tr>
                    </table>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table table-bordered" id="cmsCategoryMWTbl">
                        <thead>
                            <tr>
                                <th>Reasons</th>
                                <th>Amount</th>
                                <th>TS</th>
                                <th>MP</th>
                                <th>TAK</th>
                                <th>Other</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-container="body" title="Truck Breakdown" data-toggle="popover" data-placement="left" data-content="{{truckBreakDownRootCause}}">Truck breakdown</td>
                                <td>{{truckBDCountTS + truckBDCountMP + truckBDCountTAK + truckBDCountOther}}</td>
                                <td>{{truckBDCountTS}}</td>
                                <td>{{truckBDCountMP}}</td>
                                <td>{{truckBDCountTAK}}</td>
                                <td>{{truckBDCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Truck Full" data-toggle="popover" data-placement="left" data-content="{{truckFullRootCause}}">Truck full</td>
                                <td>{{truckFullCountTS + truckFullCountMP + truckFullCountTAK + truckFullCountOther}}</td>
                                <td>{{truckFullCountTS}}</td>
                                <td>{{truckFullCountMP}}</td>
                                <td>{{truckFullCountTAK}}</td>
                                <td>{{truckFullCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Shortage manpower" data-toggle="popover" data-placement="left" data-content="{{shortageManpowerRootCause}}">Shortage manpower</td>
                                <td>{{shortageMPCountTS + shortageMPCountMP + shortageMPCountTAK + shortageMPCountOther}}</td>
                                <td>{{shortageMPCountTS}}</td>
                                <td>{{shortageMPCountMP}}</td>
                                <td>{{shortageMPCountTAK}}</td>
                                <td>{{shortageMPCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Waste Not Collected" data-toggle="popover" data-placement="left" data-content="{{wasteNotCollectedRootCause}}">Waste not collected</td>
                                <td>{{missColCountTS + missColCountMP + missColCountTAK + missColCountOther}}</td>
                                <td>{{missColCountTS}}</td>
                                <td>{{missColCountMP}}</td>
                                <td>{{missColCountTAK}}</td>
                                <td>{{missColCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Bin Not Send Back" data-toggle="popover" data-placement="left" data-content="{{binNSBRootCause}}">Bin not send back</td>
                                <td>{{binNSBCountTS + binNSBCountMP + binNSBCountTAK + binNSBCountOther}}</td>
                                <td>{{binNSBCountTS}}</td>
                                <td>{{binNSBCountMP}}</td>
                                <td>{{binNSBCountTAK}}</td>
                                <td>{{binNSBCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Other" data-toggle="popover" data-placement="left" data-content="{{otherRootCause}}">Other</td>
                                <td>{{otherCountTS + otherCountMP + otherCountTAK + otherCountOther}}</td>
                                <td>{{otherCountTS}}</td>
                                <td>{{otherCountMP}}</td>
                                <td>{{otherCountTAK}}</td>
                                <td>{{otherCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Leachate" data-toggle="popover" data-placement="left" data-content="{{leachateRootCause}}">Spillage of Leachate</td>
                                <td>{{lechateCountTS + lechateCountMP + lechateCountTAK + lechateCountOther}}</td>
                                <td>{{lechateCountTS}}</td>
                                <td>{{lechateCountMP}}</td>
                                <td>{{lechateCountTAK}}</td>
                                <td>{{lechateCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Spillage of Waste" data-toggle="popover" data-placement="left" data-content="{{spillageRootCause}}">Spillage of Waste</td>
                                <td>{{spillageCountTS + spillageCountMP + spillageCountTAK + spillageCountOther}}</td>
                                <td>{{spillageCountTS}}</td>
                                <td>{{spillageCountMP}}</td>
                                <td>{{spillageCountTAK}}</td>
                                <td>{{spillageCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Not wearing PPE or Uniform" data-toggle="popover" data-placement="left" data-content="{{notWearingPPERootCause}}">Not wearing PPE / Uniform</td>
                                <td>{{notWearingPPECountTS + notWearingPPECountMP + notWearingPPECountTAK + notWearingPPECountOther}}</td>
                                <td>{{notWearingPPECountTS}}</td>
                                <td>{{notWearingPPECountMP}}</td>
                                <td>{{notWearingPPECountTAK}}</td>
                                <td>{{notWearingPPECountOther}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>{{ truckBDCountTS + truckFullCountTS + shortageMPCountTS + missColCountTS + binNSBCountTS + otherCountTS + lechateCountTS + spillageCountTS + truckBDCountMP + truckFullCountMP + shortageMPCountMP + missColCountMP + binNSBCountMP + otherCountMP + lechateCountMP + spillageCountMP + truckBDCountTAK + truckFullCountTAK + shortageMPCountTAK + missColCountTAK + binNSBCountTAK + otherCountTAK + lechateCountTAK + spillageCountTAK + truckBDCountOther + truckFullCountOther + shortageMPCountOther + missColCountOther + binNSBCountOther + otherCountOther + lechateCountOther + spillageCountOther + notWearingPPECountTS + notWearingPPECountMP + notWearingPPECountTAK + notWearingPPECountOther}}</td>
                                <td>{{truckBDCountTS + truckFullCountTS + shortageMPCountTS + missColCountTS + binNSBCountTS + otherCountTS + lechateCountTS + spillageCountTS + notWearingPPECountTS }}</td>
                                <td>{{truckBDCountMP + truckFullCountMP + shortageMPCountMP + missColCountMP + binNSBCountMP + otherCountMP + lechateCountMP + spillageCountMP + notWearingPPECountMP }}</td>
                                <td>{{truckBDCountTAK + truckFullCountTAK + shortageMPCountTAK + missColCountTAK + binNSBCountTAK + otherCountTAK + lechateCountTAK + spillageCountTAK + notWearingPPECountTAK }}</td>
                                <td>{{truckBDCountOther + truckFullCountOther + shortageMPCountOther + missColCountOther + binNSBCountOther + otherCountOther + lechateCountOther + spillageCountOther + notWearingPPECountOther}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="roro" class="tab-pane fade">
        <div class="row">
            <div class="col-md-10">
                <h5>Roro Container Services</h5>
            </div>
            <div class="col-md-2">
                <a href="javascript:exportTableToExcel('roroTable', 'BdRoroData');javascript:exportTableToExcel('cmsCategoryRoroTbl', 'BdROROReasonData');" class="btn btn-md btn-primary clearfix">Export to Excel</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="roroTable">
                        <tr>
                            <th width="70%">Overall total no. of complaints received</th>
                            <td colspan="2" width="30%">{{roroData.totalComp}}</td>
                        </tr>
                        <tr>
                            <th>Response time analysis for CMS</th>
                            <td colspan="2">{{roroData.achieveKPI / roroData.totalComp * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <th>Overall total no. of valid complaints</th>
                            <td colspan="2">{{roroData.tsValid + roroData.takValid + roroData.mpValid}}</td>
                        </tr>
                        <tr>
                            <td>TS</td>
                            <td width="15%">{{roroData.tsValid}}</td>
                            <td width="15%">{{roroData.tsValid / (roroData.tsValid + roroData.takValid + roroData.mpValid) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Mega Power</td>
                            <td>{{roroData.mpValid}}</td>
                            <td>{{roroData.mpValid / (roroData.tsValid + roroData.takValid + roroData.mpValid) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Toh Ah Kaw</td>
                            <td>{{roroData.takValid}}</td>
                            <td>{{roroData.mpValid / (roroData.tsValid + roroData.takValid + roroData.mpValid) * 100 | number:2}} %</td>
                        </tr>
                        <!-- <tr>
                            <th colspan="3">
                                Reason
                            </th>
                        </tr>
                        <tr>
                            <td>Truck Breakdown</td>
                            <td>{{roroData.roroTruckBDCount}}</td>
                            <td>{{roroData.roroTruckBDCount / (roroData.roroTruckBDCount + roroData.roroShortageMPCount + roroData.roroShortageOfContainter + roroData.roroNotWearingPPECount + roroData.roroOtherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Shortage Manpower</td>
                            <td>{{roroData.roroShortageMPCount}}</td>
                            <td>{{roroData.roroShortageMPCount / (roroData.roroTruckBDCount + roroData.roroShortageMPCount + roroData.roroShortageOfContainter + roroData.roroNotWearingPPECount + roroData.roroOtherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Not Wearing PPE / Uniform</td>
                            <td>{{roroData.roroNotWearingPPECount}}</td>
                            <td>{{roroData.roroNotWearingPPECount / (roroData.roroTruckBDCount + roroData.roroShortageMPCount + roroData.roroShortageOfContainter + roroData.roroNotWearingPPECount + roroData.roroOtherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Shortage of Container</td>
                            <td>{{roroData.roroShortageOfContainter}}</td>
                            <td>{{roroData.roroShortageOfContainter / (roroData.roroTruckBDCount + roroData.roroShortageMPCount + roroData.roroShortageOfContainter + roroData.roroNotWearingPPECount + roroData.roroOtherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>{{roroData.roroOtherCount}}</td>
                            <td>{{roroData.roroOtherCount / (roroData.roroTruckBDCount + roroData.roroShortageMPCount + roroData.roroShortageOfContainter + roroData.roroNotWearingPPECount + roroData.roroOtherCount) * 100 | number:2}} %</td>
                        </tr> -->
                    </table>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table table-bordered" id="cmsCategoryRoroTbl">
                        <thead>
                            <tr>
                                <th>Reasons</th>
                                <th>Amount</th>
                                <th>TS</th>
                                <th>MP</th>
                                <th>TAK</th>
                                <th>Other</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-container="body" title="Truck Breakdown" data-toggle="popover" data-placement="left" data-content="{{roroRootCause}}">Truck breakdown</td>
                                <td>{{roroTruckBDCountTS + roroTruckBDCountMP + roroTruckBDCountTAK + roroTruckBDCountOther}}</td>
                                <td>{{roroTruckBDCountTS}}</td>
                                <td>{{roroTruckBDCountMP}}</td>
                                <td>{{roroTruckBDCountTAK}}</td>
                                <td>{{roroTruckBDCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Shortage manpower" data-toggle="popover" data-placement="left">Shortage manpower</td>
                                <td>{{roroShortageMPCountTS + roroShortageMPCountMP + roroShortageMPCountTAK + roroShortageMPCountOther}}</td>
                                <td>{{roroShortageMPCountTS}}</td>
                                <td>{{roroShortageMPCountMP}}</td>
                                <td>{{roroShortageMPCountTAK}}</td>
                                <td>{{roroShortageMPCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Not wearing PPE or Uniform" data-toggle="popover" data-placement="left">Not wearing PPE / Uniform</td>
                                <td>{{roroNotWearingPPECountTS + roroNotWearingPPECountMP + roroNotWearingPPECountTAK + roroNotWearingPPECountOther}}</td>
                                <td>{{roroNotWearingPPECountTS}}</td>
                                <td>{{roroNotWearingPPECountMP}}</td>
                                <td>{{roroNotWearingPPECountTAK}}</td>
                                <td>{{roroNotWearingPPECountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Waste Not Collected" data-toggle="popover" data-placement="left">Shortage of Container</td>
                                <td>{{roroShortageOfContainterTS + roroShortageOfContainterMP + roroShortageOfContainterTAK + roroShortageOfContainterOther}}</td>
                                <td>{{roroShortageOfContainterTS}}</td>
                                <td>{{roroShortageOfContainterMP}}</td>
                                <td>{{roroShortageOfContainterTAK}}</td>
                                <td>{{roroShortageOfContainterOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Other" data-toggle="popover" data-placement="left">Other</td>
                                <td>{{roroOtherCountTS + roroOtherCountMP + roroOtherCountTAK + roroOtherCountOther}}</td>
                                <td>{{roroOtherCountTS}}</td>
                                <td>{{roroOtherCountMP}}</td>
                                <td>{{roroOtherCountTAK}}</td>
                                <td>{{roroOtherCountOther}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>{{roroTruckBDCountTS + roroShortageMPCountTS + roroNotWearingPPECountTS + roroShortageOfContainterTS + roroOtherCountTS + roroTruckBDCountMP + roroShortageMPCountMP + roroNotWearingPPECountMP + roroShortageOfContainterMP + roroOtherCountMP + roroTruckBDCountTAK + roroShortageMPCountTAK + roroNotWearingPPECountTAK + roroShortageOfContainterTAK + roroOtherCountTAK + roroTruckBDCountOther + roroShortageMPCountOther + roroNotWearingPPECountOther + roroShortageOfContainterOther + roroOtherCountOther}}</td>
                                <td>{{roroTruckBDCountTS + roroShortageMPCountTS + roroNotWearingPPECountTS + roroShortageOfContainterTS + roroOtherCountTS }}</td>
                                <td>{{roroTruckBDCountMP + roroShortageMPCountMP + roroNotWearingPPECountMP + roroShortageOfContainterMP + roroOtherCountMP }}</td>
                                <td>{{roroTruckBDCountTAK + roroShortageMPCountTAK + roroNotWearingPPECountTAK + roroShortageOfContainterTAK + roroOtherCountTAK }}</td>
                                <td>{{roroTruckBDCountOther + roroShortageMPCountOther + roroNotWearingPPECountOther + roroShortageOfContainterOther + roroOtherCountOther }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="sw" class="tab-pane fade">
        <div class="row">
            <div class="col-md-10">
                <h5>Scheduled Waste Services</h5>
            </div>
            <div class="col-md-2">
                <a href="javascript:exportTableToExcel('swTable', 'BdSWData');javascript:exportTableToExcel('cmsCategorySWTbl', 'BdSWReasonData');" class="btn btn-md btn-primary clearfix">Export to Excel</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="swTable">
                        <tr>
                            <th width="70%">Overall total no. of complaints received</th>
                            <td colspan="2" width="30%">{{swData.totalComp}}</td>
                        </tr>
                        <tr>
                            <th>Response time analysis for CMS</th>
                            <td colspan="2">{{swData.achieveKPI / swData.totalComp * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <th>Overall total no. of valid complaints</th>
                            <td colspan="2">{{swData.tsValid + swData.otherSubconValid}}</td>
                        </tr>
                        <tr>
                            <td>TS</td>
                            <td width="15%">{{swData.tsValid}}</td>
                            <td width="15%">{{swData.tsValid / (swData.tsValid + swData.otherSubconValid) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>{{swData.otherSubconValid}}</td>
                            <td>{{swData.otherSubconValid / (swData.tsValid + swData.otherSubconValid) * 100 | number:2}} %</td>
                        </tr>
                        <!-- <tr>
                            <th colspan="3">
                                Reason
                            </th>
                        </tr>
                        <tr>
                            <td>Truck Breakdown</td>
                            <td>{{swData.swTruckBDCount}}</td>
                            <td>{{swData.swTruckBDCount  / (swData.swTruckBDCount + swData.swShortageMPCount + swData.swIncompleteDocCount + swData.swSpillageCount + swData.swNotWearingPPECount + swData.swOtherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Shortage Manpower</td>
                            <td>{{swData.swShortageMPCount}}</td>
                            <td>{{swData.swShortageMPCount  / (swData.swTruckBDCount + swData.swShortageMPCount + swData.swIncompleteDocCount + swData.swSpillageCount + swData.swNotWearingPPECount + swData.swOtherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Incomplete Documents</td>
                            <td>{{swData.swIncompleteDocCount}}</td>
                            <td>{{swData.swIncompleteDocCount  / (swData.swTruckBDCount + swData.swShortageMPCount + swData.swIncompleteDocCount + swData.swSpillageCount + swData.swNotWearingPPECount + swData.swOtherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Spillage During Collection</td>
                            <td>{{swData.swSpillageCount}}</td>
                            <td>{{swData.swSpillageCount  / (swData.swTruckBDCount + swData.swShortageMPCount + swData.swIncompleteDocCount + swData.swSpillageCount + swData.swNotWearingPPECount + swData.swOtherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Not Wearing PPE / Uniform</td>
                            <td>{{swData.swNotWearingPPECount}}</td>
                            <td>{{swData.swNotWearingPPECount  / (swData.swTruckBDCount + swData.swShortageMPCount + swData.swIncompleteDocCount + swData.swSpillageCount + swData.swNotWearingPPECount + swData.swOtherCount) * 100 | number:2}} %</td>
                        </tr>
                        <tr>
                            <td>Others</td>
                            <td>{{swData.swOtherCount}}</td>
                            <td>{{swData.swOtherCount  / (swData.swTruckBDCount + swData.swShortageMPCount + swData.swIncompleteDocCount + swData.swSpillageCount + swData.swNotWearingPPECount + swData.swOtherCount) * 100 | number:2}} %</td>
                        </tr> -->
                    </table>
                </div>
                <br/>
                <div class="table-responsive">
                    <table class="table table-bordered" id="cmsCategorySWTbl">
                        <thead>
                            <tr>
                                <th>Reasons</th>
                                <th>Amount</th>
                                <th>TS</th>
                                <th>MP</th>
                                <th>TAK</th>
                                <th>Other</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-container="body" title="Truck Breakdown" data-toggle="popover" data-placement="left">Truck breakdown</td>
                                <td>{{swTruckBDCountTS + swTruckBDCountMP + swTruckBDCountTAK + swTruckBDCountOther}}</td>
                                <td>{{swTruckBDCountTS}}</td>
                                <td>{{swTruckBDCountMP}}</td>
                                <td>{{swTruckBDCountTAK}}</td>
                                <td>{{swTruckBDCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Shortage manpower" data-toggle="popover" data-placement="left">Shortage manpower</td>
                                <td>{{swShortageMPCountTS + swShortageMPCountMP + swShortageMPCountTAK + swShortageMPCountOther}}</td>
                                <td>{{swShortageMPCountTS}}</td>
                                <td>{{swShortageMPCountMP}}</td>
                                <td>{{swShortageMPCountTAK}}</td>
                                <td>{{swShortageMPCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Bin Not Send Back" data-toggle="popover" data-placement="left">Incomplete Documents</td>
                                <td>{{swIncompleteDocCountTS + swIncompleteDocCountMP + swIncompleteDocCountTAK + swIncompleteDocCountOther}}</td>
                                <td>{{swIncompleteDocCountTS}}</td>
                                <td>{{swIncompleteDocCountMP}}</td>
                                <td>{{swIncompleteDocCountTAK}}</td>
                                <td>{{swIncompleteDocCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Leachate" data-toggle="popover" data-placement="left">Spillage During Collection</td>
                                <td>{{swSpillageCountTS + swSpillageCountMP + swSpillageCountTAK + swSpillageCountOther}}</td>
                                <td>{{swSpillageCountTS}}</td>
                                <td>{{swSpillageCountMP}}</td>
                                <td>{{swSpillageCountTAK}}</td>
                                <td>{{swSpillageCountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Not wearing PPE or Uniform" data-toggle="popover" data-placement="left">Not wearing PPE / Uniform</td>
                                <td>{{swNotWearingPPECountTS + swNotWearingPPECountMP + swNotWearingPPECountTAK + swNotWearingPPECountOther}}</td>
                                <td>{{swNotWearingPPECountTS}}</td>
                                <td>{{swNotWearingPPECountMP}}</td>
                                <td>{{swNotWearingPPECountTAK}}</td>
                                <td>{{swNotWearingPPECountOther}}</td>
                            </tr>
                            <tr>
                                <td data-container="body" title="Other" data-toggle="popover" data-placement="left">Other</td>
                                <td>{{swOtherCountTS + swOtherCountMP + swOtherCountTAK + swOtherCountOther}}</td>
                                <td>{{swOtherCountTS}}</td>
                                <td>{{swOtherCountMP}}</td>
                                <td>{{swOtherCountTAK}}</td>
                                <td>{{swOtherCountOther}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>{{ swTruckBDCountTS + swShortageMPCountTS + swIncompleteDocCountTS + swSpillageCountTS + swNotWearingPPECountTS + swOtherCountTS + swTruckBDCountMP + swShortageMPCountMP + swIncompleteDocCountMP + swSpillageCountMP + swNotWearingPPECountMP + swOtherCountMP + lechateCountMP + swTruckBDCountTAK + swShortageMPCountTAK + swIncompleteDocCountTAK + swSpillageCountTAK + swNotWearingPPECountTAK + swOtherCountTAK + lechateCountTAK + swTruckBDCountOther + swShortageMPCountOther + swIncompleteDocCountOther + swSpillageCountOther + swNotWearingPPECountOther + swOtherCountOther}}</td>
                                <td>{{ swTruckBDCountTS + swShortageMPCountTS + swIncompleteDocCountTS + swSpillageCountTS + swNotWearingPPECountTS + swOtherCountTS }}</td>
                                <td>{{ swTruckBDCountMP + swShortageMPCountMP + swIncompleteDocCountMP + swSpillageCountMP + swNotWearingPPECountMP + swOtherCountMP }}</td>
                                <td>{{ swTruckBDCountTAK + swShortageMPCountTAK + swIncompleteDocCountTAK + swSpillageCountTAK + swNotWearingPPECountTAK + swOtherCountTAK }}</td>
                                <td>{{ swTruckBDCountOther + swShortageMPCountOther + swIncompleteDocCountOther + swSpillageCountOther + swNotWearingPPECountOther + swOtherCountOther }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<script>

    function exportTableToExcel(tableID, filename = ''){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        
        // Specify file name
        filename = filename?filename+'.xls':'data.xls';
        
        // Create download link element
        downloadLink = document.createElement("a");
        
        document.body.appendChild(downloadLink);
        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
        
            // Setting the file name
            downloadLink.download = filename;
            
            //triggering the function
            downloadLink.click();
        }
    }
</script>  