<div class="row">
    <div class="col-md-12">
        <h1>CMS Daily Report</h1>
    </div>
</div>
<div class="form-group row">
    <label for="startDate" class="col-md-1 col-form-label form-label-width">Start Date</label>
    <div class="col-md-3">
        <input type="date" id="startDate" class="form-control mx-sm-2" data-ng-model="obj.startDate"/>
    </div>
</div>    

<div class="form-group row">
    <label for="endDate" class="col-md-1 col-form-label form-label-width">End Date</label>
    <div class="col-md-3">
        <input type="date" id="endDate" class="form-control mx-sm-2" data-ng-model="obj.endDate"/>
    </div>
</div>

<div class="form-group row">
    <label for="services" class="col-md-1 col-form-label form-label-width">Services</label>
    <div class="col-md-3">
        <select id="services" class="form-control mx-sm-2" data-ng-model="obj.services">
            <option value="1" selected>Municipal Waste</option>
            <option value="2">Roro Container</option>
            <option value="3">Scheduled Waste</option>
        </select>
    </div>
    <div class="col-md-3 offset-md-5">
        <a href="javascript:exportTableToExcel('cmsDailyReportTbl')" class="btn btn-md btn-primary clearfix">Export to Excel</a>
    </div>
</div>

<div class="form-group row">
    <label for="zon" class="col-md-1 col-form-label form-label-width">Branch</label>
    <div class="col-md-3">
        <select id="zon" class="form-control mx-sm-2" data-ng-model="obj.zon">
            <option value="KCH" selected>KCH</option>
            <option value="BTU">BTU</option>
        </select>
    </div>
    <div class="col-md-3 offset-md-5">
        <button class="btn btn-md btn-primary clearfix" data-ng-click="cmsReview()">Reviewed</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" data-ng-click="objChange()" >Generate</button>
        <!-- <button class="btn btn-danger" data-ng-click="setupLGKPI()" >Set up LG KPI (DONT TOUCH THIS)</button> -->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table" id="cmsDailyReportTbl">
                <thead>
                    <tr>
                        <th>CMS Lodged</th>
                        <th>Services</th>
                        <th>Name</th>
                        <th>Details</th>
                        <th>TS</th>
                        <th>MP</th>
                        <th>TAK</th>
                        <th>Area Code</th>
                        <th>Driver</th>
                        <th>Truck</th>
                        <th>LG Date / Time</th>
                        <th>Subcon Date/Time</th>
                        <th>Waste Collected On (If Applicable)</th>
                        <th>Reason</th>
                        <th>Remarks</th>
                        <th>Reviewed By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="c in cmsDailyReportList" data-ng-click="viewComp(c.coID)">
                        <td data-ng-bind="c.complaintDateTime"></td>
                        <td data-ng-bind="c.servicesType"></td>
                        <td data-ng-bind="c.name"></td>
                        <td data-ng-bind="c.type"></td>
                        <td data-ng-bind="c.ts"></td>
                        <td data-ng-bind="c.mp"></td>
                        <td data-ng-bind="c.tak"></td>
                        <td data-ng-bind="c.area"></td>
                        <td data-ng-bind="c.driver"></td>
                        <td data-ng-bind="c.truck"></td>
                        <td data-ng-bind="c.statusDateTime"></td>
                        <td data-ng-bind="c.forwardSubconDateTime"></td>
                        <td data-ng-bind="c.wcdSentences"></td>
                        <td data-ng-bind="c.reason"></td>
                        <td data-ng-bind="c.remarks"></td>
                        <td>{{c.logsReview}} - {{c.logsReviewDate}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{noTS}}</td>
                        <td>{{noMP}}</td>
                        <td>{{noTAK}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="/scripts/html2canvas.min.js"></script>
<script>

    function exportTableToExcel(tableID, filename = ''){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        
        // Specify file name
        filename = filename?filename+'.xls':'CMS_Daily_Report.xls';
        
        // Create download link element
        downloadLink = document.createElement("a");
        
        document.body.appendChild(downloadLink);
        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
        
            // Setting the file name
            downloadLink.download = filename;
            
            //triggering the function
            downloadLink.click();
        }
    }
    </script>   