<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
  
<style>
    .form-label-width {
        width: 250px;
    }
    .active {
      box-shadow: 0px 0px 10px 10px rgba(0,0,255,.4);
    }
    /* Style the Image Used to Trigger the Modal */
    #myCompImage01 {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    #myCompImage01:hover {opacity: 0.7;}
    
    #myCompImage02 {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    #myCompImage02:hover {opacity: 0.7;}
    
    #myCompImage03 {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    #myCompImage03:hover {opacity: 0.7;}
    
    #myLogsImage01 {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    #myLogsImage01:hover {opacity: 0.7;}
    
    #myLogsImage02 {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    #myLogsImage02:hover {opacity: 0.7;}
    
    #myLogsImage03 {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    #myLogsImage03:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
</style>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button class="btn btn-danger" data-ng-click="backList()" >Back</button>
            <a href="javascript:exportPdf()" class="btn btn-md btn-success ">Print</a>
    <!--        <button class="btn btn-success" data-ng-click="editComp(detailObj.coID)"><i class="fa fa-plus"></i> Edit</button>            -->
        </div>
    </div>
<div id="nodeToRenderAsPDF" style="padding-left: 20px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Details of Complaint</h2>        
        </div>
    </div>

    <br/>
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Date:</strong>
        <p  class="mx-sm-3">{{detailObj.complaintDate}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Time:</strong>
        <p  class="mx-sm-3">{{detailObj.complaintTime}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Source:</strong>
        <p  class="mx-sm-3">{{detailObj.sorce}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Reference No:</strong>
        <p  class="mx-sm-3">{{detailObj.refNo}}</p>
    </div>

    <br/>
    <hr/>
    <br/>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Name:</strong>
        <p  class="mx-sm-3">{{detailObj.name}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Company:</strong>
        <p  class="mx-sm-3">{{detailObj.company}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Tel No:</strong>
        <p  class="mx-sm-3">{{detailObj.telNo}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Address:</strong>
        <p  class="mx-sm-3">{{detailObj.address}}</p>
    </div>
    <div class="row">
        <button data-ng-click="editCompImages()" type="button" class="btn btn-info" data-ng-show="!editImages"><i class="fas fa-pencil-alt"></i> Edit Images</button>     
    </div>
    <div class="form-group row" data-ng-show="showCompImg">
        <div class="col-xs-3 form-label-width">
            <strong >Image:</strong>   
        </div>
        <div class="mx-sm-3" style="width: 350px;height: 350px;" data-ng-show="showComplaintImages.image01 && !editImages">
            <img id="myCompImage01" src="{{complaintImages.image01}}" alt="{{complaintImages.image01}}" style="width: 100%;height: 100%;object-fit: contain;" />
        </div>
        <div class="mx-sm-3" style="width: 350px;height: 350px;" data-ng-show="showComplaintImages.image02 && !editImages">
            <img id="myCompImage02" src="{{complaintImages.image02}}" alt="{{complaintImages.image02}}" style="width: 100%;height: 100%;object-fit: contain;" />
        </div>
        <div class="mx-sm-3" style="width: 350px;height: 350px;" data-ng-show="showComplaintImages.image03 && !editImages">
            <img id="myCompImage03" src="{{complaintImages.image03}}" alt="{{complaintImages.image03}}" style="width: 100%;height: 100%;object-fit: contain;" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 form-label-width"></div>
        <div class="col-md-3" data-ng-show="editImages">
            <canvas class="target" style="border:1px solid grey; width: 380px; height: 300px; margin: 15px;" id="uploadImg01"></canvas>
        </div>
        <div class="col-md-3" data-ng-show="editImages">
            <canvas class="target" style="border:1px solid grey; width: 380px; height: 300px; margin: 15px; margin-left: 70px;" id="uploadImg02"></canvas>
        </div>
        <div class="col-md-3" data-ng-show="editImages">
            <canvas class="target" style="border:1px solid grey; width: 380px; height: 300px; margin: 15px; margin-left: 125px;" id="uploadImg03"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 form-label-width"></div>
        <div class="col-md-3">
            <button data-ng-click="clearImage('uploadImg01')" type="button" class="btn btn-danger" style="margin-left: 15px; width: 120%;" data-ng-show="editImages"><i class="fas fa-floppy-o"></i> Delete Image</button>
        </div>
        <div class="col-md-3">
            <button data-ng-click="clearImage('uploadImg02')" type="button" class="btn btn-danger" style="margin-left: 70px; width: 120%;" data-ng-show="editImages"><i class="fas fa-floppy-o"></i> Delete Image</button>
        </div>
        <div class="col-md-3">
            <button data-ng-click="clearImage('uploadImg03')" type="button" class="btn btn-danger" style="margin-left: 125px; width: 120%;" data-ng-show="editImages"><i class="fas fa-floppy-o"></i> Delete Image</button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-3 form-label-width"></div>
        <div class="col-md-9">
            <button data-ng-click="updateCompImages()" type="button" class="btn btn-success" style="width: 120%; padding: 7px;" data-ng-show="editImages"><i class="fas fa-floppy-o"></i> Save Images</button>
        </div>
    </div>
    <br />

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Type of Complaint:</strong>
        <p  class="mx-sm-3">{{detailType}}</p>
    </div>

    <br/>
    <hr/>
    <br/>


    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Forwarded to Logistics Date:</strong>
        <p  class="mx-sm-3">{{detailObj.logisticsDate}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Forwarded to Logistics Time:</strong>
        <p  class="mx-sm-3">{{detailObj.logisticsTime}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Forwarded to Logistics By:</strong>
        <p  class="mx-sm-3">{{staffName}}</p>
    </div>

</div>

<div data-ng-show="viewControl >= 2">
    <br/>
    <hr/>
    <br/>

    <h4>Action Taken By Logistics</h4>

    <!--original area  under-->
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Area Code:</strong>
        <p class="mx-sm-3">{{areaCode}}</p>
    </div>
    
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Area by Council:</strong>
        <p class="mx-sm-3">{{detailObj.council}}</p>
    </div>

    <!--original forwarded to sub-contractor-->
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Area Under:</strong>
        <p  class="mx-sm-3">{{detailObj.forwardedSub}}</p>
    </div>
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Forwarded to Sub-Contractor Date:</strong>
        <p  class="mx-sm-3">{{detailObj.forwardedDate}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Forwarded to Sub-Contractor Time:</strong>
        <p  class="mx-sm-3">{{detailObj.forwardedTime}}</p>
    </div>
    
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Status:</strong>
        <p  class="mx-sm-3">{{detailObj.status}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Status Date:</strong>
        <p  class="mx-sm-3">{{detailObj.statusDate}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Status Time:</strong>
        <p  class="mx-sm-3">{{detailObj.statusTime}}</p>
    </div>

    <div class="form-group row" data-ng-show="showLogsImg">
        <strong class="col-xs-3 form-label-width">Image from Logistics:</strong>
        <div class="mx-sm-3" style="width: 350px;height: 350px;" data-ng-show="showLogsImages.image01">
            <img id="myLogsImage01" src="{{logsImages.image01}}" alt="{{logsImages.image01}}" style="width: 100%;height: 100%;object-fit: contain;" />
        </div>
        <div class="mx-sm-3" style="width: 350px;height: 350px;" data-ng-show="showLogsImages.image02">
            <img id="myLogsImage02" src="{{logsImages.image02}}" alt="{{logsImages.image02}}" style="width: 100%;height: 100%;object-fit: contain;" />
        </div>
        <div class="mx-sm-3" style="width: 350px;height: 350px;" data-ng-show="showLogsImages.image03">
            <img id="myLogsImage03" src="{{logsImages.image03}}" alt="{{logsImages.image03}}" style="width: 100%;height: 100%;object-fit: contain;" />
        </div>
    </div>    

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Remark:</strong>
        <p  class="mx-sm-3">{{detailObj.remarks}}</p>
    </div>
    
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Responded By:</strong>
        <p  class="mx-sm-3">{{logsStaffName}}</p>
    </div>  
    
    <div data-ng-show="viewControl == 2">
        <br/>
        <hr/>
        <h4>Action Taken By BD</h4>         
        <br/>

        <div class="form-group row">
            <label for="custStatus" class="col-xs-3 col-form-label form-label-width">Status:</label>
            <div class="col-md-9">
                <select class="form-control mx-sm-3" id="custStatus" data-ng-model="custStatus.status" data-ng-change="setCMSStatus()" data-live-search="true" data-width="100%">
                        <option value="open">Open</option>
                        <option value="closed">Closed</option>
                </select>
            </div>
        </div>        
        <div class="form-group row">
            <label for="custDate" class="col-xs-3 col-form-label form-label-width">Customer Informed Date:</label>
            <div class="col-md-9">
                <input type="date" id="custDate" class="form-control mx-sm-3" data-ng-model="custDate" />
            </div>
        </div>

        <div class="form-group row">
            <label for="custTime" class="col-xs-3 col-form-label form-label-width">Customer Informed Time</label>
            <div class="col-md-9">
                <input type="time" id="custTime" class="form-control mx-sm-3" data-ng-model="custTime" data-ng-change="custTimeChange(custTime)" str-to-time="" />
            </div>
        </div>
        
        <div class="form-group row">
            <label for="checkCustContactStatus" class="col-xs-3 col-form-label form-label-width">Customer Not Contactable <input id="checkCustContactStatus" type="checkbox" data-ng-model="checkCustContactStatus"/></label>
            <div class="col-md-3">      
                <select class="form-control mx-sm-3" data-ng-show="checkCustContactStatus" data-ng-model="custContactableStatus" data-width="100%">
                    <option value="1">Customer cannot be contacted after 3 times calling</option>
                    <option value="2">Contact number given was wrong</option>
                    <option value="3">No contact number was given</option>
                    <option value="4">Others</option>
                </select>            
            </div>
            <div class="col-md-3">
                <input type="text" data-ng-model="custContactableStatusOthers" data-ng-show="custContactableStatus == '4'" />
            </div>
        </div>
        
        <br/>
<!--
        <hr/>
        <h4>Action Taken By CMS Committee</h4>
        <br/>
        
        <div class="form-group row">
            <label for="cmsStatus" class="col-xs-3 col-form-label form-label-width">Status:</label>
            <div class="col-md-9">
                <select class="form-control mx-sm-3" id="cmsStatus" data-ng-model="cmsStatus" data-live-search="true" data-width="100%">
                        <option value="1">Valid</option>
                        <option value="2">Invalid</option>
                        <option value="3">Pending Review</option>
                </select>
            </div>
        </div>          
-->
        
        
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1">
                <button class="btn btn-success" data-ng-click="updateCust()" >Submit</button>
            </div>
        </div>
    </div>
</div>

<div data-ng-show="viewControl >= 3">
    
    
    <br/>
    <hr/>
    <h4>Action Taken By BD</h4> 
    <br/>
    
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Status:</strong>
        <div class="col-md-3">
            <select class="form-control mx-sm-3" id="inputStatus" data-ng-model="custStatus.status" data-ng-change="checkCMSStatus()" data-live-search="true" data-width="100%">
                <option value="open">Open</option>
                <option value="closed">Closed</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success" data-ng-click="updateStatus()" >Update</button>
        </div>
    </div>
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Customer Informed Date:</strong>
        <p  class="mx-sm-3">{{custStatus.statusDate}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Customer Informed Time:</strong>
        <p  class="mx-sm-3">{{custStatus.statusTime}}</p>
    </div>

    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Customer Informed By:</strong>
        <p  class="mx-sm-3">{{informCustStaffName}}</p>
    </div>
    
    <div class="form-group row">
        <strong class="col-xs-3 form-label-width">Customer Not Contactable:</strong>
        <p class="mx-sm-3" data-ng-if="detailObj.contactStatus == '0'">N/A</p>
        <p class="mx-sm-3" data-ng-if="detailObj.contactStatus == '1'">Customer cannot be contacted after 3 times calling</p>
        <p class="mx-sm-3" data-ng-if="detailObj.contactStatus == '2'">Contact number given was wrong</p>
        <p class="mx-sm-3" data-ng-if="detailObj.contactStatus == '3'">No contact number was given</p>
        <p class="mx-sm-3" data-ng-if="detailObj.contactStatus.split(':')[0] == '4'">Others: <span data-ng-if="detailObj.contactStatus.split(':')[0] == '4'">{{detailObj.contactStatus.split(':')[1]}}</span></p>
    </div>
    
    <br/>
    <hr/>
    <h4>Action Taken By CMS Comittee</h4> 
    <br/>
    
    <div class="form-group row">
        <label for="cmsStatus2" class="col-xs-3 col-form-label form-label-width">CMS Status:</label>
        <div class="col-md-3">
            <select class="form-control mx-sm-3" id="cmsStatus2" data-ng-model="cmsUpdateStatus" data-width="100%" data-live-search="true">
                <option value="1">Valid</option>
                <option value="2">Invalid</option>
                <option value="3">Pending Review</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success" data-ng-click="updateCMSStatus()" >Update</button>
        </div>        
    </div>     
    
</div>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="/scripts/html2canvas.min.js"></script>
<script>
    function exportPdf(quality = 10) {
        var filename = 'ComplaintExport.pdf';

        html2canvas(document.querySelector('#nodeToRenderAsPDF'), {
            useCORS: true,
            imageTimeout: 2000,
            scale: quality,
            background :'#FFFFFF'
        }).then(function(canvas) {
            var img = canvas.toDataURL("image/jpeg", 1.0);
            window.URL.revokeObjectURL(img);
            var pdf = new jsPDF('l', 'mm', 'a3');
            pdf.addImage(img, 'JPEG', 45, 45, 380, 200);
            pdf.save(filename);
        });
    }
    
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img01 = document.getElementById("myCompImage01");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img01.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    var img02 = document.getElementById("myCompImage02");
    img02.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    var img03 = document.getElementById("myCompImage03");
    img03.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    var imgLogs01 = document.getElementById("myLogsImage01");
    imgLogs01.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    var imgLogs02 = document.getElementById("myLogsImage02");
    imgLogs02.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    var imgLogs02 = document.getElementById("myLogsImage02");
    imgLogs02.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
</script>