<style>
    .detailBox{
        padding: 30px 30px;
        background-color: aliceblue;
        border-radius: 7px;
        margin-top: 10px;
        font-size: 13pt;
    }
    .contentBox{
        background-color: azure;
        border-radius: 7px;
        padding: 20px 20px;
    }
    .reportRefBox{
        padding: 10px 50px;
    }
    .listItem{
        cursor: pointer;
        padding: 5px 10px 0px 10px;
    }
    .chat-box {
        margin-top: 10px;
        background-color: aliceblue;
        border-radius: 7px;
        min-height: 85%;
        max-height: 85%;
        margin-bottom: 10px;
        padding-top: 5px;
        overflow-y: auto;
    }
    .chat-input {
        margin-bottom: -15px;
        position: absolute;
        bottom: 0;
        width: 95.55%;
    }
    .sender, .recipient {
        background-color: antiquewhite;
        padding: 15px 15px;
        border-radius: 10px;
    }
    .message-wrapper {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    
    
    
    
    
    
/*    */
    .message {
  margin: 10px 0;
  overflow: hidden;
}
.message-text {
  padding: 10px 20px;
  float: right;
  clear: both;
  border-radius: 25px;
  position: relative;
  margin-bottom: 1px;
}
.message.left .message-text {
  margin-right: 70px;
  margin-left: 20px;
  background-color: white;
  border: 1px solid #e5e5ea;
  float: left;
}
.message.right .message-text {
  margin-left: 70px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #e5e5ea;
  color: black;
  float: right;
}

.message-text:last-child:before,
.message-text:last-child:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 35px;
  height: 25px;
  z-index: -1;
}

.message.right .message-text:before,
.message.right .message-text:after {
  border-radius: 0 0 0 50%;
}
.message.right .message-text:before {
  height: 20px;
  right: -23px;
  background-color: #e5e5ea;
}
.message.right .message-text:after {
  right: -35px;
  bottom: -3px;
  background-color: aliceblue;
    z-index: 1;
}


.message.left .message-text:before,
.message.left .message-text:after {
  border-radius: 0 0 50% 0;
}
.message.left .message-text:before {
  height: 20px;
  left: -23px;
  background-color: #e5e5ea;
}
.message.left .message-text:after {
  left: -35px;
  bottom: -3px;
  background-color: aliceblue;
}

.send-container {
  background-color: #f6f6f6;
  border: 1px solid #dcdcdc;
  margin-top: -1px;
  padding: 10px;
}
.send-input {
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  padding: 5px 5px;
  font-size: 1em;
  width: 78%;
}
.send-btn {
  text-decoration: none;
  color: #939297;
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

.message-time {
    font-size: 10px;
}
/*    */
</style>
<div class="row">
    <div class="col-md-12">
        <h3>Complaint Detail</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6 detailBox">
        <p><strong>Complaint Type: </strong>{{comDetail.ctype}}</p>
        <p><strong>Complaint Title: </strong> {{comDetail.title}}</p>
        <p><strong>Date Time: </strong>{{comDetail.date}}</p>
        <p><strong>Customer: </strong>{{comDetail.customer}}</p>
        <p><strong>Area: </strong>{{comDetail.area}}</p>
        <p><strong>Address:</strong></p>
        <p>{{comDetail.address}}</p>
        <p><strong>Content: </strong></p>
        <p class="contentBox">{{comDetail.content}}</p>
    </div>
<!--
    <div class="col-md-6">
        <div class="row"><div class="col-md-12"><strong>Status:{{comDetail.status}}</strong></div></div>
        <br/>
        
        <div class="row" data-ng-if = "comDetail.status == 'Pending'">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12"><strong>Send Acknowledgment by email- </strong></div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        <strong>Subject:</strong>
                    </div>
                    <div class="col-md-10">
                        <input type="text" data-ng-model="emailobj.subject" placeholder="Subject"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">
                        <strong>Text:</strong>
                    </div>
                    <div class="col-md-10">
                        <textarea row="4" cols="50" data-ng-model="emailobj.text" placeholder="Content"></textarea>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-md btn-success" data-ng-click="sendEmail('ack')">Acknowledge</button>
                    </div>
                </div>
            </div>

        </div>
        <br/>
        <div class="row" data-ng-if = "comDetail.status == 'In progress'">
            <div class="col-md-12">
                
                <div class="row">
                    <div class="col-md-12"><strong>Reply Information by email- </strong></div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" data-ng-model="emailobj.subject" placeholder="Subject"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <textarea row="4" cols="50" data-ng-model="emailobj.text" placeholder="Content"></textarea>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-md btn-success" data-ng-click="sendEmail('rpy')">Reply</button>
                    </div>
                </div>
            </div>
        </div>


        <br/>
        <div class="row" data-ng-if = "comDetail.status == 'Confirmation'">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12"><strong>Inform problem solved by email- </strong></div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" data-ng-model="emailobj.subject" placeholder="Subject"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <textarea row="4" cols="50" data-ng-model="emailobj.text" placeholder="Content"></textarea>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-md btn-success" data-ng-click="sendEmail('slv')">Solved</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <div class="col-md-6">
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
        <div class="chat-box">
            <div class="message left">
                <div class="message-text">
                    <div><b>May be Name</b></div>
                    Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!
                    Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!
                    <div class="message-time text-right"><small class="text-muted"><i class="fa fa-clock"></i> 11:00</small></div>
                </div>
            </div>
            
            <div class="message right">
                <div class="message-text">
                    Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!
                    Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!
                    <div class="message-time text-right"><small class="text-muted"><i class="fa fa-clock"></i> 11:00</small></div>
                </div>
            </div>
            
            <div class="message right">
                <div class="message-text">
                    Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!
                    Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!
                    <div class="message-time text-right"><small class="text-muted"><i class="fa fa-clock"></i> 11:00</small></div>
                </div>
            </div>
            
            <div class="message left">
                <div class="message-text">
                    <div><b>May be Name</b></div>
                    Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!
                    Hello! Hello! Hello! Hello! Hello! Hello! Hello! Hello!
                    <div class="message-time text-right"><small class="text-muted"><i class="fa fa-clock"></i> 11:00</small></div>
                </div>
            </div>
            
            
<!--
            <div class="message-wrapper text-left">
                <img src="https://headlines.liu.edu/wp-content/uploads/2017/04/GenericProfilePhoto-Blue-Round.png" alt="" width="8%" />
                <span class="sender">
                    Msg 1
                    <small class="text-muted"><i class="fa fa-clock"></i> 11:00</small>
                </span>
            </div>
            <div class="message-wrapper text-right">
                <span class="recipient">
                    Msg 2
                    <span><i class="fa fa-clock"></i> 12:00</span>
                </span>
                <img src="https://headlines.liu.edu/wp-content/uploads/2017/04/GenericProfilePhoto-Blue-Round.png" alt="" width="8%" />
            </div>
            <div class="message-wrapper text-right">
                <span class="recipient">
                    Msg 3
                    <span><i class="fa fa-clock"></i> 13:00</span>
                </span>
                <img src="https://headlines.liu.edu/wp-content/uploads/2017/04/GenericProfilePhoto-Blue-Round.png" alt="" width="8%" />
            </div>
-->
        </div>
<!--
            </div>
        </div>
-->
            
<!--        <div class="row ">-->
            <div class="chat-input">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter your message" aria-label="Enter your message">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button"><i class="fa fa-paper-plane"></i> Send</button>
                    </div>
                </div>
            </div>
<!--        </div>-->
    </div>
</div>
<div class="row">
    <div class="col-md-12 reportRefBox">
        <h2>Report reference</h2>
        <div class="dropdown" data-ng-show="showReference">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose the report date
          <span class="caret"></span></button>
          
          <div class="dropdown-menu">
            <p data-ng-repeat="r in reportList" data-ng-click="viewReport(r.reportID)" class="listItem" clickable>{{r.date | date: "mediumDate"}}</p>
          </div>
        </div>
        <p data-ng-hide="showReference">No report reference available! Has no historical report data in database for the specific area.</p>
    </div>
</div>
<div class="row" data-ng-show="showReference">
    <div class="col-md-12">
        <div class="report_reference"></div>
    </div>
</div>
<div class="row" data-ng-show="showReference">
    <div class="col-md-6">
        <img id="myImg" src="{{thisReport.ifleet}}" />
    </div>
    <div class="col-md-6">
        <div id="googleMap" style="height: 500px"></div>
    </div>
</div>