<style>
    .detailBox{
        padding: 30px 30px;
        background-color: aliceblue;
        border-radius: 7px;
        margin-top: 10px;
        font-size: 13pt;
    }
    .contentBox{
        background-color: azure;
        border-radius: 7px;
        padding: 20px 20px;
    }
    .reportRefBox{
        padding: 10px 50px;
    }
    .listItem{
        cursor: pointer;
        padding: 5px 10px 0px 10px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h3>Complaint Detail</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6 detailBox">
        <p><strong>Complaint Type: </strong>{{comDetail.ctype}}</p>
        <p><strong>Complaint Title: </strong> {{comDetail.title}}</p>
        <p><strong>Date Time: </strong>{{comDetail.date}}</p>
        <p><strong>Customer: </strong>{{comDetail.customer}}</p>
        <p><strong>Area: </strong>{{comDetail.area}}</p>
        <p><strong>Address:</strong></p>
        <p>{{comDetail.address}}</p>
        <p><strong>Content: </strong></p>
        <p class="contentBox">{{comDetail.content}}</p>
    </div>
    <div class="col-md-6 reportRefBox">
        <h2>Report reference</h2>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Choose the report date
          <span class="caret"></span></button>
          
          <div class="dropdown-menu">
            <p data-ng-repeat="r in reportList" data-ng-click="viewReport(r.reportID)" class="listItem" clickable>{{r.date | date: "mediumDate"}}</p>
          </div>
        </div>
    </div>
</div>