<div class="row">
    <div class="col-md-12">
        <h5>Officer Made Complaint</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" data-ng-click="createComp()"><i class="fa fa-plus"></i> New</button>            
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" data-ng-click="viewComp()"><i class="fa fa-plus"></i> Detail</button>            
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" data-ng-click="editComp()"><i class="fa fa-plus"></i> Edit</button>            
    </div>
</div>
     
