<style>
    .form-label-width {
        width: 110px;
    }
</style>
<!--  Modal  -->
<div class="modal fade" id="previewReport" tabindex="-1" role="dialog" aria-labelledby="previewReport" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">IVMW INSPECTION REPORT</th>
                                        <th>DATE</th>
                                        <th colspan="2" date-now="yyyy-MM-dd"></th>
                                        <th>TIME</th>
                                        <th colspan="3">0430 - 1500</th>
                                    </tr>
                                    <tr>
                                        <th>AREA CODE</th>
                                        <th>COLLECTION AREA</th>
                                        <th>COLLECTION FREQUENCY</th>
                                        <th>BIN CENTERS</th>
                                        <th>ACR CUSTOMER</th>
                                        <th>TRANSPORTER</th>
                                        <th>TRUCK NO.</th>
                                        <th>DRIVER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td rowspan="5" data-ng-bind="$params_areaCode"></td>
                                        <td rowspan="5">....</td>
                                        <td rowspan="5">TUE &amp; FRI</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td rowspan="5">TS</td>
                                        <td rowspan="5">QAA3604N</td>
                                        <td rowspan="5">NORSUTIADI BIN SENO</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="image_previewer" tabindex="-1" role="dialog" aria-labelledby="image_previewer" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div style="width: 100%;height: 100%;">
                    <img src="" id="this_image" style="width: 100%;height: 100%;object-fit: contain;" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Inspection Report - (<span data-ng-bind="(params.areaCode) + ' - ' + (code)"></span>)</h5>
    </div>
</div>

<div class="form-group row">
    <label for="inputDate form-label" class="col-xs-3 col-form-label form-label-width">Date</label>
    <div class="col-md-9">
        <!--        <input data-provide="datepicker" type="text" id="inputDate" class="form-control mx-sm-3 datepicker" data-date-format="yyyy-mm-dd" />-->
        <input type="date" id="inputDate" class="form-control mx-sm-3" data-ng-model="colDate" />
    </div>
</div>

<div class="form-group row">
    <label for="inputStartTime form-label" class="col-xs-3 col-form-label form-label-width">Start Time</label>
    <div class="col-md-9">
        <!--        <input type="text" id="inputStartTime" class="form-control mx-sm-3 clockpicker-start" readonly />-->
        <input type="time" id="inputStartTime" class="form-control mx-sm-3" data-ng-model="report.startTime" data-ng-change="startTimeChange(report.startTime)" str-to-time="" />
    </div>
</div>

<div class="form-group row">
    <label for="inputEndTime form-label" class="col-xs-3 col-form-label form-label-width">End Time</label>
    <div class="col-md-9">
        <!--        <input type="text" id="inputEndTime" class="form-control mx-sm-3 clockpicker-end" readonly />-->
        <input type="time" id="inputEndTime" class="form-control mx-sm-3" data-ng-model="report.endTime" data-ng-change="endTimeChange(report.endTime)" str-to-time />
    </div>
</div>

<div class="form-group row">
    <label for="inputTruck" class="col-xs-3 col-form-label form-label-width">Truck No</label>
    <div class="col-md-9">
        <select class="form-control mx-sm-3 " id="inputTruck" data-ng-model="report.truck" data-live-search="true" data-width="100%">
            <option value="{{a.id}}" data-ng-repeat="a in truckList">{{a.id}} - {{a.no}}</option>
        </select>
    </div>
</div>


<div class="form-group row">
    <label for="inputDriver" class="col-xs-3 col-form-label form-label-width">Driver</label>
    <div class="col-md-9">
        <select class="form-control mx-sm-3 " id="inputDriver" data-ng-model="report.driver" data-live-search="true" data-width="100%">
            <option value="{{d.id}}" data-ng-repeat="d in driverList">{{d.id}} - {{d.name}}</option>
        </select>
    </div>
</div>


<div class="form-group row">
    <label for="status" class="col-xs-3 col-form-label form-label-width">Report Status</label>
    <div class="col-md-9">
        <select class="form-control mx-sm-3 " id="status" data-ng-model="report.status" data-live-search="true" data-width="100%">
            <option value="N">Normal Report</option>
            <option value="A">Abnormal Report</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label for="inputGAmount form-label" class="col-xs-3 col-form-label form-label-width">Garbage Amount (TON)</label>
    <div class="col-md-9">
        <input type="text" id="inputGAmount" placeholder="(ton)" class="form-control mx-sm-3" data-ng-model="report.ton" />
    </div>
</div>

<div class="form-group row">
    <label for="inputRemark" class="col-xs-3 col-form-label form-label-width">Remark</label>
    <div class="col-md-9">
        <!--<input type="text" id="inputRemark" class="form-control mx-sm-3" />-->
        <textarea rows="4" cols="50" id="inputRemark" class="form-control mx-sm-3" data-ng-model="report.remark"></textarea>
    </div>
</div>
<!--
<div class="form-group row">
    <div class="col-md-12">
        <button class="btn btn-primary btnShape" data-shape="circle">Circle</button>
        <button class="btn btn-warning btnShape" data-shape="rectangle">Rectangle</button>
    </div>
</div>
-->

<style>
    .target {
        border: solid 1px #aaa;
        min-height: 500px;
        /*  width: 50%;*/
        margin-top: 1em;
        border-radius: 5px;
        cursor: pointer;
        transition: 300ms all;
        position: relative;
    }
    
/*
    #googleMap {
        margin-top: 1em;
        height: 500px
    }
*/
    
    .contain {
        background-size: cover;
        position: relative;
        z-index: 10;
        top: 0px;
        left: 0px;
    }
    
    textarea {
        background-color: white;
    }
    
    .active {
        box-shadow: 0px 0px 10px 10px rgb(50, 205, 50);
    }
</style>
<br/>

<div class="row">
    <div class="col-md-6">
        <span style="padding-left: 15px;">Laporan Harian (Pemandu)</span>
        <canvas style="border:1px solid grey; margin: 15px;width: 100%;height: 100%;object-fit: contain;" id="lh"></canvas>
        <div style="display: none;" class= col-md-6><input type="file" data-ng-model="report.lh" accept="image/*" app-filereader></div>
    </div>
    <div class="col-md-6">
        <span style="padding-left: 15px;">Rekod Taklimat Tool Box</span>
        <canvas style="border:1px solid grey; margin: 15px;width: 100%;height: 100%;object-fit: contain;" id="rttb"></canvas>
        <div style="display: none;" class= col-md-6><input type="file" data-ng-model="report.rttb" accept="image/*" app-filereader></div>
    </div>
</div>
<br /><br /><br />
<div class="row">
    <div class="col-md-6">
        <span style="padding-left: 15px;">Welghbridge Ticket</span>
        <canvas style="border:1px solid grey; margin: 15px;width: 100%;height: 100%;object-fit: contain;" id="wt"></canvas>
        <div style="display: none;" class= col-md-6><input type="file" data-ng-model="report.wt" accept="image/*" app-filereader></div>
    </div>
    <div class="col-md-6">
        <span style="padding-left: 15px;">GPSWOX (Historycal Route)</span>
        <canvas style="border:1px solid grey; margin: 15px;width: 100%;height: 100%;object-fit: contain;" id="gpswox"></canvas>
        <div style="display: none;" class= col-md-6><input type="file" data-ng-model="report.gpswox" accept="image/*" app-filereader></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!--<div class="target"></div>-->
<!--        <canvas style="border:1px solid grey; width: 900px; height: 700px; margin: 15px;" id="ifleetcol"></canvas>-->
        <!--           <div class= col-md-6><input type="file" data-ng-model="report.ifleetImg" accept="image/*" app-filereader></div>-->
        <!--           <div class= col-md-6><button data-ng-click="cancelImg()">Cancel Image</button></div>-->
        <!--
       <div class="row">
           <div class="col-md-12">
               <img id="myImg" src="{{report.ifleetImg}}" style="width:650px; height: 500px;" />
           </div>
       </div>
-->
    </div>
    <div class="col-md-1"></div>
</div>
<br /><br /><br />
<div class="row">
    <div class="col-md-12">
        <!--<button class="btn btn-primary" data-toggle="modal" data-target="#previewReport">Preview</button>-->
        <button class="btn btn-primary submit" data-ng-click="addReport()" data-ng-show="showSubmitBtn">Submit</button>
    </div>
</div>