<div class="row">
    <div class="col-md-9">
        <h1>Officer Dashboard</h1>
        
    </div>
    <div class="col-md-3">
        <h2 data-ng-bind="todayDate"></h2>
        <h3 data-ng-bind="todayDay"></h3>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6" style="overflow-y: scroll; height: 200px">
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Submitted Report</th>
                </tr>
            </thead>
            <tbody data-ng-repeat = "u in getROSubmitted">
                <tr >
                    <td>{{u.area}}</td>
                </tr>
            </tbody>
        </table>
    </div>    
    <div class="col-md-6" style="overflow-y: scroll; height: 200px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Unsubmitted Report</th>
                </tr>
            </thead>
            <tbody data-ng-repeat = "s in getROUnsubmitted">
                <tr>
                    <td>{{s.area}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class = "row">
    <div class="col-md-12">
        <h4> Select your reporting area in below: </h4>
    </div>
</div>

<div class = "row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="officerTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="today-tab" data-toggle="tab" data-target="#today" role="tab" aria-controls="today" aria-selected="true">Today</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pass-tab" data-toggle="tab" data-target="#pass" role="tab" aria-controls="pass" aria-selected="false">Pass</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tab-content list-tab" id="officerTabContent">
            <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab">
                <table class="table table-hover">
                    <tbody data-ng-repeat="z in areaList">
                        <tr data-target="#{{z.zone.id}} + today" data-toggle="collapse" class="clickable" aria-expanded="false">
                            <th>{{z.zone.name}} <i class="fa fa-chevron-circle-right"></i></th>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <div class="collapse myOptions" id="{{z.zone.id}} + today">
                                    <table class="table table-clickable">
                                        <tbody>
                                            <tr class="clickable-row" data-ng-repeat="a in z.area" data-ng-click="thisArea(a.id, a.name);">
                                                <td data-dismiss="modal" data-ng-bind="a.code"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="pass" role="tabpanel" aria-labelledby="pass-tab">
                <table class="table table-hover">
                    <tbody data-ng-repeat="pz in passAreaList">
                        <tr data-target="#{{pz.zone.id}} + pass" data-toggle="collapse" class="clickable" aria-expanded="false">
                            <th>{{pz.zone.name}} <i class="fa fa-chevron-circle-right"></i></th>
                        </tr>
                        <tr>
                            <td colspan="12">
                                <div class="collapse myOptions" id="{{pz.zone.id}} + pass">
                                    <table class="table table-clickable">
                                        <tbody>
                                            <tr class="clickable-row" data-ng-repeat="pa in pz.area" data-ng-click="thisArea(pa.id, pa.name);">
                                                <td data-dismiss="modal" data-ng-bind="pa.code"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tbody data-ng-repeat="z in handledArea">
                <tr data-target="#{{z.zoneCode}}" data-toggle="collapse" class="clickable" aria-expanded="false">
                    <th>{{z.zoneCode}} <i class="fa fa-chevron-circle-right"></i></th>
                </tr>
                
                <tr>
                    <td colspan="12">
                        <div class="collapse myOptions" id="{{z.zoneCode}}">
                            <table class="table table-clickable">
                                <tbody>
                                    <tr class="clickable-row" data-ng-repeat="a in z.area" data-ng-click="thisArea(a.areaCode);">
                                        <td data-ng-bind="a.areaCode"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->
<!--
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-clickable">
            <thead>
                <tr>
                    <th>Zones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row text-left">
                                    <div class="col-md-12">
                                        Zone 1
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <i class="fa fa-chevron-right text-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row text-left">
                                    <div class="col-md-12">
                                        Zone 2
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <i class="fa fa-chevron-right text-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row text-left">
                                    <div class="col-md-12">
                                        Zone 3
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <i class="fa fa-chevron-right text-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row text-left">
                                    <div class="col-md-12">
                                        Zone 4
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <i class="fa fa-chevron-right text-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-11">
                                <div class="row text-left">
                                    <div class="col-md-12">
                                        Zone 5
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row text-right">
                                    <div class="col-md-12">
                                        <i class="fa fa-chevron-right text-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->
<!--<script>
    $(document).ready(function() {
        $('.clickable').click(function() {
            $(this).children().find('i').toggleClass("fa-chevron-circle-right fa-chevron-circle-down");
            $('html, body').animate({
                scrollTop: $(this).offset().top - 20
            }, 'slow');
        });
    });
    
    
//    $(".table-clickable").on('click', '.clickable-row', function (e, row, $element) {
//        window.alert($(this).children().data('value'));
//    });
</script>-->
