<!DOCTYPE html>
<html lang="en">
<head>
    <title>data visualization</title>
</head>
<div class="row">
    <div class="col-md-3">
        <h3>Date Filter: </h3>
        <div id="reportrange" style="background: #F8F8F8; cursor: pointer; margin-top: 15px; padding: 7px 10px; border-radius: 3px; width: 100%" >
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down" style="float: right; padding: 5px;"></i>
        </div>
    </div>
    <div class="col-md-3">
       <div class="form-group">
          <h3><label for="txtArea form-label">Area Filter:</label></h3>
          <select id="txtArea" data-ng-model="areaSelected" class="selectpicker" data-live-search="true" data-width="100%" data-ng-change="onAreaFilterSelectionChange()">
                <option value="{{a.id}}" data-ng-repeat="a in zoneList">{{a.id}} - {{a.name}}</option>
          </select>
        </div>        
    </div>
</div>
<div class="row">
   <!--First Visualization-->
    <div class="col-md-6">
        <div class="panel panel-default">
<!--                <h4>Duration of Garbage Collection</h4>-->
            <div id="chart-bar-duration-garbage"></div>
        </div>
    </div>
    <!--Second Visualization-->
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
<!--                <h4>Amount of Garbage Percentage on Area</h4>-->
            </div>
            <div class="panel-body">
                <div id="chart-pie-volume-area"></div>
            </div>
        </div>
    </div>
</div>
<!--Third Visualization-->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Amount of Garbage Time Series</h4>
            </div>
            <div class="panel-body">
                <div id="chart-line-volume-day"></div>
            </div>
        </div>
    </div>
</div>
<!--Forth Visualization-->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Duration and Volume of Garbage Collection</h4>
            </div>
            <div class="panel-body">
                <div id="chart-combine-durvol-day"></div>
            </div>
        </div>
    </div>
</div>
<!--Fifth Visualization-->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Completion Status</h4>
                <label for="sel2">Choose Reference type:</label>
                <select data-ng-model="chartCompleteStatusSelected" data-ng-change="changeCompleteStatus(chartCompleteStatusSelected)" class="form-control" id="sel2">
                    <option value="Area">Area</option>
                    <option value="Date">Date</option>
                </select>
            </div>
            <div data-ng-show="chartCompleteStatusSelected == 'Area'" class="panel-body">
                <div id="chart-negativebar-status-area"></div>
            </div>
            <div data-ng-show="chartCompleteStatusSelected == 'Date'" class="panel-body">
                <div id="chart-negativebar-status-date"></div>
            </div>

        </div>
    </div>
</div>
</html>
