<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h5>Damaged Bin Report</h5>
            </div>
            <div class="col-md-6" style="background-color: darkgreen; text-align: center">
                <img src="/images/trienekenslogo_form.png" alt="Trienekens Logo" height="50px">
            </div>
        </div>

    </div>

</div>

</br>
</br>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Code: </label>
            <div class="row">
                <div class="col-md-4">

                    1. Burnt
                </div>
                <div class="col-md-4">
                    2. Lid Damage
                </div>
                <div class="col-md-4">
                    3. Wheel Missing
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    4. Wheel Damage
                </div>
                <div class="col-md-4">
                    5. Body Damage
                </div>

                <div class="col-md-4">
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="txtAddress form-label">Company Name</label>
            <select type="text" class="form-control" id="txtAddress" data-ng-model="blostEntry.customerName">
                <option data-ng-repeat="c in customerList" value={{c.name}}>{{c.companyName}}</option>
            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="txtCompany form-label">Address</label>
            <select type="text" class="form-control" id="txtCustomer" data-ng-model="blostEntry.customerID">
                <option data-ng-repeat="c in customerList" value={{c.customerID}}>{{c.houseNo}}, {{c.streetNo}},
                    {{c.postCode}}, {{c.city}}</option>
            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="txtAddress form-label">Contact Person</label>
            <select type="text" class="form-control" id="txtAddress" data-ng-model="blostEntry.customerName">
                <option data-ng-repeat="c in customerList" value={{c.name}}>{{c.name}} - {{c.ic}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="txtBeBins form-label">Phone No</label>
            <select type="text" class="form-control" id="txtAddress" data-ng-model="blostEntry.contactNumber">
                <option data-ng-repeat="c in customerList" value={{c.contactNumber}}>{{c.contactNumber}}</option>
            </select>
        </div>
    </div>
</div>

</br>
</br>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-clickable">
                <thead>
                    <tr>
                        <th width="15%" data-ng-click="orderBy('customerName');">Area Code <i
                                class="fas fa-sort-down"></i></th>
                        <th width="15%" data-ng-click="orderBy('company');">Damage Code <i class="fas fa-sort-down"></i>
                        </th>
                        <th width="15%" data-ng-click="orderBy('address');">Unit <i class="fas fa-sort-down"></i></th>
                        <th width="10%" data-ng-click="orderBy('phoneNo');">Bin Size<i class="fas fa-sort-down"></i>
                        </th>
                        <th width="15%" data-ng-click="orderBy('collectionArea');">Serial No <i
                                class="fas fa-sort-down"></i></th>
                        <th width="30%" data-ng-click="orderBy('binSize');">Reason of Damage <i
                                class="fas fa-sort-down"></i></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        data-ng-repeat="b in dbrDetailsList">
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.areaCode"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.areaCode"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.damageCode"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.damageCode"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.unit"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.unit"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.binSize"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.binSize"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.serialNo"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.serialNo"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.damageReason"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.damageReason"></span>
                            </div>
                        </td>
                        <td data-ng-show="show.edit == 'A'">
                            <button class="btn btn-sm btn-primary" data-ng-show="showDbr"
                                data-ng-click="editDbrEntry();"><i class="fa fa-pencil-alt"></i></button>
                            <button class="btn btn-sm btn-warning" data-ng-show="!showDbr"
                                data-ng-click="saveDbrEntry();"><i class="fa fa-save"></i></button>
                            <button class="btn btn-sm btn-default" data-ng-show="!showDbr"
                                data-ng-click="cancelDbrEntry();"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</br>
</br>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">

            <label for="txtRemarks form-label">Comments</label>
            <input type="textArea" class="form-control" rows="5" id="txtRemarks" data-ng-model="blostEntry.reason" />
        </div>
    </div>

</div>
</br>
</br>
<div class="row">
    <div class="col-md-12">
        <h6>Business Development Department</h6>
    </div>
</div>
</br>
</br>
<div class="row">
    <div class="col-md-12">
        <h6>Logistics Department</h6>
    </div>
</div>