<div class="modal fade" id="checkConfirmation" tabindex="-1" role="dialog" aria-labelledby="checkConfirmation"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Is the Job complete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Click 'Yes' to proceed. Click 'No' to cancel.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-model="value"
                    data-ng-click="requestAuthorization()">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="approveCheck" tabindex="-1" role="dialog" aria-labelledby="approveCheck" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Is the form Complete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="checkForm();">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="approveVerification" tabindex="-1" role="dialog" aria-labelledby="approveVerification"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="verifyForm();">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rejectForm" tabindex="-1" role="dialog" aria-labelledby="rejectForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>Feedback:</p>
                <textarea class="form-control" rows="4" data-ng-model="dbr[0].feedback"></textarea>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="rejectForm();">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #f5f4f4; padding-top: 15px; margin-bottom: 10px">
    <div class="col-md-6" style="text-align: left; margin-bottom: 10px">
        <span style="text-align:left"><strong>Form Status: {{status}}</strong></span>
        <p ng-show="status == 'CORRECTION REQUIRED'">Feedback: {{dbr[0].feedback}}</p>
    </div>
    <div class="col-md-6" style="text-align: right; margin-bottom: 10px">

        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#checkConfirmation"
            ng-show="status == 'ACTIVE' || status == 'CORRECTION REQUIRED'">Send for Checking</button>
        <!--Mark form as 'Pending' and request for checking-->
        <button ng-show="show.verifyView == 'A' && status == 'CHECKED'" class="btn btn-sm btn-success"
            data-toggle="modal" data-target="#approveVerification">Verify</button>
        <!--Mark form as 'Verified' and execute inventory functions-->
        <button ng-show="show.checkView == 'A' && status == 'PENDING'" class="btn btn-sm btn-success"
            data-toggle="modal" data-target="#approveCheck">Approve</button>
        <!--Mark form as 'Checked' and request verification-->
        <button ng-show="permission && rightStatus" class="btn btn-sm btn-danger" data-toggle="modal"
            data-target="#rejectForm">Reject</button>
        <!--Reset form to 'Active'-->

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h5>Damaged Bin Report</h5>
            </div>
            <div class="col-md-6" style="background-color: darkgreen; text-align: center">
                <img src="/images/trienekenslogo_form.png" alt="Trienekens Logo" height="50px">
            </div>
        </div>

    </div>

</div>

</br>
</br>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Code: </label>
            <div class="row">
                <div class="col-md-4">

                    1. Burnt
                </div>
                <div class="col-md-4">
                    2. Lid Damage
                </div>
                <div class="col-md-4">
                    3. Wheel Missing
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    4. Wheel Damage
                </div>
                <div class="col-md-4">
                    5. Body Damage
                </div>

                <div class="col-md-4">
                </div>

            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-12">
        <h6>Company Name:</h6>
        <p>{{dbr[0].companyName}}</p>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <h6>Address: </h6>
        <p>{{dbr[0].address}}</p>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <h6>Contact Person:</h6>
        <p>{{dbr[0].contactPerson}}</p>
    </div>
    <div class="col-md-6">
        <h6>Phone No:</h6>
        <p>{{dbr[0].phoneNo}}</p>
    </div>
</div>

</br>
</br>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-clickable">
                <thead>
                    <tr>
                        <th width="15%" data-ng-click="orderBy('customerName');">Area Code <i
                                class="fas fa-sort-down"></i></th>
                        <th width="15%" data-ng-click="orderBy('company');">Damage Code <i class="fas fa-sort-down"></i>
                        </th>
                        <th width="15%" data-ng-click="orderBy('address');">Unit <i class="fas fa-sort-down"></i></th>
                        <th width="10%" data-ng-click="orderBy('phoneNo');">Bin Size<i class="fas fa-sort-down"></i>
                        </th>
                        <th width="15%" data-ng-click="orderBy('collectionArea');">Serial No <i
                                class="fas fa-sort-down"></i></th>
                        <th width="30%" data-ng-click="orderBy('binSize');">Reason of Damage <i
                                class="fas fa-sort-down"></i></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="b in dbrDetailsList">
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.areaCode"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.areaCode"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.damageCode"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.damageCode"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.unit"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.unit"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.binSize"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.binSize"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.serialNo"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.serialNo"></span>
                            </div>
                        </td>
                        <td>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="b.damageReason"
                                    data-ng-show="!showDbr" />
                                <span data-ng-show="showDbr" data-ng-bind="b.damageReason"></span>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-ng-show="showDbr"
                                data-ng-click="editDbrEntry(b);"><i class="fa fa-pencil-alt"></i></button>
                            <button class="btn btn-sm btn-warning" data-ng-show="!showDbr"
                                data-ng-click="saveDbrEntry(b);"><i class="fa fa-save"></i></button>
                            <button class="btn btn-sm btn-default" data-ng-show="!showDbr"
                                data-ng-click="cancelDbrEntry();"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</br>
</br>
<div class="row">
    <div class="col-md-12">

    </div>

</div>
</br>
</br>
<div class="row">
    <div class="col-md-12">
        <h6>Business Development Department</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
            <b>Verified By:</b> {{dbr[0].authorizedBy}}
    </div>
    <div class="col-md-6">
            <b>Verified Date:</b> {{dbr[0].authorizedDate  | date: 'dd-MM-yyyy' : 'UTC+06'}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
            <b>Remarks:</b> 
            <p ng-show="status != 'PENDING'">{{dbr[0].remarks}}</p>
            <input ng-show="status == 'PENDING'" type="text" class="form-control" rows="5" id="txtRemarks" data-ng-model="dbr[0].remarks" />
    
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <b>Replacement/Repair of bin</b>
        <div class="radio">
            <label style="padding-right: 20px;" class="radio-inline"><input type="radio" ng-model="repairReplaceBin" value="repair"> Repair</label>
            <label style="padding-right: 20px;" class="radio-inline"><input type="radio" ng-model="repairReplaceBin" value="replace"> Replace</label>
            <label class="radio-inline"><input type="radio" ng-model="repairReplaceBin" value="no"> No</label>
        </div>
    </div>
    <div class="col-md-6">
        <b>Total Cost: </b>
        <p ng-show="status != 'PENDING'">RM {{dbr[0].cost}}</p>
        <span ng-show="status == 'PENDING'">RM</span><input ng-show="status == 'PENDING'" type="text" class="form-control" rows="5" id="txtRemarks" data-ng-model="dbr[0].cost" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <b>If No, please state Alternative Action</b>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
            <p ng-show="status != 'PENDING'">{{dbr[0].alternativeAction}}</p>
        <textarea ng-show="status == 'PENDING'" class="form-control" rows="4" data-ng-model="dbr[0].alternativeAction"></textarea>
    </div>
</div>
</br>
</br>
<div class="row">
    <div class="col-md-12">
        <h6>Logistics Department</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        Verified By: {{dbr[0].verifiedBy}}
    </div>
    <div class="col-md-6">
        Verified Date: {{dbr[0].verifiedDate | date: 'dd-MM-yyyy' : 'UTC+06'}}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        Rectified Date: {{dbr[0].rectifiedDate | date: 'dd-MM-yyyy' : 'UTC+06'}}
    </div>
    <div class="col-md-6">
        Status: {{dbr[0].status}}
    </div>
</div>