<div class="modal fade" id="createDcsEntry" tabindex="-1" role="dialog" aria-labelledby="createDcsEntry" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Add a DCS</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtDcsPeriodFrom form-label">Period From</label>
                    <input type="date" class="form-control" id="txtDcsPeriodFrom" data-ng-model="dcs.periodFrom" />
                </div>
                
                <div class="form-group">
                    <label for="txtDcsPeriodTo form-label">Period To</label>
                    <input type="date" class="form-control" id="txtDcsPeriodTo" data-ng-model="dcs.periodTo" />
                </div>
                <div class="form-group">
                  <label for="txtDcsDriver form-label">Driver</label>
                  <input type="text" class="form-control" id="txtDcsDriver" data-ng-model="dcs.driver" />
                </div>
                <div class="form-group">
                  <label for="txtDcsReplacementPeriodFrom form-label">Replacement Period From</label>
                  <input type="date" class="form-control" id="txtDcsReplacementPeriodFrom" data-ng-model="dcs.replacementPeriodFrom" />
                </div>
            
                <div class="form-group">
                    <label for="txtDcsReplacementPeriodTo form-label">Replacement Period To</label>
                    <input type="date" class="form-control" id="txtDcsReplacementPeriodTo" data-ng-model="dcs.replacementPeriodTo" />
                </div>
                <div class="form-group">
                  <label for="txtDcsReplacementDriver form-label">Replacement Driver</label>
                  <input type="text" class="form-control" id="txtDcsReplacementDriver" data-ng-model="dcs.replacementDriver" />
                </div>
         
                
                
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-ng-click="addDcsEntry();">Create</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row" data-ng-show="show.create == 'A'">
            <div class="col-md-12">
                <button class="btn btn-success" data-toggle="modal" data-target="#createDcsEntry"><i class="fa fa-plus"></i> New</button>
            </div>
        </div>




<div class="row">
    <div class="col-md-6">
        <h5>Driver's Collection Schedule (for ACR Customers)</h5>
    </div>
    <div class="col-md-6">
        <p>TRIENEKENS LOGO</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h6>Additional Collection Areas: </h6>
    </div>
    <div class="col-md-3">
            {{d.areas}}
    </div>
    <div class="col-md-1">
        <h6>Period: </h6>
    </div>
    <div class="col-md-2">
            {{d.periodFrom}}
    </div>
    <div class="col-md-1">
            <h6>To: </h6>
    </div>
    <div class="col-md-2">
            {{d.periodTo}}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <h6>Driver Name: </h6>
    </div>
    <div class="col-md-1">
            {{d.driver}}
    </div>
    <div class="col-md-2">
        <h6>Replacement Driver Name: </h6>
    </div>
    <div class="col-md-1">
            {{d.replacementDriver}}
    </div>
    <div class="col-md-2">
        <h6>Replacement Period: </h6>
    </div>
    <div class="col-md-1">
            {{d.replacementPeriodFrom}}
    </div>
    <div class="col-md-2">
        <h6>To:</h6>
    </div>
    <div class="col-md-1">
        {{d.replacementPeriodTo}}
    </div>
</div>

</br>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-clickable">
                <thead>
                    <tr>
                        <th width="15%" data-ng-click="orderBy('acrfNo');">ACRF Number <i class="fas fa-sort-down"></i></th>
                        <th width="15%" data-ng-click="orderBy('company');">Company Name <i class="fas fa-sort-down"></i></th>
                        <th width="15%" data-ng-click="orderBy('address');">Address <i class="fas fa-sort-down"></i></th>
                        <th width="5%" data-ng-click="orderBy('beBins');">BE Bins/Unit <i class="fas fa-sort-down"></i></th>
                        <th width="5%" data-ng-click="orderBy('acrBins');">ACR Bins/Unit <i class="fas fa-sort-down"></i></th>
                        <th width="5%" data-ng-click="orderBy('areaCode');">Area Code <i class="fas fa-sort-down"></i></th>
                        <th width="5%" data-ng-click="orderBy('Mon');">Mon</i></th>
                        <th width="5%" data-ng-click="orderBy('Tue');">Tue</i></th>
                        <th width="5%" data-ng-click="orderBy('Wed');">Wed</i></th>
                        <th width="5%" data-ng-click="orderBy('Thu');">Thu</i></th>
                        <th width="5%" data-ng-click="orderBy('Fri');">Fri</i></th>
                        <th width="5%" data-ng-click="orderBy('Sat');">Sat</th>
                        <th width="10%" data-ng-click="orderBy('remarks');">Remarks <i class="fas fa-sort-down"></i></th>
                    </tr>
                </thead>
                <tbody>               
                    <tr data-ng-repeat="d in dcsDetails | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage" class="clickable-row">
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.acrfNo" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.acrfNo"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.company" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.company"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.address" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.address"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.beBins" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.beBins"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.acrBins" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.acrBins"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.areaCode" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.areaCode"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.mon" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.mon"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.tue" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.tue"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.wed" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.wed"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.thu" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.thu"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.fri" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.fri"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.sat" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.sat"></span>
                            </div>
                            <div editable>
                                <input type="text" class="form-control" data-ng-model="d.remarks" data-ng-show="!showDcsDetails" />
                                <span data-ng-show="showDcsDetails" data-ng-bind="d.remarks"></span>
                            </div>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                Prepared by:
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Name:
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Date:
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                Checked by:
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    Name:
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    Date:
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                Verified by:
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    Name:
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    Date:
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                Job completed:
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    Name:
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Date:
            </div>
        </div>
    </div>

</div>