<style>
.date-separator{
    position: relative;
    text-align: center;
}

.date-separator .date-label{
    background-color: #fff;
    padding: 0 0.4em;
    position: relative;
    color: #AAA;
    font-style: italic;
}

.date-separator:before{
    content: '';
    border-style: solid;
    border-width: 0 0 1px 0;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -4px;
    border-color: #AAA;
}
    .table-borderless td, .borderless th {
    border: none;
}
</style>

<div class="row">
    <div class="col-md-12">
        <h5>Transaction Log</h5>
    </div>
</div>
<br />
<!-- <div class="row">
    <div class="col-md-12 text-center">
        <div class="date-separator">
            <label class="date-label"><i class="fa fa-calendar"></i> Today</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-sm table-borderless">
                <tr class="firstRow">
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:24</td>
                </tr>
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:03</td>
                </tr>
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:03</td>
                </tr>
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:03</td>
                </tr>
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:03</td>
                </tr>
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:03</td>
                </tr>
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:03</td>
                </tr>
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:03</td>
                </tr>
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:03</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <div class="date-separator">
            <label class="date-label"><i class="fa fa-calendar"></i> 24 March 2019</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-sm table-borderless">
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:24</td>
                </tr>
                <tr>
                    <td>Addison</td>
                    <td>Zone 1 complete.</td>
                    <td>14:03</td>
                </tr>
            </table>
        </div>
    </div>
</div> -->

<div class="row" data-ng-show="show.view == 'A'">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-clickable">
                            <thead>
                                <tr>
                                    <th width="20%" data-ng-click="orderBy('date');">Date <i class="fas fa-sort-down"></i></th>
                                    <th width="25%" data-ng-click="orderBy('description');">Description <i class="fas fa-sort-down"></i></th>
                                    <th width="15%" data-ng-click="orderBy('staffName');">Staff <i class="fas fa-sort-down"></i></th>
                                    <th width="15%" data-ng-click="orderBy('authorizedBy');">Authorized By <i class="fas fa-sort-down"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="t in transactionList | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage">
                                    <td>
                                        <span data-ng-bind="t.date"></span>
                                    </td>
                                    <td>
                                        <span data-ng-bind="t.description"></span>
                                    </td>
                                    <td>
                                        <span data-ng-bind="t.staffName"></span>
                                    </td>
                                    <td>
                                        <span data-ng-bind="t.authorizedBy"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" style="position: fixed;bottom: 0; margin-bottom: 56px;">
                <div class="col-md-12">
                    <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
                </div>
            </div>
        </div>
    </div>
<script>
$(document).ready(function(){
    var delay = 0, interval = 100;
    window.sr = new ScrollReveal({reset: false, mobile: true});
    $('.date-separator, tr').each(function(index, elem) {
        sr.reveal(elem, {duration: 500, origin: 'bottom', distance: '5vw', delay: delay, opacity: 0.1});
        delay += interval;
    });
});
</script>