<style>
#container {
  width: 420px;
  margin: 20px auto;
}
</style>
<!-- Modal for settings-->
<div class="modal fade" id="emailSettings" tabindex="-1" role="dialog" aria-labelledby="emailSettings" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Email Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtEmail form-label">Email</label>
                    <input type="text" class="form-control" id="txtEmail" data-ng-model="emailSettings.receivers" />
                </div>
<!--
                <div class="form-group">
                    <label for="txtTime form-label">Time</label>
                    <input type="time" class="form-control" id="txtTime" data-ng-model="emailSettings.time" disabled/>
                </div>
-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-ng-click="saveSettings();">Save Settings</button>
                <button type="button" class="btn btn-danger" data-ng-click="sendEmail();"><i class="fa fa-paper-plane"></i> Send</button>
            </div>
        </div>
    </div>
</div>

<div id="exportPDF">
<div class="row">
    <div class="col-md-12">
        <h4>Overall Report</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <h5>{{todayDate | date:'fullDate'}}</h5>
    </div>
    <div class="col-md-1">
        <button class="btn btn-info" data-toggle="modal" data-target="#emailSettings"><i class="fa fa-envelope"></i> Email</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
        <div class="card-counter info">
            <!--            <i class="fa fa-map-marker"></i>-->
            <span class="count-numbers" data-ng-bind="todayAreaCount"></span>
            <span class="count-name">Total Today Report</span>
        </div>
    </div>
    <div class="col-md-3">
       <div class="card-counter success">
            <!--            <i class="fa fa-map-marker"></i>-->
            <span class="count-numbers" data-ng-bind="reportCompleteCount"></span>
            <span class="count-name">Total Complete Report</span>
        </div>
    </div>
    <div class="col-md-3">
       <div class="card-counter danger">
            <!--            <i class="fa fa-map-marker"></i>-->
            <span class="count-numbers" data-ng-bind="reportIncompleteCount"></span>
            <span class="count-name">Total Incomplete Report</span>
        </div>
    </div>
    <div class="col-md-3">
       <div class="card-counter light">
            <!--            <i class="fa fa-map-marker"></i>-->
            <span class="count-numbers" data-ng-bind="unsubmittedCount"></span>
            <span class="count-name">Total Submission Left</span>
        </div>
    </div>
</div>
<br />
<div id="progressBar"></div>
<br />
<div class="row">
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr class="text-center">
                        <th colspan="7">Submitted Report</th>
                    </tr>
                    <tr>
                        <th width="5%">Area</th>
                        <th width="14%">Officer</th>
                        <th width="23%">Date Time Submission</th>
                        <th width="10%">Truck</th>
                        <th width="20%">Driver</th>
                        <th width="20%">Duration</th>
                        <th width="8%">Ton</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="r in submittedReport">
                        <td width="5%" data-ng-bind="r.area"></td>
                        <td width="14%" data-ng-bind="r.staffName"></td>
                        <td width="23%">{{r.reportCreation | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td width="10%" data-ng-bind="r.truckNum"></td>
                        <td width="20%" data-ng-bind="r.driverName"></td>
                        <td width="20%" data-ng-bind="r.duration"></td>
                        <td width="8%" data-ng-bind="r.ton"></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th colspan="2">Un-submitted Report</th>
                    </tr>
                    <tr>
                        <th>Area</th>
                        <th>Officer</th>
                    </tr>
                </thead>
                <tbody data-ng-repeat="s in unsubmittedReport">
                    <tr>
                        <td>{{s.area}}</td>
                        <td>{{s.staff}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<script src="https://rawgit.com/highcharts/rounded-corners/master/rounded-corners.js"></script>
<script src="/scripts/html2canvas.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
