<!-- Modal for today-->
<div class="modal fade" id="chooseArea" tabindex="-1" role="dialog" aria-labelledby="chooseArea" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Choose Zone and Area</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <tbody data-ng-repeat="z in areaList">
                        <tr data-target="#{{z.zone.id}} + today" data-toggle="collapse" class="clickable" aria-expanded="false">
                            <th>{{z.zone.name}} <i class="fa fa-chevron-circle-right"></i></th>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <div class="collapse myOptions" id="{{z.zone.id}} + today">
                                    <table class="table table-clickable">
                                        <tbody>
                                            <tr class="clickable-row" data-ng-repeat="a in z.area" data-ng-click="thisArea(a.id, a.name, 'today');">
                                                <td data-dismiss="modal" data-ng-bind="a.code"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Pass-->
<div class="modal fade" id="choosePassArea" tabindex="-1" role="dialog" aria-labelledby="choosePassArea" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Choose Zone and Area</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <tbody data-ng-repeat="pz in passAreaList">
                        <tr data-target="#{{pz.zone.id}} + pass" data-toggle="collapse" class="clickable" aria-expanded="false">
                            <th>{{pz.zone.name}} <i class="fa fa-chevron-circle-right"></i></th>
                        </tr>

                        <tr>
                            <td colspan="12">
                                <div class="collapse myOptions" id="{{pz.zone.id}} + pass">
                                    <table class="table table-clickable">
                                        <tbody>
                                            <tr class="clickable-row" data-ng-repeat="pa in pz.area" data-ng-click="thisArea(pa.id, pa.name, 'pass');">
                                                <td data-dismiss="modal" data-ng-bind="pa.code"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Reporting</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" placeholder="&#XF002; Search here..." data-ng-model="searchReportFilter"/>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2" data-ng-show="show.create == 'A'">
        <button class="btn btn-success" data-toggle="modal" data-target="#chooseArea"><i class="fa fa-plus"></i> Today Report</button>
    </div>
    <div class="col-md-2" data-ng-show="show.create == 'A'">
        <button class="btn btn-success" data-toggle="modal" data-target="#choosePassArea"><i class="fa fa-plus"></i> Pass Report</button>
    </div>
</div>
<br />

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="all-tab" data-toggle="tab" data-target="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="normal-tab" data-toggle="tab" data-target="#normal" role="tab" aria-controls="normal" aria-selected="false">Normal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="abnormal-tab" data-toggle="tab" data-target="#abnormal" role="tab" aria-controls="abnormal" aria-selected="false">Abnormal</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th width="11%" data-ng-click="orderBy('date');">Collection Date <i class="fas fa-sort-down"></i></th>
                                <th width="16%">Submission Date <i class="fas fa-sort-down"></i></th>
                                <th width="10%" data-ng-click="orderBy('area');">Area Code <i class="fas fa-sort-down"></i></th>
                                <th width="12%" data-ng-click="orderBy('staffName');">Staff <i class="fas fa-sort-down"></i></th>
                                <th width="8%" data-ng-click="orderBy('truck');">Truck <i class="fas fa-sort-down"></i></th>
                                <th width="6%" data-ng-click="orderBy('ton');">Ton <i class="fas fa-sort-down"></i></th>
                                <th width="5%">Read</th>
                                <th width="*" data-ng-click="orderBy('remark');">Remark <i class="fas fa-sort-down"></i></th>
                                <th width="*" data-ng-click="orderBy('feedback');">Feedback <i class="fas fa-sort-down"></i></th>
                                
                            </tr>
                        </thead>
                        <tbody>               
                            <tr data-ng-repeat="d in reportList | filter: searchReport | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage" class="clickable-row" data-ng-click="viewReport(d.reportID);">
                                <td data-ng-bind="d.date"></td>
                                <td data-ng-bind="d.sdate"></td>
                                <td data-ng-bind="d.area"></td>
                                <td data-ng-bind="d.staffName"></td>
                                <td data-ng-bind="d.truck"></td>
                                <td data-ng-bind="d.ton"></td>
                                <td><i data-ng-if="d.readStatus == 'C'" class="fas fa-check"></i><i data-ng-if="d.readStatus == 'I'" class="fas fa-times"></i></td>
                                <td data-ng-bind="d.remark"></td>
                                <td data-ng-bind="d.feedback"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row"> <!--style="position: fixed;bottom: 0; margin-bottom: 56px;"-->
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
    
    <div class="tab-pane fade" id="normal" role="tabpanel" aria-labelledby="normal-tab">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="15%" data-ng-click="orderBy('area');">Area Code<i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('date');">Date <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('truck');">Truck <i class="fas fa-sort-down"></i></th>
                                <th width="10%" data-ng-click="orderBy('ton');">Ton <i class="fas fa-sort-down"></i></th>
                                <th width="*" data-ng-click="orderBy('remark');">Remark <i class="fas fa-sort-down"></i></th>
                            </tr>
                        </thead>
                        <tbody>               
                            <tr data-ng-repeat="d in normalReport | filter: searchReport | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage" class="clickable-row" data-ng-click="viewReport(d.reportID);">
                                <td data-ng-bind="d.area"></td>
                                <td data-ng-bind="d.date"></td>
                                <td data-ng-bind="d.truck"></td>
                                <td data-ng-bind="d.ton"></td>
                                <td data-ng-bind="d.remark"></td>
                            </tr>
                            <tr data-ng-show="normalReport.length === 0">
                                <td class="text-center" colspan="4">Records Not Found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row"> <!--style="position: fixed;bottom: 0; margin-bottom: 56px;"-->
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalNormalReport" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="abnormal" role="tabpanel" aria-labelledby="abnormal-tab">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="15%" data-ng-click="orderBy('area');">Area Code<i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('date');">Date <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('truck');">Truck <i class="fas fa-sort-down"></i></th>
                                <th width="10%" data-ng-click="orderBy('ton');">Ton <i class="fas fa-sort-down"></i></th>
                                <th width="*" data-ng-click="orderBy('remark');">Remark <i class="fas fa-sort-down"></i></th>
                            </tr>
                        </thead>
                        <tbody>               
                            <tr data-ng-repeat="d in abnormalReport | filter: searchReport | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage" class="clickable-row" data-ng-click="viewReport(d.reportID);">
                                <td data-ng-bind="d.area"></td>
                                <td data-ng-bind="d.date"></td>
                                <td data-ng-bind="d.truck"></td>
                                <td data-ng-bind="d.ton"></td>
                                <td data-ng-bind="d.remark"></td>
                            </tr>
                            <tr data-ng-show="abnormalReport.length === 0">
                                <td class="text-center" colspan="4">Records Not Found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row"> <!--style="position: fixed;bottom: 0; margin-bottom: 56px;"-->
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalAbnormalReport" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.clickable').click(function() {
            $(this).children().find('i').toggleClass("fa-chevron-circle-right fa-chevron-circle-down");
            $('html, body').animate({
                scrollTop: $(this).offset().top - 20
            }, 'slow');
        });
    });
    //$(".table-clickable").on('click', '.clickable-row', function (e, row, $element) {
    //    window.location.href = $(this).data('href');
    //});

</script>
