<!-- Modal -->
<!--16/5 sing hong modify-->
<div class="modal fade" id="createTruck" tabindex="-1" role="dialog" aria-labelledby="createTruck" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Truck</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="txtTruckNo form-label">Truck Number</label>
              <input type="text" class="form-control" id="txtTruckNo" data-ng-model="truck.no" />
          </div>
          
          <div class="form-group">
              <label for="txtTransporterID form-label">Transporter ID</label>
              <input type="text" class="form-control" id="txtTransporterID " data-ng-model="truck.transporter" />
          </div>
          
          <div class="form-group">
              <label for="txtTon form-label">Collection Ton</label>
              <input type="text" class="form-control" id="txtTon " data-ng-model="truck.ton" />
          </div>
          
          <div class="form-group">
              <label for="txtRoadTaxExp form-label">Road Tax Expiry Date</label>
              <input type="date" class="form-control" id="txtRoadTaxExp " data-ng-model="truck.roadtax" />
          </div>
          <!--
          <div class="form-group">
              <label for="sltDriver form-label">Driver</label>
              <select id="sltDriver" class="form-control" data-ng-model="truck.driver" data-ng-options="driver as driver.name for driver in driverList">
              </select>
          </div>
          -->
          
<!-- 
          <div class="form-group">
              <label for="sltArea form-label">Area</label>
              <select id="sltArea" data-ng-model="truck.area" class="selectpicker" data-live-search="true" data-width="100%">
                  <optgroup data-ng-repeat="w in areaList" label="{{w.zone.name}}">
                      <option value="{{a.id}}" data-ng-repeat="a in w.area">{{a.id}} - {{a.name}}</option>
                  </optgroup>
              </select>
              

              <select id="sltArea" data-ng-model="truck.area" class="selectpicker" data-live-search="true" data-width="100%">
                  <optgroup label="Zone 1">
                      <option>ARE1903250001 - Area 1</option>
                      <option>ARE1903250002 - Area 2</option>
                      <option>ARE1903250003 - Area 3</option>
                  </optgroup>
                  <optgroup label="Zone 2">
                      <option>ARE1903250004 - Area 1</option>
                      <option>ARE1903250005 - Area 2</option>
                      <option>ARE1903250006 - Area 3</option>
                  </optgroup>
                  <optgroup label="Zone 3">
                      <option>ARE1903250007 - Area 1</option>
                      <option>ARE1903250008 - Area 2</option>
                      <option>ARE1903250009 - Area 3</option>
                  </optgroup>
                  <optgroup label="Zone 4">
                      <option>ARE1903250010 - Area 1</option>
                      <option>ARE1903250011 - Area 2</option>
                      <option>ARE1903250012 - Area 3</option>
                  </optgroup>
                  <optgroup label="Zone 5">
                      <option>ARE1903250013 - Area 1</option>
                      <option>ARE1903250014 - Area 2</option>
                      <option>ARE1903250015 - Area 3</option>
                  </optgroup>
              </select>

          </div>
-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="addTruck();">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Truck Management</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" data-ng-model="searchTruckFilter" placeholder="&#XF002; Search here..." />
    </div>
</div>
<br />
<div class="row" data-ng-show="show.create == 'A'">
    <div class="col-md-11">
        <button class="btn btn-success" data-toggle="modal" data-target="#createTruck"><i class="fa fa-plus"></i> New</button>
    </div>
    <div class="col-md-1" style="padding-top: 10px">
        <label style="cursor: pointer;"><input type="checkbox" data-ng-model="statusList" data-ng-click="updateStatusList()"> Active</label>
    </div>
</div>
<br />
<div class="row" data-ng-show="show.view">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="15%" data-ng-click="orderBy('id');">Truck Code <i class="fas fa-sort-down"></i></th>
                                <th width="10%" data-ng-click="orderBy('no');">Truck NO <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('transporter');">Transporter ID <i class="fas fa-sort-down"></i></th>
                                <!--<th>Driver</th>-->
                                <!--<th>Collect Area</th>--> <!-- Truck area -->
                                <th width="15%" data-ng-click="orderBy('ton');">Available Collection Ton <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('roadtax');">Road Tax Expiry <i class="fas fa-sort-down"></i></th>
                                <th width="5%" data-ng-click="orderBy('status');">Status <i class="fas fa-sort-down"></i></th>
                                <th data-ng-show="show.edit == 'A'" width="5%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="t in truckList | filter: searchTruck | offset: (pagination.currentPage - 1) * pagination.itemsPerPage | limitTo: pagination.itemsPerPage">
                                <td>
                                    <span data-ng-bind="t.id"></span>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="t.no" data-ng-show="!showTruck" />
                                        <span data-ng-show="showTruck" data-ng-bind="t.no"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="t.transporter" data-ng-show="!showTruck" />
                                        <span data-ng-show="showTruck" data-ng-bind="t.transporter"></span>
                                    </div>
                                </td>
                                <!--<td data-ng-bing="t.driver"></td>-->
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="t.ton" data-ng-show="!showTruck" />
                                        <span data-ng-show="showTruck" data-ng-bind="t.ton"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="t.roadtax" data-ng-show="!showTruck" />
                                        <span data-ng-show="showTruck" data-ng-bind="t.roadtax"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <select class="form-control" data-ng-model="t.status" data-ng-show="!showTruck">
                                            <option>ACTIVE</option>
                                            <option>INACTIVE</option>
                                        </select>
                                        <span data-ng-show="showTruck" data-ng-bind="t.status"></span>
                                    </div>
                                </td>
                                <td data-ng-show="show.edit == 'A'">
                                    <button class="btn btn-sm btn-primary" data-ng-show="showTruck" data-ng-click="editTruck(t.id, t.no, t.transporter, t.ton, t.roadtax, t.status);"><i class="fa fa-pencil-alt"></i></button>
                                    
                                    <button class="btn btn-sm btn-warning" data-ng-show="!showTruck" data-ng-click="saveTruck();"><i class="fa fa-save"></i></button>
                                    
                                    <button class="btn btn-sm btn-default" data-ng-show="!showTruck" data-ng-click="cancelTruck();"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="pagination.currentPage" data-max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>

<script>
$(".table-clickable").on('click', '.clickable-row', function (e, row, $element) {
    window.location.href = $(this).data('href');
});
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>