<div class="row">
    <div class="col-md-12">
        <h5>Bin History</h5>
    </div>
</div>

<br />
<br />

<div class="row" ><!--data-ng-show="show.view == 'A'"-->
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="20%" data-ng-click="orderBy('date');">Date <i class="fas fa-sort-down"></i></th>
                                <th width="35%" data-ng-click="orderBy('name');">Full Name <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('icNo');">IC No. <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('serialNo');">Serial No. <i class="fas fa-sort-down"></i></th>
                                <th width="10%" data-ng-click="orderBy('rcDwell');">RC Dwell <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('houseNo');">House No. <i class="fas fa-sort-down"></i></th>
                                <th width="35%" data-ng-click="orderBy('tmnKpg');">Tmn/Kpg <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('areaCode');">Area Code <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('status');">Status <i class="fas fa-sort-down"></i></th>
                                <th width="10%" data-ng-click="orderBy('comment');">Comment <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('binSize');">Bin Size <i class="fas fa-sort-down"></i></th>
                                <th width="35%" data-ng-click="orderBy('address');">Address <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('companyName');">Company Name <i class="fas fa-sort-down"></i></th>
                                <th width="20%" data-ng-click="orderBy('acrfSerialNo');">ACRF Serial No. <i class="fas fa-sort-down"></i></th>
                            </tr>
                        </thead>
                        <tbody> <!--dateFilter:date.from:date.to |filter: wbdFilter |-->
                            <tr data-ng-repeat="b in binHistoryList |   offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage" class="clickable-row">
                                <td>
                                    <div editable>
                                        <input type="date" class="form-control" data-ng-model="b.date" data-ng-show="!showBinHistory" />
                                        <span data-ng-show="showBinHistory" data-ng-bind="b.date | date:'dd-MM-yyyy'"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <select type="text" class="form-control" data-ng-model="b.customerID" data-ng-show="!showBinHistory">
                                                <option data-ng-repeat="c in customerList" value={{c.customerID}}>{{c.ic}} - {{c.name}}</option>
                                        </select>
                                        <span data-ng-show="showBinHistory" data-ng-bind="b.customerID"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.icNo"  />
                                        <span  data-ng-bind="b.icNo"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <select type="text" class="form-control" data-ng-model="b.serialNo" >
                                            <option data-ng-repeat="b in binList" value={{b.serialNo}}>{{b.serialNo}}</option>
                                        </select>
                                        <span  data-ng-bind="b.serialNo"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.rcDwell"  />
                                        <span  data-ng-bind="b.rcDwell"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.houseNo"  />
                                        <span  data-ng-bind="b.houseNo"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.tmnKpg"  />
                                        <span  data-ng-bind="b.tmnKpg"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <select type="text" class="form-control" data-ng-model="b.areaCode" >
                                            <option data-ng-repeat="a in areaList" value={{a.id}}>{{a.id}}</option>
                                        </select>
                                        <span  data-ng-bind="b.areaCode"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.status"  />
                                        <span  data-ng-bind="b.status"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.comment"  />
                                        <span  data-ng-bind="b.comment"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.binSize"  />
                                        <span  data-ng-bind="b.binSize"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.address"  />
                                        <span  data-ng-bind="b.address"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.companyName"  />
                                        <span  data-ng-bind="b.companyName"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="b.acrfSerialNo"  />
                                        <span  data-ng-bind="b.acrfSerialNo"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="position: fixed;bottom: 0; margin-bottom: 56px;">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>
