<!--
TODO LIST:
- Select specific zone to edit
- Show updated edit
- View information
- Show including area
-->

<!-- Modal for add new-->
<div class="modal fade" id="createZone" tabindex="-1" role="dialog" aria-labelledby="createZone" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Zone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="txtZoneCode form-label">Zone Code</label>
              <input type="text" class="form-control" id="txtZoneCode" data-ng-model="zone.code" />
          </div>
          <div class="form-group">
              <label for="txtZoneName form-label">Zone Name</label>
              <input type="text" class="form-control" id="txtZoneName" data-ng-model="zone.name" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="addZone();" data-ng-show="showCreateBtn">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Zone Management</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" placeholder="&#XF002; Search here..." data-ng-model="searchZoneFilter" />
    </div>
</div>
<br />
<div class="row" data-ng-show="show.create == 'A'">
    <div class="col-md-11">
        <button class="btn btn-success" data-toggle="modal" data-target="#createZone"><i class="fa fa-plus"></i> New</button>
        
    </div>
    <div class="col-md-1" style="padding-top: 10px" >
        <label style="cursor: pointer;"><input type="checkbox" data-ng-model="statusList" data-ng-click="updateStatusList()"> Active</label>
    </div>
</div>
<br />
<div class="row" data-ng-show="show.view == 'A'">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="10%" data-ng-click="orderBy('id');">Zone Code <i class="fas fa-sort-down"></i></th>
                                <th width="35%" data-ng-click="orderBy('name');">Zone Name <i class="fas fa-sort-down"></i></th>
                                <th width="15%" data-ng-click="orderBy('status');">Status <i class="fas fa-sort-down"></i></th>
                                <th data-ng-show="show.edit == 'A'" width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="z in zoneList | filter: searchZone | offset: (pagination.currentPage - 1) * pagination.itemsPerPage | limitTo: pagination.itemsPerPage">
                                <td>
                                   <div editable>
                                      <input type="text" class="form-control" data-ng-model="z.code" data-ng-show="!showZone" />
                                      <span data-ng-show="showZone" data-ng-bind="z.code"></span>   
                                   </div>
                                </td>
                                <td>
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="z.name" data-ng-show="!showZone" />
                                        <span data-ng-show="showZone" data-ng-bind="z.name"></span>
                                    </div>
                                </td>
                                <td>
                                    <div editable>
                                        <select class="form-control" data-ng-model="z.status" data-ng-show="!showZone">
                                            <option>ACTIVE</option>
                                            <option>INACTIVE</option>
                                        </select>
                                        <span data-ng-show="showZone" data-ng-bind="z.status"></span>
                                    </div>
                                </td>
                                <td data-ng-show="show.edit == 'A'">
                                    <button class="btn btn-sm btn-primary" data-ng-show="showZone" data-ng-click="editZone(z.id, z.code, z.name, z.status);"><i class="fa fa-pencil-alt"></i></button>
                                    <button class="btn btn-sm btn-warning" data-ng-show="!showZone" data-ng-click="saveZone();"><i class="fa fa-save"></i></button>
                                    <button class="btn btn-sm btn-default" data-ng-show="!showZone" data-ng-click="cancelZone();"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="position: fixed;bottom: 0; margin-bottom: 56px;">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="pagination.currentPage" data-max-size="pagination.maxSize" items-per-page="pagination.itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>