<!--
TODO LIST:
- Select specific zone to edit
- Show updated edit
- View information
- Show including area
-->

<!-- Modal for add new-->
<div class="modal fade" id="createZone" tabindex="-1" role="dialog" aria-labelledby="createZone" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Zone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <label for="txtZoneName form-label">Zone Name</label>
              <input type="text" class="form-control" id="txtZoneName" data-ng-model="zone.name" />
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-ng-click="addZone();">Create</button>
      </div>
    </div>
  </div>
</div>
<!--15/5 sing hong-->
<!-- Modal for edit-->
<div class="modal fade" id="editZone" tabindex="-1" role="dialog" aria-labelledby="editZone" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Zone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
          <div class="form-group">
              <!--<div class="col-md-4"><text>Zone ID:</text></div>
              <div class="col-md-8"><text>id here</text></div>-->
              <label for="editZoneId form-label">Zone ID:</label>
              <input type="text" class="form-control" id="editZoneId" data-ng-model="zone.editZoneId" />
          </div>
          <div class="form-group">
              <label for="editZoneName form-label">Zone Name</label>
              <input type="text" class="form-control" id="editZoneName" data-ng-model="zone.editZoneName" />
          </div>
          <div class="form-group">
              <label for="editZoneStatus form-label">Status</label>
             <select class="form-control" id="editZoneStatus" data-ng-model="zone.editZoneStatus">
                 <option value="A">Activate</option>
                 <option value="I">Inactivate</option>
              </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!--temporary, have to remove it-->
        <button type="button" class="btn btn-primary" data-ng-click="editZone();">Edit</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>Zone Management</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" class="form-control fas" placeholder="&#XF002; Search here..." data-ng-model="searchZoneFilter" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" data-toggle="modal" data-target="#createZone"><i class="fa fa-plus"></i> New</button>
        
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-clickable">
                        <thead>
                            <tr>
                                <th width="20%">Zone Code <i class="fas fa-sort-down"></i></th>
                                <th width="25%">Zone Name <i class="fas fa-sort-down"></i></th>
                                <th width="15%">Status <i class="fas fa-sort-down"></i></th>
                                <th width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="z in zoneList | filter: searchZone | offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage">
                                <td data-ng-bind="z.id"></td>
                                <td data-ng-bind="z.name">
                                    <div editable>
                                        <input type="text" class="form-control" data-ng-model="z.name" data-ng-show="" />
                                        <span data-ng-show="" data-ng-bind=""></span>
                                    </div>
                                </td>
                                <td data-ng-bind="z.status">
                                    <div editable>
                                        <select class="form-control" data-ng-model="z.status" data-ng-show="">
                                            <option>ACTIVE</option>
                                            <option>INACTIVE</option>
                                        </select>
                                        <span data-ng-show="" data-ng-bind=""></span>
                                    </div>
                                </td>
                                
                                <!--create action button here-->
                                <td>
<!--                                   <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editZone">Edit</button>-->
                                    <button class="btn btn-sm btn-primary" data-ng-show="showTruck" data-ng-click="edit();"><i class="fa fa-pencil-alt"></i></button>
                                    
                                    <button class="btn btn-sm btn-warning" data-ng-show="!showTruck" data-ng-click="saveTruck();"><i class="fa fa-save"></i></button>
                                    
                                    <button class="btn btn-sm btn-default" data-ng-show="!showTruck" data-ng-click="cancelTruck();"><i class="fa fa-times"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" style="position: fixed;bottom: 0; margin-bottom: 56px;">
            <div class="col-md-12">
                <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" boundary-link-numbers="true"></ul>
            </div>
        </div>
    </div>
</div>