/* Login Page*/
.login-box .col-md-3 {
    line-height: 38px;
}
.login-box {
    width: 30rem;
}
.center-box{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Login Page*/

/* bootstrap-card */
.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.primary{
    background-color: #007bff;
    color: #FFF;
}

.card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
}  

.card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
}  

.card-counter.info{
    background-color: #26c6da;
    color: #FFF;
}  

.card-counter.warning{
    background-color: #FFCC46;
    color: #FFF;
}

.card-counter i{
    font-size: 5em;
    opacity: 0.2;
}

.card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}

.card-counter .count-report-complete{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 18px;
    display: block;
}

.card-counter .count-report-incomplete{
    position: absolute;
    right: 35px;
    top: 40px;
    font-size: 18px;
    display: block;
}

.card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}
.card-counter.info, .card-counter.success, .card-counter.danger {
    font-weight: bold;
}
/* bootstrap-card */

/* Chart */
#line-chart, #bar-chart {
/*    max-width: 500px;*/
    height: 500px;
    margin: 0 auto;
}
.chart {
    height: 220px;
}
/* Chart */

.table.table-clickable tbody tr:hover {
    cursor: pointer;
    font-weight: bold;
}
.fixed-bottom-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(12, 42, 17);
    color: white;
    text-align: center;
}
.footer-row {
    margin: 0px;
    z-index: 2;
}

.col-menu-3 {
    margin-right: -35px;
}
@media screen and (max-width: 70.75em) {
    .dummy-space {
        height: 8vh;
    }
}

@media screen and (max-width: 45em) {
    .login-box {
        width: 22rem;
    }
}

@media screen and (min-width: 119em) {
    .col-menu-3 {
        margin-right: -100px;
    }
}

/* Error Page */
.error-page{text-align:center}.error-page .error-page-code{color:#a12929;font-size:110px;text-shadow:5px 5px 5px rgba(0,0,0,.5)}.error-page .error-page-text{text-shadow:2px 2px 3px rgba(0,0,0,.5)}.error-page .error-page-subtext{font-size:18px}.error-page .error-page-actions{list-style:none;font-weight:700}.error-page .error-page-actions li{margin-bottom:10px;padding:0 10px;display:inline-block}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }

    50% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
    }

    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse
}

/* Error Page */

/* Table Accordion */
.myOptions {
  padding: 0; 
  margin: 0;
}


td[colspan] {
	padding:0 !important;
}

.table {
	margin-bottom:0 !important;
}
/* Table Accordion */

/* Personal Profile */
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.profile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
/* Personal Profile */